<h1>Enter your Username and Password:</h1>
<% if flash.has?(:login_errors) %>
<p class="flash"><%= flash[:login_errors] %></p>
<% end %>
<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type=submit name="login" value="Log In" ><br>
</form>
