<h2>Please Log In</h2>
<form method="POST" action="/sessions">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>

  <input type="text" name="login" id="login" value="Log In">
</form>
