<div class="container">
  <div class="form_box_md_container">
    LOGIN
    <form action="/sessions" method="post">
      <div class="form_box_md">
        <p>USERNAME</p>
        <input type="text" name="username" class="form_box_md_input_text">
        <p>PASSWORD</p>
        <input type="password" name="password" class="form_box_md_input_text">
      </div>
      <input type="submit" name="Submit" class="button_md_yellow" value="Login">
    </form>
  </div>
</div>
