<h1>Log in</h1>
<form action ="/login" method="post">
  <input type = "text" name="username" id="username" placeholder ="Username">
  <br>
  <input type = "password" name="password" id="password">
  <br>
  <input type = "submit" value = "Log in">
</form>
