<% if flash[:error] %>
 <% flash[:error].each do |e| %>
   <p class="error message"><%= e + "." %></p>
  <% end %>
<% end %>

<h1>Signup Here!</h1>

<form action="/signup" method="post">

  <label for="email">Email:</label>
  <input type="text" name="email">
  <br><br>

  <label for="username">Username:</label>
  <input type="text" name="username">
  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" value="Signup">

</form>
