<a href="/"><img src="https://farm2.staticflickr.com/1515/25704872810_fa439133c1_n.jpg"></a><br><br>

<h1>Signup Form</h1>

<form method="post" action='/signup'>
  Username: <input required type="text" id="username" name="username"><br><br>
  Email: <input required type="email" id="email" name="email"><br><br>
  Password: <input required type="password" id="password" name="password"><br><br>
  <input type="submit" id="submit">
</form>