<h1>Login Form</h1>

<form method="post" action='/login'>
  Username: <input type="text" id="username" name="username">
  Password: <input type="text" id="password" name="password">
  <input type="submit" id="submit">
</form>