<h1>Add a tweet</h1>

<form action="/tweets" method="POST">

  <label for="content">Status:</label>
  <input name="tweet[content]" type="text" id="content"> </br>

  <input type="submit" value="Create New Tweet">

</form>
