<h1>What are you up to today?</h1>
<br>
<form action='/tweets' method="post">
<label>Post Content: </label><br>
<textarea id="content" name="content"></textarea>

<br>

<input type="submit" value="submit">
</form>