<!DOCTYPE html>
<html>
<head>
  <title>Fwitter</title>
</head>
<body>
  <h1>Create a new tweet:</h1>
  <br></br>
  <form action="/tweets" method="POST">
    <input type="text" name="content">
    <input type="submit" id="submit">
  </form>
</body>
</html>