<h1>New Tweet</h1>

<form method="post" action="/tweets">
  <label for="tweet_content">Tweet: </label><br>
  <input type="text" name="tweet_content" id="tweet_content" required>

  <br><br>

  <input type="submit" value="Tweet">
</form>



<!--Log Out  -->
<form method="post" action="/logout">
  <input id="hidden" type="hidden" name "_method" value="patch">
  <input type="submit" value="Log out">
</form>
