<h3>Create A New Tweet</h3>
<form action="/tweets" method="POST">
  <input type="text" class="form-control" name="content" placeholder="Tweet Content">
  <br><br>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
