Create a Tweet!
<form action="/tweets/new" method="post">
  <label for="content">Type your Tweet here:</label><input type="text" name="content" required>
  <input type="submit" value="submit">
</form>
