<h1>Compose</h1>

<form action="/tweets" method="POST">
    <label>New tweet:</label>

    <textarea name="content" id="content" rows="4" cols="50"></textarea>

    <input type="submit" name="submit" value="submit"/>

</form>
