<h1>Create New Tweet</h1>

<form action="/tweets" method="post">

<label>New Tweet:</label>

<br></br>

<input type="text" name="content">

<br></br>

<input type="submit" name="submit" value="submit">
</form>
