<h1>Create New tweet</h1>

<form action="/tweets" method="POST">

<label>Content</label>
    <br></br>
      <input type="text" name="content"></input>

    <br></br>

    <br></br>
  <input type="submit" value="submit">
</form>
