<h2>Create a New Tweet</h2>
<form action="/tweets" method="post">
  <p>Create your tweet:</p>
  <input type="text" name="content" id="content">
  <input type="submit" id="submit" value="Submit">
</form>
