<h1>Share your thoughts:</h1>

<form method="POST" action="/tweets">
  <input type="text" name="content" id="content">
  <input type="submit" id="submit">
</form>

<p><a href="/tweets">Return to all tweets.</a></p>
<p><a href="/logout">Click here to logout.</a></p>