<h1>Enter Your Tweet</h1>

<form action="/tweets" method="post">
  <p><label><textarea name="content" cols="40" rows="5"></textarea></label></p>

  <p><button type="submit" value="submit">Submit</button>


</form>
