<h1>Tweet Form</h1>
<form action="/tweet" method="POST">

  <label for="content">Tweet:</label>
  <input id="content" type="text" name="tweet">

  <button type="submit" value="submit">Tweet</button>
</form>
