<h1>Write a Tweet</h1>
<form class="" action="/tweets/new" method="post">
  <label>New Tweet</label>
  <p><input type="text" name="content" value=""></p>
  <input type="submit" name="" value="submit">
</form>
