
<h1>Create a new tweet</h1>

<form action="/tweets" method="POST">

    <h4>Create New Tweet:</h4>
    Content: <input type="text" id="content" name="content">

    <input type="submit" value="submit">
  </form>
