<h1>Create a new Tweet</h1>

<form action='/tweets' method="POST">
  <label>Write here:</label>

  <input type="textbox" name="tweet[content]" id="content"> 
  <br/>

    <input type="submit" value='submit'/>
</form>

<p><a href="/logout">Log Out</a></p>
<p><a href="/tweets">All Tweets</a></p>

