<h2>Create A New Tweet</h2>

<form method= "POST" action= "/tweets">
  <label for= "create_tweet">What's On Your Mind?</label><br>
  <input type= "text" id= "tweet_content" name= "tweet_content"><br>
  <input type= "submit" value= "Send It!">
</form>
