<h1> Create a tweet </h1>
<form action="/tweets" method="post">
  <label>Write your tweet here:</label>
    <input type="text" id="content" name="tweet[content]"><br></br>
    <input type="submit" id="submit" value="Post tweet">
</form>
