<form action="/tweets/new" method="post">
  <label for="content"></label><br>
  <input type="text" name="content" id="content" value=""><br>
  <input type="submit" name="submit" value="submit">
</form>
