
<form action="/tweets/new" method="post">
  <label for="content">Enter Tweet Content:</label>
  <input type="text" name="content" value="" id="content">

  <input type="submit" value="submit">

</form>
