<h1>Create Tweet Page</h1>

<form action="/tweets/new" method="POST"

<p>Go ahead, kid, create a tweet!</p>

<input type="textarea" cols="40" rows="5" name="tweet[content]" id="content">
<br></br>
<input type="submit" value="Create a New Tweet" id="submit">

</form>