<br>

<form action="/tweets" method="POST"> 
  
  <!--normal-->
  </br>
  <textarea id="tweet_content" name="content" placeholder="What's on your mind?"></textarea> <br><br>
  
  <!--submit-->
  <input id="submit" type="submit" value="Tweet">
</form>

