<h2>Create a Tweet</h2>
<form action='/tweets/new' method="post">
  <h3>Say what's up!</h3><br>
  <input type="text" id='content' name='content'><br></br>
  <input type='submit' value="Sumbit">
</form>
