<h1>Create New Tweet</h1>

<form action="/tweets" method="POST">
  <textarea type="text" name="content" placeholder="Write your tweet here"></textarea><br>
  <input type="submit" value="Create Tweet" id="submit">
</form>