<h1>Create a tweet!</h1>

<form action="/tweets" method="post">
  <h3>Content: </h3>
  <input type="text" name="tweet[content]" id="content"></input>

  <input type="submit" value="submit"></input>
</form>