<h1>Create A New Tweet Here:</h1>
<form action="/tweets" method="post">

  <br></br>
  <input  id="content" name="tweet[content]" type="text">
  <br></br>
  <input type="submit" value="Tweet" id="submit">
</form>
