<form action="/tweets" method="POST">
  <label for="content">New Tweet:</label>
  <br>
  <input type="text" name="tweet[content]" id="content">
  <br>
  <input type="submit" id="submit" value="Submit">
</form>
