<h1>Create a New Tweet</h1>

<form action="/tweets" method="POST">
  <textarea name="content" id="content" cols="30" rows="6"></textarea>
  <br>
  <input type="submit" value="Tweet!" id="submit">
</form>