<h1>Create a new tweet below.</h1>

<form action="/tweets" method="POST">

  <h3><label>Content:</lable></h3>

  <input type="text" name="content">


  <br></br>

  <input type="submit" value="Create Tweet" id="submit">
</form>
