<<<<<<< HEAD
create_tweet.erb
=======
<h3>Compose a Tweet</h3>

	<form action="/tweets" method="POST">
		Compose: <input type="text" name="content"><br>
		<input type="submit" id="submit" value="Submit">
	</form>
>>>>>>> af90a5abbf0fb76163fe5effb8517018d1b7a56a
