<!--PAGE HEADER-->
<h1>Create Tweet</h1>

<!--FORM-->
<form method="post" action="/tweets">
    Content:<input type="text" name=content><br><br>
    <input type="submit" id="submit" value="Tweet">
</form>