<h3>Whaddaya wanna say?</h3>

<form action="/tweets" method="post">
<h3><%=@user.username%> says:<h3>
<label>Content:</label>
<input type="text" name="user[tweet]" id="new_tweet"></input>

<br></br>
<button type="submit" name="user[id]" value="<%=@user.id%>">HOLLA!</button>
</form>
