<form action="/tweets" method="post">
	<label for="content">Content:</label><br>
	<textarea name="content" id="content" cols="30" rows="10"></textarea>
	<br>
	<input type="submit" name="Submit" id="submit">
</form>