<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Fwitter</title>
   </head>
   <body>
      <form action="/tweets/new" method="post">
         <label>Content:</label> <br>
         <textarea name="content" rows="8" cols="80"  placeholder="Write here!"></textarea>
         <br>
         <input type="submit" name="submit" id="submit" value="Tweet!">
      </form>
   </body>
</html>
