<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
</head>
<body>
  <h1>Create Tweet</h1>
  <form action="/tweets" method="POST">

    <h3>New Tweet:</h3>
      <input type="text" name="content">
    <br>
  <input type="submit" name="Submit" value="submit">
  </form>
</body>
</html>
