<h1>Create a New Tweet</h1>

<form action='/tweets' nethod='post'>
  <label>Content:</label>
  <input type='text' id='tweet_content' name='tweet[content]'><br>
  <input type='submit' value='Create Tweet'>
</form>