<h2> Create a New Tweet </h2>

<form action="/tweets" method="POST">

   <label> Tweet </label>
   <input id="content" type="text" name="content"><br>

  <br></br>

  <input class="button" type="submit" value="submit">
</form>
