<h1> Create a New Tweet </h1>

<form method="POST" action="/tweets">
  <textarea type="text" name="content" id="content">Share your thoughts!</textarea>
  <br></br>
  <button type="submit" value="submit">Submit</button>

</form>
