<h1>Create Tweet</h1>

<form action="/tweets" method="POST">

  <h3><em>Please enter your new tweet below</em></h3>

  <label>Tweet Content:</label>
  <br></br>
  <input type="text" name="content" id="tweet_content">
  <br></br>

  <input type="submit" value="Create">
</form>
