<form method="post" action="/tweets">
  <p>
    <label for="content">Enter Tweet Here: </label>
    <input type="text" name="content" id="content">
    <input type="submit" value="Submit" id="submit">
  </p>
</form>
