<h1>Create Tweet</h1>
<form action="/tweets" method="post">
  <label for="tweet">Enter Tweet</label>
  <input type="text" name="content" placeholder="your text here">
  <br><br>
  <input type="submit" name="submit" id="submit" value="Submit">
</form>
