<h1> <a href="/logout"> Logout </a>  </h1>

    <h1> Create your tweet, <a href="/users/<%= @user.slug %>"> <%= @user.username %> </a></h1>

    <form class="" action="/tweets" method="post">

    <h2> Tweet text: <input type="text" name="content" value=""> </h2>

    <input type="submit" name="" value="submit">

    </form>
