<h1>Post a tweet</h1>
<form class="" action="/tweets" method="post">
  <label for="">Tweet:</label>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="submit">
</form>
