<h2>Create A New Tweet</h2>

<form method= "POST" action= "/tweets">
  <label for= "create_tweet">What's On Your Mind?</label><br>
  <input type= "text" id= "content" name= "content"><br>
  <input class= "btn btn-primary" type= "submit" value= "submit">
</form>
