<h1>Create a New Tweet</h1>

<form action="/tweets" method="post">
  <label>Tweet:</label>
  <input type="text" name="content" id="content">

  <br />

  <input type="submit" value="Create New Tweet">
</form>
