Create a Tweet

<form action="____" method="post">
  <!-- not sure about the textarea input or inculding a <textarea> tag within the form -->
  <input type="textarea" name="tweet">
  <input type="submit" name="submit">Create Tweet</input>
</form>





<!-- logout form -->
<form action="/users/logout" method="post">
  <input type="submit" name="logout">Log Out</input>
</form>