<h2>Make a New Tweet!</h2>
<form action="/create" method="post">
  <input id="content" type="textbox" name="content" value=""><br><br>
  <input id="submit" type="submit" name="submit"  value="Create Tweet">
</form>
