<h1>Create Tweet</h1>
<form action="/tweets" method="post">
 <label> Enter Tweet: </label> <input type="text" name = "content" id="content">
<br>

   <input type="submit" name = "submit" id ="submit">
</form>