

<% if Helpers.is_logged_in?(session) %>
<form action="/tweets" method="post">
  Content: <br><input type="text" name="content" id="content"><br>
  <br><button type="submit" name="submit" id="submit">Submit</button>
</form>
<% end %>
