<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Create a New Tweet</h1>

<form action="/tweets" method="POST">

        <b><label>New Tweet:</label></b>
        <br></br>
        <input type="text" name="content" id="content" placeholder="">
      <br></br>

        <input type="submit" name="submit" value="submit">

</form>


<a href="/logout">Logout</a>
