<% redirect "/login" unless logged_in? %>
<h4>Create a New Tweet:</h4>
<br>
<form action="/tweets" method="post">
  <textarea rows="4" cols="50" name="content"></textarea>
  <button type="submit" value="submit" name="submit">Create</button>
</form>
<br>
