<h1>What's happening?</h1>

<form action="/tweets" method="post">
<div class="write-tweet">
  <input type="text" name="content" value="" id=":content">
</div>
  <input class="submit" type="submit" value="Tweet" id="submit">
</form>
