<h1>Create New Tweet</h1>

<form action="/tweets/new" method="POST">
  <input type="text" name="tweet[content]" placeholder="Type Your Tweet Here" id="content">
  <br></br>
  <input type="submit" value="submit">
</form>
