<h1>Create a Tweet</h1>
<form action="/tweets" method="post">
  <label for="content">Tweet Content:</label>
  <input type="text" name="content" id="content">
  <input type="submit" id="submit" value="submit">
</form>
<a href='/logout'>Log Out</a>
