<div class='center'>
    <span>
      <a href='/tweets'><button class='menu'>Home</button></a>
       |
      <a href='/tweets/new'><button class='menu active'>Create Tweet</button></a>
       |
      <a href='/logout'><button class='menu'>Logout</button></a>
    </span>
    <br>
    <br>
  <h1 class='outline'>Create Tweet</h1>
  <span class='red'><%= flash[:content] %></span>
    <form method='POST' action='/tweets'>
      <textarea name='content' placeholder='Tweet goes here...' rows='3' cols='50' required></textarea>
      <br>
      <br>
      <input class='submit' type='submit' value='submit'>
    </form>
</div>
