<h3>Create a New Tweet!</h3>
<form action="/tweets" method="post">
  <label for="tweet_content">Tweet: </label><br>
  <textarea name="tweet_content" id="content" rows="8" cols="80"></textarea><br>
  <input type="submit" name="Create Tweet" id="submit">
</form>
