<h3>Create A Tweet</h3>
<form action="/tweets" method="POST">
  <label>Status:</label>
    <input type="text" name="content"><br></br>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
