<h1>New Tweet</h1>

<form method="post" action="/tweets/new">
  <label for="content">Tweet: </label><br>
  <input type="text" name="content" id="content" required>

  <br><br>

  <input type="submit" value="submit">
</form>



<!--Log Out  -->
<!--<br>
<form method="post" action="/logout">
  <input id="hidden" type="hidden" name "_method" value="patch">
  <input type="submit" value="Log out">
</form> -->
