<h2>Make a new tweet</h2>
<form action='/tweets' method='POST'>
<label>Content:</label><br />
<textarea name="content" cols="40" rows="5"></textarea>
<br />
<input type='submit' id='submit' value='Submit'/>
</form>
