<h1>Create a New Tweet</h1>

<form action="/tweets" method="POST">
  <label>Content: </label>

  <textarea rows='3' cols='30' name="content"></textarea>
  <br>

  <input type="submit" value="submit">

</form>
