<h2>Create Tweet</h2>

<form action="/tweets" method="POST">

  <p><h3>Current Status:</h3></p>
  <p><input type="text" name="content"></p>
  <br>
  <input type="submit" name="Submit" value="submit">

</form>
