<h1>Create a new Tweet</h1>

<form action="/tweets" method="POST">

  <label>User Name:</label>
  <br></br>
  <label>name:</label>
  <input type="text" name="username" id="username"></input>
  <br></br>

  <label>Content:</label>
  <br></br>
  <label>content:</label>
  <input  type="text" name="content" id="new_content"></input>
  <br></br>

  <input type="submit" value="Create New Tweet" name="Create New Tweet" id="Create New Tweet">

</form>
