<form method="POST" action="/tweets">
  <h3>Name: <%= current_user.username %></h3>
  <input type="string" name="content" placeholder="Tweet Content">
  <button type="submit" value="submit">Submit</button>
</form>