<h1>Write a new tweet!</h1>

<form action="/tweets" method="post">
  <p><label>Your tweet:</label><input type="text" name="content" value="" id=":content"></p>
  <p>
    <input class="submit" type="submit" value="Submit" id="submit">
  </p>
</form>
