<h1>Create a tweet</h1>

<form action="/tweets" method="POST">
  Tweet: <input type="text" name="content" id="content">






  <br></br>
  <input type="submit" value="Create Tweet" id="submit">
<!--  Make sure certain things only work when only logged in
      Finish creating the form to create a new tweet
      Then create form to edit

 -->
</form>