  <form action="/tweets/#{@tweet.id}" method="post">
    <label>Tweet:</label>
    <input type="text" name="tweet[content]" placeholder="tweet">

    <input type="submit" value="Create Tweet">
  </form>
