<h2>Add a New Tweet</h2>

<form action="/tweets" method="POST">
  <label>Tweet: </label>
  <input type="text" name="content">
  &nbsp&nbsp
  <input class="btn btn-primary" type="submit" value="submit">
</form>
