<h1>Make a tweet</h1>

<form action="/tweets" method="post">
  <label for="content">Tweet Content</label><br>
  <input type="text" name="content" id="content"><br></br>
  <input type="submit" id="submit" value="Tweet">
</form>
