<h1>Create Tweet</h1>
<form action="/tweets/new" method="POST">
  <textarea name="content" id="content" rows="4" cols="40">Enter tweet here...
  </textarea>
 <input type="submit" id="submit">

</form>
