<h1>Create a Tweet</h1>
<form action="/tweets" method="post">
  <p>Enter Content Here:<input type="text" id="content" name="content"></p>
  <br>
  <input type="submit" id="submit" value="submit">
</form>
