<h1>Create a Tweet</h1>
    <form action="/tweets" method="post">
      <label>Tweet: </label><input id='content' type='text' name='content'><br>
      <input type='submit' value='Create'>
    </form>