<h1> Create a New Tweet </h1>

<form method="POST" action="/tweets">
  <textarea type="text" name="content" id="content" value="">Share your thoughts!</textarea>
  <button type="submit" value="submit">Submit</button>

</form>
