<h1>What's on your mind?</h1>
<form method="post" action="/tweets/new">
  <input type="text" name="content" placeholder="Enter Your Tweet">
  <input type="submit" id="submit" value="Post Tweet">
</form>
