<h2><span class="loggedin"><%= current_user.username %></span>, create a tweet:</h2>
<form action="/tweets" method=POST>
<p>Enter your tweet here: <input type="text" name="content" id="content"></p>
<input type="submit" id="submit">

</form>

