<h2>New Tweet</h2>

<form action='/tweets' method='POST'>
	<textarea rows="5" cols = "20" name="content" class="form-control" id="tweet"></textarea>
	
	<!-- <textarea class="form-control" id="exampleTextarea" rows="3"></textarea> -->
	
	<br>


	<!-- <input type="submit" value="Tweet it!" id="submit"> -->
	<button type="submit" class="btn btn-primary" id="submit">Tweet it!</button>
	
</form>