<h3>Tweet to your Following</h3>
<br>
<form action="/tweets" method="post">
  <label style="font-size:18px"><i>tweet:  </i></label><br>
  <input type="text" name="content" style="width:300px;height:150px">
  <br><br>
  <input class="btn btn-primary" type="submit" value="submit">

</form>
