<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Write A New Tweet</strong>    
  </div>
  <div class="panel-body">
    <form action="/tweets/new" method="POST">
      <p><textarea name="content" id="content" cols="50" rows="6"></textarea></p>
      <% if flash[:err_blank_tweet] %>
      <div class="alert alert-danger" role="alert"><%= flash[:err_blank_tweet] %></div>
      <% end %>
      <input id="submit" class="btn btn-success" type="submit" value="Publish Tweet">
    </form>    
  </div>  
</div>

