<form action="/tweets" method="post" accept-charset="utf-8">
  <p>New Tweet:</p> <br>
  <input type="text" value="" name="content" id="content"/>

  <br><br>
  
  <input type="submit" value="Submit" name="submit" id="submit"/>
</form>
