<h1>Compose a Tweet:</h1>
<form action="/tweets" method="post">
    <TEXTAREA NAME="content" id=content ROWS=3 COLS=30 ></TEXTAREA> <br>
    <input type="submit" value="submit">
</form>
<br><br>
<a href="/tweets">View Tweets </a>
<a href="/logout">Logout</a>

