<div class="container">
  <h1>New Tweet</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/tweets/new" method="POST">
      <h3>What would you like to tweet?</h3>
  	  <textarea name="content" maxlength="200" class="content_input" placeholder="200 Characters or Less"></textarea>  
    <br>
      <input type="submit" value="Tweet" id="submit">
    </form>
  </div>
</div>