<h1>Post Tweet</h1>
<form method="POST" action="/tweets">
  <h3>Enter Tweet Below</h3>
  <input type="text" name="content" id="tweet" value="Enter Text Here">
  <input type="submit" id="submit" value="Submit">
</form>
