<h1>Create Your Tweet</h1>
<form action="/tweets/new" method="POST">
<label>Content</label>
<input type="text" name="content" id="content">
<br></br>
<input type="submit" name="submit" id="submit" value="submit">
<form>
