<center>
  <h2>Create fweet:</h2>
    <form action='/tweets' method="POST">
      <p>fweet: <input type="text" name="content"></p>
      <input type="submit" id="submit" name="submit" value="submit">
    </form>
</center>
