<h3>Create Tweet</h3>
<form class="user_form" action="/tweets" method="POST">
	<input type="text" maxlength="140" name="content" placeholder="Content:">
	<input type="submit" value="Create Tweet">
</form>
