<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Create New Fweet</h1>
    <form method = "POST" action="/tweets">
      <label for="content">Add your Fweet</label><br/>
      <textarea  rows="4" cols="50" name="content"></textarea><br/>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
