<h2>Create A New Tweet</h2>
<form method="POST" action="/tweets">
  <label for="content">Tweet Content:</label>
  <input type="text-area" id="content" name="content"/>
  <br></br>
  <input type="submit" id="submit" value="Submit"/>
</form>
