views/tweets/create_tweet

<h1>Create a New Tweet</h1>

<form method="post" action="/tweets">
  <label>Content: </label>
  <input type="text" name="content">
  <input type="submit" value="Create Tweet" id="submit">
</form>
