<!DOCTYPE html>
<html>
  <body>
    <h1>Write your Tweet!</h1>
    <form method="POST" action="/tweets">
      <input type="text" name="content">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
