<h1>Create a new Tweet:</h1>
<form action="/tweets" method="post">
	<label for="tweet">What do you want to say today?</label>
	<input type="text" name="content" placeholder="your text here">
	<br><br>
	<input type="submit" name="submit" id="submit" value="Submit">
</form>

<br><br>
<h3><a href="/tweets">Change your mind?</a></h3>
<h3><a href="/logout">Logout</a></h3>
