<h1>Create a tweet!</h1>
<form action="/tweets" method="post">
  <label for="content">Tweet Content:</label>
  <input id="content" type="text" name="content" value="">

  <input type="submit" value="submit">
</form>
