<article class="pa4 black-80">
  <form action="/tweets" method="post" accept-charset="utf-8">
    <fieldset class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip">What's happening?</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="tweet">Tweet content</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="content"  id="content">
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="submit"></div>
  </form>
</article>
