<h1>Post a tweet:</h1>
<br>
<form method="post" action="/tweets">
  <label for="content">What do you have to say? </label>
  <input type="text" id="content" name="content"></input>
  <br>
  <input type="submit" id="submit">
</form>

<br></br>
<a href="/tweets">Back to all tweets</a>
<br></br>
<a href="/logout">Log out</a>
