<h1>New Tweets</h1>
<form action="/tweets" method="POST">
  <p>Create a New Tweet:</p>
  <input type="text" name="content" id="tweet[content]" placeholder="tweet it out">
  <br></br>
  <button type="submit" name="submit">submit</button>
</form>
