<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Tweet</title>
  </head>
  <body>
    <h1><%=@current_user.username%></h1>
    <h2>Create a new tweet below:</h1>
    <form action="/tweets" method="post">
      <p>Content: <textarea name="content" rows="8" cols="80" id="content"></textarea></p>
      <input type="submit" value="Create Tweet" id="submit">
    </form>
  </body>
</html>
