<h1> Create New Tweet </h1>
<form action= '/tweets' method= "POST">
  <label>Content: </label>
  <input type= "text" name= "content" id= "content">
  <br></br>
  <input type="submit" id= "submit" value="submit">
</form>
