<h1>Create New Tweet</h1>
<form action='/tweets' method="post">
    <label for="content">Content: <input type="text" name="content" id="content"> </label>
    <button type="submit" name="submit" value="submit">Submit</button>
</form>