<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tweets -Add Tweet</title>
  </head>
<body>
  <h1>Create New Tweet</h1>
  <form method="post" action="/tweets">
    <table>
      <tr>
       <td><label for="content"> Content:</label> </td> 
       <td><input type= "text" name="content"> </td> 
      </tr>
      <tr>
        <td><input type="submit" value="submit"></td>
      </tr>
    </table>
    
   </form>
  <a href="/">Back to HomePage</a>
  </body>
</html> 