<h1>New Tweet:</h1>

<form action="/tweets" method="post">
	<label>What's on your mind?</label>
<input type="text" name="tweet[content]" placeholder="Add your tweet here . . ." >

<input type="submit" name="Add Tweet" value="Add Tweet">
</form>