<h2>Tweedledeet</h2>
<form action="/tweets" method="post">
  <textarea name="content"cols="70" rows="10">Say something <%=["funny", "interesting", "new", "exciting", "cool", "sweet", "nice", "educational", "fresh"].shuffle[0] %></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>
