<h1>Create Tweet</h1>

<form class="" action="/tweets" method="post">

  <label>What's On Your Mind</label>
  <input type="text" name="content" required>
  <input type="submit" id="submit" value="Submit">
</form>
