<h3>Username:</h3>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <%=@tweet.content%>
  <br></br>
  <input type="submit" value="Delete Tweet">
</form>
