<% if logged_in? %>

<form action="/tweets/<%= @tweet.id %>/delete" method ="POST">
	<input id="hidden" type="hidden" name=“_method” value="delete">
	<input type="submit" value="submit">
</form>

<% else %>

<a href="/login">Click here to log in.</a>

<% end %>
