<h1>Edit Tweet</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<form method="post" action="/tweets/<%= @tweet.id %>">
<input type="hidden" name="_method" value="PATCH">
  <label for="content">Content</label>
    <textarea rows="3" cols="5" type="text" name="content" id="content"><%= @tweet.content %></textarea>
    <br/>
    <br/>
  <input type="submit" value="Edit Tweet" id="submit">
</form>
