<h2>Edit Tweet</h2>

<form  action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
  <textarea name="content" id= "content" >
  	<%= @tweet.content %>
  </textarea>

  <input type="submit" name="Edit Tweet" value="submit">
</form>

<!-- 
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">

</form>
 -->
