<h2> Edit your Tweet Below </h2>

<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<form method="post" action="/tweets/<%=@tweet.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" value="<%= @tweet.content %>" name="content" placeholder="content" required/><br/>
    <input type="submit" id="submit" value="Edit Tweet">
</form>
