<h2>Edit Tweet:</h2>
<form method="POST" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch"></input>
  <input type="text" name="content" value="<%= @tweet.content %>"></input>
  <input type="submit" id="submit" value="Update">
</form>