
  <h2><%=@tweet.content%></h2>

<br></br>
<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Edit Content: <input type="text" name="content" value="">
  <input type="submit" value="submit">

</form>
