<form method="post" action="/tweets/<%=@tweet.id%>">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <p>
    <label for="content">Tweet: </label>
    <input type="text" id="content" name="content" value="<%= @tweet.content %>">
  </p>

  <input type="submit" id="submit" value="Edit Tweet">
</form>
