<h1>Edit Your Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Tweet: </label>
    <textarea rows='3' cols='30' name="content" value="<%= @tweet.content %>"></textarea>
  <br><br>

  <input type="submit" value="submit">
</form>
