<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Tweet</title>
</head>
<body>
  <h3>Edit Tweet:</h3>
  <form action="/tweets/<%=@tweet.id%>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <label for="content">Your thoughts:</label>
    <input type="text" id="content" name="content" value="<%=@tweet.content%>"><br><br>
    <input type="submit" value="submit">
  </form>
  
</body>
</html>