<p>Edit Tweet</p>

<form method="post" action="/tweets/<%= @tweet.id %>">
	<label for="content">Udate Tweet:</label>
	<input type="text" name="content" id="content" value="<%= @tweet.content %>">
	<input type="submit" value="submit">
</form>
