<h3>EDIT <%=@tweet.user.username%>'s TWEET</h3>

<form action="/tweets/:id" method="post">

<label><h2>New content</h2></label>
<input type="text" name="new_content" id="new_content" placeholder="<%=@tweet.content%>"></input>

<br></br>
<button type="submit" name="edit">Edit this shit!</button>

<button type="submit" name="delete"><a href="tweets/<%=@tweet.id%>/delete">Christ, what was I thinking?!?</a></button>

<button type="submit" name="cancel"><a href="/tweets">Nah, shit shit's genius</a></button>

</form>