<h1>Edit Your Tweet</h1>
<form class="" action="/tweets/<%= @tweet.id %>/edit" method="post">
  <p><input type="text" name="content" value="<%= @tweet.content %>"></p>
  <input type="submit" name="" value="submit">
</form>
