<h1>Edit Tweet</h1>


<form method="post" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Current Tweet Says:</h3>
  <p>"<%= @tweet.content %>"</p>
  <h2>Edit Tweet: <input type="text" name="content"><input type="submit" value="submit"></h2>
</form>
<br></br>

<a class="button" href="/tweets/new">Create a New Tweet</a>
<br>
<a class="button" href="/tweets">Return to All Tweets</a>
<br>
<a class="button" href="/logout">Logout</a>
