<form method="POST" action="/tweets/<%=@tweet.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Edit your tweet:</h3>
  <input type="text" name="content" placeholder="<%=@tweet.content%>">
  <input type="submit" value="Submit Content" id="submit">
</form>
