<div class="edit_tweet_wrapper">
</br>
<h3>Edit tweet:</h3>
</br>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input class="form-control" type="text" name="content" value="<%= @tweet.content %>"></br>
  <input type="submit" value="submit" type="button" class="btn btn-dark">
</form>
</div>
