<h1>Edit your Tweet</h1>
<form action="/tweets/<%= @tweet.id %>/edit" method="post">
  <input type="text" id="content" name="tweet" value="<%= @tweet.content %>">
  <input id="submit" type="submit" name="submit" value="Edit this Tweet">
</form>
