<h1>Edit Tweet</h1>
<form action="/tweets/<%=@tweet.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="">Type Here</label>
  <textarea name="content" id="" cols="30" rows="10"><%=@tweet.content%></textarea>
  <br><br>
  <input type="submit" value="submit">
</form>