<h1>Edit this Tweet</h1>
<form method="post" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Content: </label><input type="text" name="content" id="content" value="<%= @tweet.content %>">
  <input type="submit" id="submit" value="Edit Tweet">  
</form>

