<h1>Twitter Edit Page</h1>

<h3>Modify your tweet:</h3>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="text" name="content" value="<%= @tweet.content %>">

  <p></p>

  <input type="submit" value="submit">
</form>
