<form action="/tweets/<%= @tweet.id %>" method="POST">
   <label>Tweet Content:</label>
   <input type="text" name="content" value="<%= @tweet.content %>">
   <button type="submit" name="submit">submit</button>
 </form>
