<h2>Tweet #<%=@tweet.id%></h2>
<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <input type="text" name="content"><%=@tweet.content%></input>
  <input type="submit" name="submit" value="submit">
</form>
