<h2>Fix Your Tweet</h2>
<form action="/tweets/1" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <textarea name="content"cols="70" rows="10">Fix your terrible tweet</textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>
