<form method="post" action="/tweets/:id">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <textarea name="content">Tweet here</textarea>

  <button type="submit">submit</button>
  

</form>