<form action="/tweets/<%=@tweet.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Current Tweet:</p>
  <%= @tweet.content %>
  <br>
  <label for="content">Content:</label>
  <input type="text" name="content" id="content">
  <input type="submit" value="Edit Tweet">
</form>
