<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
		<label for "content">Tweet content:</label>
		<input type="text" name="content" placeholder="<%= @tweet.content %>">
		</label>
	</p>

	<button type='submit' value='create'>submit</button>
</form>
