<h3> Edit Tweet </h3>
<form action="/tweets/<%=@tweet.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p><input name="content" type="text" size="80" id="content" value="<%=@tweet.content%>"></p>
<input type="submit" value="Save" id="submit">
</form>
