<h1>Edit Tweet</h1>
<form method="post" action="/tweets/<%=@tweet.id%>">
  <textarea rows="5" cols="40" name="content"><%=@tweet.content%></textarea>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Save Changes">
</form>
