
<form method="post" action="/tweets/<%= @tweet.id %>/edit">
  <input type="hidden" name="_method" id="hidden" value="patch">
  tweeting! <input type="text" name="content" id="content">

  <button type="submit">submit</button>
  

</form>

<a href="/delete/<%= @tweet.id %>/delete">Delete Tweet</a>