<h2>Edit your tweet</h2>
<form class="" action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Content:</label>
  <br></br>
  <textarea name="content" style="width:auto; height:auto;"> <%= @tweet.content %></textarea>
  <br></br>
  <input type="submit" name="Edit Tweet" value="submit">
</form>



<small><p><a href="/tweets">Tweet Index</a></p></small>
