<h2>Edit Tweet</h2>

  <form action="/tweets/<%=@tweet.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <label for "content"></label>
      <text type="content" name="content" id="content" value="<%=@tweet.content%>">
</br>
      <input type="submit" value="submit">

    </br>
    <form action="/tweets" method="get">
    		<input type="submit" value="All Tweets">
    	</form>
