<form action='/tweets/<%=@tweet.id%>' method="POST"
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="tweet[content]" placeholder="<%=@tweet.content%>" id="content">


  <input id="submit" type="submit" value="edit">
</form>

