edit_tweet.erb

<form method="post" action="/tweets/<%=@tweet.id%>/edit">
  <input type="hidden" name="_method" id="hidden" value="patch">

  <label> tweeting! </label>

    <label> Content </label>
   <input type="text" name="content" value="content">

   <input type="submit" name="submit" value="submit">
</form>
