Edit Tweet
<form method="post" action="/tweets/<%= @tweet.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <p>Tweet: <input type="text" name="content" value="<%= @tweet.content %>">
  <p><input type="submit" id="submit" value="Update">
</form>
