<!DOCTYPE html>
<html>
<head>
<title>Tweet: <%=@tweet.id%></title>
</head>
<body>

<h1>Edit Tweet <%=@tweet.id%></h1>



<p><%=@tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Tweet Content:  <input type="textbox" name="content" style="height: 80px" wrap="hard" maxlength="140" placeholder="Up to 140 Characters:"></label><br><br>

  <input type="submit" value="submit">
</form>
<br><br>
<a href='/delete'>Delete Tweet</a>


<br> <br><br><br>
<a href='/logout'>Logout</a>
</body>
</html>
