<a href="/"><img src="https://farm2.staticflickr.com/1515/25704872810_fa439133c1_n.jpg"></a><br><br>

<h1>Edit Tweet</h1>
<form method="post" action="/tweets/<%=@tweet.id%>">
  <textarea rows="5" cols="40" name="content" required><%=@tweet.content%></textarea>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="submit" id="submit" value="Save Changes">
</form>