<form method="POST" action="/<%=@tweet.id%>">
  
  <h3>Write Your Tweet Here:</h3> 
  
  <textarea rows="6" cols="80" name="content"></textarea>
  
  <p><input type="submit" value="Update Tweet"></p>
</form>