<div class="container" id="form1">

<h1>Edit Tweet</h1>

<p>Tweet to be edited: </p><%= @tweet.content %>

<form method="POST" action="/tweets/<%=@tweet.id%>">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="content" id="content">

	<input class="btn btn-secondary" type="submit" value="Submit" id="edit_button">
</form>
</div>