<h3>Edit tweet</h3>
<form class="" action="/tweets" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="content" id="content" value="<%= @tweet.content %>">
  <input type="hidden" name="tweet_id" value="<%= @tweet.id %>">
  <input type="submit" name="submit" id="submit" value="Update Tweet">
</form>
