<h1>Edit your tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <label for="content">Tweet Content</label><br>
  <input type="text" name="content" id="content" value="<%= @tweet.content %>"><br></br>
  <input type="submit" id="submit" value="Edit">
</form>
