<h1>Hi <%= @user.username %></h1>

<form action="/tweets/<%= @tweet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Edit Your Tweet: <%= @tweet.content %></label>
  <input type="text" name="content">
  <br>

  <input type="submit" name="submit" value="submit">
</form>
