<%= @tweet.content %>
<form action="/tweets/<%= @tweet.id %>/edit" method="post">
    <p>
      <label for="content">Tweet:</label>
      <input type="text" name="tweet[content]" id="content">
    </p>
    <input type="submit" name="submit" value="submit">
</form>
