<h3>Edit Tweet</h3>
<p>Here is your existing tweet:<br>
<b>"<%=@tweet.content%>"</b>
</p>
<br>
<br>
<form action="/tweets/<%=@tweet.id%>/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit Tweet Content:</label>
  <br></br>
  <input type="text" name="content" id="content">
  <input type="submit" value="submit">
</form>
