<form class="" action="/tweets/<%=@tweet.id%>/edit" method="post">
  <input type="hidden_field" name="_method" method="PATCH"">
  <label for="tweet">Content:</label>
  <input type="text" name="content" value="<%=@tweet.content%>" id="content"><br>
  <input type="submit" value="submit">
</form>
