<form action="/tweets/<%= @tweet.id %>" method="post">
	<input id="hidden" type="hidden" name="_method" value="PATCH">
	<label for="content">Content:</label><br>
	<textarea name="content" id="content" value="<%= @tweet.content %>" cols="30" rows="10"></textarea>
	<input type="submit" name="Submit" id="submit">
</form>