<h1><a href="/users/<%= @tweet.user.username %>"><%= @tweet.user.username %></a></h1>
<form action="/tweets/<%= @tweet.id %>" method="POST">
   <label>Tweet Content:</label>
   <input type="text" name="content" value="<%= @tweet.content %>">
   <button type="submit" name="submit">submit</button>
 </form>
 <h4><a href="/">Return to Index</a></h4>
 <h4><a href="/logout">Logout</a></h4>
