<h1>Edit This Tweet:</h1>

<h3><%=@tweet.content%></h3>

<p>It's okay. We all change our minds sometime.</p>

<form method="POST" action="/tweets/<%=@tweet.id%>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <input type="text" name="content" id="content">
  <input type="submit" id="submit">
</form>