<h1>Edit Tweet</h1>

<form action='/tweets/<%= @tweet.id %>' method='POST'>
	<input type="hidden" id="hidden" name="_method" value="PATCH">
	<textarea rows="5" cols = "50" name="content" id="tweet" value="<%= @tweet.content %>"></textarea>
	<br>

	<input type="submit" value="Edit Tweet" id="submit">
	
</form>