<form class="" action="/tweets/<%=@tweet.id%>/edit" method="post">

  <input type="text" name="content" value="<%=@tweet.content%>">
  <input id= 'submit' type="submit" name="" value="Submit">

</form>
