<h1>Edit Tweet #<%=@tweet.id%>:</h1>

<form action="/tweets/<%=@tweet.id%>" method="post">
	<label>What's on your mind?</label>
<input type="text" name="tweet[content]" value="<%=@tweet.content%>">

<input type="submit" name="Update Tweet" value="Update Tweet">
</form>