<h1> Edit tweet </h1>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Edit your tweet:</label>
    <input type="text" id="content" name="tweet[content]" value="<%= @tweet.content %>"><br></br>
    <input type="submit" id="submit" value="Edit tweet">
</form>
