<form method="POST" action="/tweets/<%=@tweet.id%>">

  <p>Current Entry:</p>
  <%=@tweet.content%>

  <br></br>

  <input type="hidden" name="_method" value="PATCH">
  <label>Enter Updated Tweet Here:</label>
  <br></br>
  <input name="content" id="content">
  <br></br>

  <input type="submit" value="submit">
</form>
