<h2>Original Tweet</h2>
<p><%= @tweet.content %></p>

<form class="" action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label for="twt">Tweet: </label>
  <input type="textarea"   id="twt" name="content" value="<%= @tweet.content %>">

  <input type="submit" name="" value="submit">

</form>
