<%if Helpers.is_logged_in?(@session)%>
  <form action='/tweets/<%=@tweet.id%>' method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="textarea" name="content" id="content" value="<%=@tweet.content%>">
    <input type="submit" id="submit" value="Save">
  </form>
  <a href='/logout'>Log Out</a>
<%else%>
  <a href='/login'>Log In</a>
<%end%>
