<!DOCTYPE html>
<html>
  <head> <title> Write a Tweet </title>
  </head>

  <body>
    <h1>Writing a Tweet </h1>
    <form method="POST" action="/tweets">
      <input type="text" name="content">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
