<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <input type="text" id="content" name="[content]" value="<%= @tweet.content %>">

  <br></br>

  <input type="submit" name="submit" value="submit">
</form>
