<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Tweet</title>
</head>
<body>
  <form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Content</label>
    <input type="text" name="content" value="<%= @tweet.content %>">
    <br /><br />
    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
