<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>New Content: <input type="text" value="<%= @tweet.content %>" name="content" id="content"></p>
    <input type="submit" value="submit">
</form>