<h3>edit your tweet</h3>
<form class="" action="/tweets/<%=@tweet.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="">Tweet:</label>
  <input type="text" name="content" value="<%=@tweet.content%>"></input>
  <input type="submit" name="" value="submit">
</form>
