<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
What are you thinking about?
<input type="text" name="content" value="<%= @tweet.content %>">
<input type="submit" name="submit" value="submit">
  </form>
