<h1> View and edit your Tweet #<%= @tweet.id %> </h1>

<p>Your tweet as it is currently: <%= @tweet.content %></p>


<form action="/show_tweet" method="POST">
    <h3>Edit Tweet <input type="text" id="tweet_id" name="content" value="<%=@tweet.content"></h3>
    <input type="submit" value="submit">
</form>

<form method="POST" action="/tweets/<%=params[:id]%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="Delete Tweet">
</form>
