<h1> Edit Tweet </h1>
<h2><%= @tweet.content %></h2>
<form action= '/tweets/<%= @tweet.id%>' method= "POST">
  <input type= "hidden" name="_method" value= "PATCH">
  <label>Content: </label>
  <input type= "text" name= "content" id= "content">
  <br></br>
  <input type="submit" id= "submit" value="submit">
</form>
