<h1> Editing Twreet <h1>
  <form action="/tweets/<%=@tweet.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label><h3> Tweet:  </h3> </label> <input type="text" name="tweet" value="<%=@tweet.id%>"> </input>
    <label> <h3> Content: </h3> </label> <textarea name="content"><%=@tweet.content%> </textarea>
    <input type="submit" id="submit">
  </form>
