<form action="/tweets/<%= @tweet.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">
  <%=@tweet.content%>
  <br></br>
    <label>Update Tweet:</label>
    <br></br>
    <input type="text" name="tweet[content]" id="content" value="<%= @tweet.content%>">
    <br></br>
    <input type="submit" value="Edit Tweet" id="submit">
</form>
