<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">

  <h3><em>Please edit your tweet below</em></h3>

  <label>Tweet Content:</label>
  <br></br>
  <input type="text" name="tweet[content]" id="tweet_content" value="<%= @tweet.content %>">
  <br></br>

  <input type="submit" value="Edit">
</form>
