<h2>The Tweet to Edit:</h2>

<form action='/tweets/<%=@tweet.id%>' method="POST">

  <input type="text" name="tweet[content]" placeholder="<%=@tweet.content%>" id="content">
<br></br>
  <input type="submit" value="edit" id="submit">


</form>

<!---    <input id="hidden" type="hidden" name="_method" value="patch" -->