<h1>Edit Tweet</h1>

<h4><%=@tweet.content%></h4>

<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="content" id="content" value="<%=@tweet.content%>">
  <input type="submit" value="Save" id="submit">
</form>
