<h2>Edit Tweet</h2>

<h3>Content</h3>
<p><%= @tweet.content %></p>

<h3>New Content</h3>
<form method="POST" action="/tweets/<%= @tweets.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <input type="text" name="tweet[content]" id="content" value="New Content">

  <input type="submit" name="edit" value="Edit Tweet">
</form>
