<h1>Edit Tweets Here</h1>

<form action="/tweets" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

<%= @tweet.content %>


<input type="submit" value="Submit" id="submit">

<input type="submit" value="Delete Tweet" id="delete">

</form>
