<h1> Edit <%=@tweet%> <h1>

  <form action="/tweets/<%=@tweet.id%>" method="post">
    <input type="hidden" name="_method" value="patch">

    <input type="text" name="name" value="<%=@post.name%>"> </input>

    <textarea name="content"><%=@tweet.content%> </textarea>

    <input type="submit" id="submit">

  </form>
