<form action="/tweets/<%=@tweet.id%>" method="post">
<h2>Edit your tweet</h2>
	<p>Content:<input type="text" name="content" value="<%=@tweet.content%>"></p>
	<button value="submit">Edit Tweet</button>
</form>