<h2>Edit Tweet: </h2>

<p><%= @tweet.content %></p>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <textarea name="content" id="content" cols="50" rows="5"></textarea>
  <br>
  <input type="submit" value="submit">
</form>