<form action="/tweets/<%= @tweet.id %>" method="post" accept-charset="utf-8">
  <input type="hidden" value="patch" name="_method" id="hidden"/>

  <p>Edit Tweet:</p>
  <input type="text" value="<%= @tweet.content %>" name="content" id="content"/>

  <br><br>

  <input type="submit" value="Submit" name="submit" id="submit"/>
</form>
