<!DOCTYPE html>
<html>
  <head> <title> Edit Tweet </title>
  </head>

  <body>
    <h1>Edit Tweet </h1>
    <form method="POST" action="/tweets">
      <input type="text" name="content" placeholder="@tweet.content">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
