<h1>Welcome, <%=@current_user.username%></h1>

<h2>Tweets:</h2>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.content %></li>
  <% end %>
</ul>
<br>
<br>
<br>
<a href="/tweets/new">New Tweet</a>
<br>
<br>
<a href="/logout">Log Out</a>
