</br>
</br>
<div class="header">
  <h1>Welcome to Fwitter<h1>
</div>
</br>
</br>
<div class="homepage_links">
  <a class="btn btn-dark" href="/signup" role="button">Signup</a>
  <a class="btn btn-dark" href="/login" role="button">Log in</a>
</div>
