<h1>see all your tweets</h1>

<h1>Welcome, <%=@user.username%>.</h1>

<br/>

<h3>Tweets</h3>
<%@tweets.each do |tweet|%>
  <%=tweet.user.username%>: <a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a><br>
<%end%>

<br/>

<a href='/tweets/new'>New Tweet</a>
<br/>
<a href="/logout">Logout</a>
