<h1> <%=@user.username%>'s Tweets: </h1>

<% if flash.has?(:message) %>
  <p> <%= flash[:message] %> </p>
<% end %>

<ul>
  <% @user.tweets.all.each do |tweet| %>
    <li> <a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a> </li>
  <% end %>
</ul>

<p> <a href="/tweets/new">Compose Tweet</a> </p>

<p> <a href="/logout">Log Out</a> </p>
