<h1>Welcome, <%= current_user.username %></h1>

<h3><a href="/tweets/new">New Tweet</a></h3><br>

<h3>Tweets:</h3>

<ul>
<% @tweets.each do |tweet| %>
  <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
<% end %>
</ul>
