<!DOCTYPE HTML>
<html>
  <head>
    <title>Tweets Index</title>
  </head>
  <body>
    <h1>Tweets Index?</h1>
    Welcome, <%= current_user.username %> </br>

    Tweets: 
            <ul>
              <% @tweets.each do |tweet| %>
               <li><%= tweet.content %></li>
              <% end %>
            </ul>

  </body>
</html>


