<h1>Welcome, <%= current_user.username %></h1>
<h3> <a href="/tweets/new">Craft a new tweet</a> </h3>

<ul><% @tweets.each do |t| %>
  <li><p><strong><%= t.user.username %>: </strong>  </p>
  <p><%= t.content %></p>
  <% if t.user_id == current_user.id then %><a href="/tweets/<%= t.id %>/edit">Edit Tweet</a><% end %></li>
  <% end %></ul>

<p> <a href="/logout">Log Out</a> </p>
