<h1>Welcome, To Your Tweets!</h1>
<p>
  <% @tweets.each do |tweet| %>
  <%# binding.pry %>
    <%= tweet.content %>
  <% end %>
</p>


<form action="/logout" method="get">
  <input type="submit" id="Log Out" value="Log Out">
</form>
