<h1>Tweets Index?</h1>
Welcome, <%= current_user.username %> </br>
<a href="/tweets/new">New Tweet</a>
<br>
<ul>
<% @tweets.each do |tweet| %>
  <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
<% end %>
</ul>




