<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3>All Tweets</h3>

<%@tweets.each do |tweet|%>
<h4><%=tweet.user.username%></h4>
<p><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></p>
<%end%>


<br></br><br></br><br></br>

<a href="/logout">Log Out</a>