<h1>Welcome,</h1>
<h3>Tweets: </h3>
<ul>
  <% Tweet.all.each do |tweet| %>
    <li><%= tweet.content %></li>
  <% end %>
</ul>
<form action="/tweets/new" method="get">
  <input type="submit" value="New Tweet">
</form>
<br>
<br>
<br>
<br>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
