<h2>Welcome, <%= @user.username %></h2>

<% @tweets.each do |tweet| %>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %><br></a>
<% end %>

<a href='/tweets/new'><input type="submit" value="New Tweet"></a>

<br>
<a href="/logout"><input type="submit" value="Log Out"></a>
