<h1>Welcome, <%= @user.username %></h1>
<a href="/tweets/new">Create a Fweet</a>
<a href="/users/<%= @user.slug %>">View your Fweets</a>
<a href="/logout">Logout</a>
<h2>Check out these Fweets</h2>
<%@tweets.each do |tweet|%>
  <p><a href="/tweets/<%= tweet.id %>"><%=tweet.content%></a><p>
<%end%>
