Welcome,
<<<<<<< HEAD

<ul>
  <% Tweet.all.each do |tweet| %>
  <li><%= tweet.content %></li>
  <% end %>
=======
<ul>
<%Tweet.all.each do |tweet|%>
<li><%=tweet.content%></li>
<%end%>
>>>>>>> fb1e67ae4cc0c9c4125ba043b384e948ef5f0118
</ul>
