<h1>Welcome, <%= @user.username %></h1>

Here are all the tweets:

<br><br>

<% @tweets.each do |tweet| %>
  <%= tweet.content %>
  <br>
<% end %>

<br><br>

<a href="/tweets/new">Write a new tweet</a>
