<h3>Tweets by <%= current_user.username %></h3>

<br>

<form action="/tweets/new">
  <input type="submit" value="Create a New Tweet">
</form>

<% @tweets.sort_by{|tweet| tweet.id}.reverse.each do |tweet| %>
  <hr>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
<% end %>
