<h3>Tweets</h3></br>
Welcome, <%= current_user.username %>!</br></br>
<a href="/tweets/new">Click here to creat a new tweet.</a></br>
<br>
<ul>
<% @tweets.each do |tweet| %>
  <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
<% end %>
</ul>




