<h1>Twitter Index Page</h1>
<% @tweets.each do |tweet| %>
  <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
<% end %>
<br>
<!-- <a href="/figures/new"><input type="button" value="Create New Figure"></a> -->
