<h2>Tweet Index</h3>

<h4>Here are all of the tweets:</h4>
  <ul style="list-style-type:square">
    <% @tweets.each do |tweet| %>
      <li>
        <a href="/tweets/<%= tweet.id %>"> <%= tweet.content %></a></br>
        Author: <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></br>
      </li>


    <% end %>
  </ul>

<br><br>
<a href="/tweets/new">Click here to create a new tweet.</a>
<br></br>
<a href="/">Click here to go back to the homepage.</a>
<br><br>
