<div class="header">
  <img src="/images/flatironlogo.png" alt="logo" />
  <h1>Welcome to Fwitter<h1>
</div>

<a class="btn btn-dark" href="/signup" role="button">Signup</a>
<a class="btn btn-dark" href="/login" role="button">Log in</a>
