    <h1>new tweet<h1>
    <br>
    <form method="post" action="/tweets">
      <input type="text" id="username" name="username" value="<%=@user.username%>">
      <input type="text" id="password" name="password" value="<%=@user.password%>">
      <input type="submit" value="submit">submit</input>
    </form>
