<h1>Add a tweet</h1>
      <form action="/tweets" method="post">
            <input type="text" name="tweet[username]" id="username" required/><br>
            <input type="text" name="tweet[content]" id="content" required/><br>
            <input type="submit" value="submit">
      </form>
