<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post a Tweet</title>
    <h1>Post a Tweet</h1>
  </head>
  <body>
    <form action='/tweets' method='POST'>
      <p>Status: <input type="text" name="content"</p>
      <input type="submit" id="submit" value="submit">
    </form>
  </body>
</html>
