
<form class="" action="/show" method="post">


  <label for="twt">Tweet: </label>
  <input type="textarea"   id="twt" name="content" value="">

  <input type="submit" name="" value="submit">

</form>
