<h1>Create New Tweet</h1>
<form action="/tweets/show_tweet" method="POST">
  <label for="content">Write your Tweet below:</label>
  <textarea name="content" required></textarea><br>
  <input type="submit" value="Create Tweet" id="submit">
</form>