<form action="/tweets" method="post">
	<p>
		<label for "content">Tweet content:</label>
		<input type="text" name="content" id="content">
		</label>
	</p>

	<button type='submit' value='create'>submit</button>

</form>
