<form action="/tweets" method="post">
    <h3>Hey, <%=@user.username%></h3>
    <h4>Tweet away...!</h4>
    <p><label>Message: <input type="text" name="content" id="content"></label></p>
    <input type="submit" id="submit" name="submit" value="Tweet!">
</form>
