<h1> New Tweet </h1>
<form method="post" action="/tweets">
<p>Fill in your tweet here</p>
<input type="text" id="content" name="conent">
<input type="submit" id="submit" value="Tweet!">
</form>


<a href="/users/<%=@user.username%>/home">Just kidding. Take me home</a>