/views/tweets/new.erb

<h1>Create yo' tweet</h1>

<form method="POST" action="/tweets">
  <label>Whatcha want to tweet? </label>
  <input type="text" name="content"><br></br>
  <input type="submit" name="submit" value="submit">
</form>
