<h1>Let's make a new tweet, hey?</h1>
<form class="new_tweet" action="/tweets" method="post">
  <label for="content">what is the content you would want? (255 char or less)</label>
  <input type="text" name="content" maxlength="255">
  <input type="submit" value="Create Tweet" id="submit">
</form>
