<form action="/tweets/new" method="post">
  <label>New Tweet:</label><br />
  <textarea name="content" rows="8" cols="40" id="content"></textarea><br />
  <input type="submit" value="submit">
</form>
