<center><font color="pink"><h1>Create a new Fweet</h3></font>
  <form action="/tweets" method="post">
    <br>
    <br>
    Here: <input type="text" name="content" id="content">
    <input type="submit" name="submit" value="submit">
  </form>
