<h2>Create A New Tweet</h2>

<form class="" action="/tweets" method="POST">
  <label>Content</label>
  <input type="text" name="content" id="content">
  <input type="submit" name="" value="Submit" id="submit">
</form>
