<form action ="/tweets" method="post">
  <label> <h2> Create a Tweet: </h2></label>
      <p><input type="text" name="tweet" id="tweet" value= "New Tweet"> </input>

    <p><label> Author:  </label><input type="text" name="username" id="username" value="<%=username%>" </input>

    <p><label> Content:  </label><input type="text" name="tweet.content" id="tweet.content" value="<%= tweet.content%>"></p></input> -->

    <input type="submit" name="submit" value="submit"> </input>

</form>
