<h1>Write Your Tweet, People Care About Your Opinions!</h1>

<form method="POST" action="/tweets">
  <label>Write here... </label>
  <input type="text" name="content"><br></br>
  <p><strong>Phone Number (Optional - Just type in a 10-digit telephone number)<br><br>
  <input type="submit" name="submit" value="submit">
</form>
