<!-- <h2>Create New Tweet</h2>
<form method="POST" action="/tweets">
<label>Write Content:</label>
<input type="text" name="tweet[content]">
<input type="submit" id="Submit" value="Submit">
</form> -->

Hello World
