<h1>New Tweet</h1>
<form method="post" action="/tweets">
    <label for="content">Content:</label><br>
    <input type="text" name="content" id="content">
    <input type="submit" id="submit">
</form>