<h1>Create a new Tweet</h1>

<form action="/tweets" method="post">
  <input type="text" id="content" name="content" required><br>
  <input type="hidden" id="user_id" name="user_id">
  <input type="submit" value="submit">
</form>