<h1>Tweet!</h1>

<form action="/tweets" method="post">
  <label>Content </label><input id="content" type="text" name="tweet[content]">
  <br></br>
  <input type="submit" id="submit" value="Post">
</form>
