<h2>Create New Tweet</h2>

<form method="POST" action="/tweets">
  <input type="text" name="tweet[content]" value="Tweet Content">

  <input type="submit" name="new_tweet" value="Create New Tweet">
</form>
