<h3>Create a new Tweet</h3>

<p>
<form action="/tweets/new" method="POST">
  <label for="content">Content:</label>
  <input type="text" name="content" id="content"></input><br>
    <button type="submit" name="submit" value="submit" id="submit">Submit</button>
</p>
