<h1 class="bg-info">Write Your Tweet, People Care About Your Opinions!</h1>

<form method="POST" action="/tweets">
  <label>Tweet away:</label>
  <input type="text" name="content"><br></br>
  <p><small>Phone Number to Catch this Tweet (placeholder: twilio functionality disabled):</small><br><br>
  <input type="submit" name="submit" class="btn btn-info" role="button" value="submit">
</form>
