<h1>Welcome, <%=@user.username%></h1>
<h2>New Tweet</h2>

<form action="/tweets" method="post">
	<input type="text" name="content" id="content">
	<input type="submit" name="submit" id="submit" value="submit">
</form>