<div class="container">
  <div class="tweet_box_container new_tweet">
    NEW TWEET
    <form action="/tweets" method="post" id="tweet_box">
      <textarea name="content" class="tweet_box textarea"></textarea>
      <input type="submit" name="Submit" class="button_sm_yellow" value="Tweet">
    </form>
  </div>
</div>
