<% @title = "New Tweet" %>
<form action="/tweets" method="post">
  <input type="text" name="content" size = "140" maxlength = "140" placeholder="your tweet here" autofocus>
  <input type="submit" name="submit" value="Post">
</form>
