 <form action="/tweets" method="post" id="form1">
      <p><label> Content: </label> <input type="text" name="content" id="content"></p>
      
 </form>

<button type="submit" form="form1" value="submit">submit</button>