<h1>Create New Tweet</h1>
  <form method="POST" action="/tweets">
    <p>Name: <input type="text" name="content" id="content"></p>
    <input type="submit" name="Create" value="Create" id="submit">
  </form>
