<h1>Create a new tweet!</h1>

<form action="/tweets/new" method="post">
  
  <label for="content">Content: </label>
  <input type="text" name="content">
  <br><br>

  <input type="submit" id="submit">

</form>