<h2>Create New Tweet</h2>
<form method="POST" action="/tweets">
  <label>Write Content:</label><br>
  <input type="text" name="tweet[content]" id="content">
  <br>
  <input type="submit" id="submit" value="Submit">
</form>
