<h1>Write a New Tweet</h1>
<form method='/tweets' action="POST">
  <label for="content">Tweet:</label>
  <input type="text" id="content" name="content">
  <button type="submit" value="submit">Post Tweet</button>
</form>
