<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Create New Tweet</title>
</head>
<body>
  <h3>Create a new tweet:</h3>
  <label>Content:</label>
  <form action="/tweets" method="post">
    <input type="text" id="content" name="content" placeholder="Content">
    <input type="submit" id="submit" value="Create Tweet">
  </form>

</body>
</html>