<form action='/tweets' method="post">
<div class="form-group">
  <label for="content">Content:</label>
  <input class="form-control" type="text" id="content" name="content">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>
