<h3>Create A New Tweet</h3>

<br>

<form method="post" action="/tweets">
  <textarea name="content" rows="4" cols="55" maxlength="280" placeholder="Craft your marvelous tweet here (280 character max)..." required></textarea>

  <br><br>

  <input type="submit" id="submit" value="Submit">
</form>

<hr>

<form action="/tweets">
  <input type="submit" value="Return to Tweets">
</form>
