<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New Tweet</title>
    </head>
    <body>
        <h1>New Tweet</h1>

        <div>
            <form action="/tweets" method="post">
              <input type="text" name="tweet[content]" id="content" placeholder="Tweet here">
              <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </body>
</html>