<h2>New Tweet</h2>

<form action="/tweets/show" method="POST">
  <a><label for="new_tweet">Content:</label></a>
  <br></br>
    <textarea name="content" id="new_tweet"></textarea>
  <br></br>
  <input type="submit" value="submit"></input>
</form>
