<fieldset>
  <legend>Tweet!</legend>
    <form method="POST" action="/tweets">
      <label>Content: <input type="text" name="content" /></label><br>
      <input type="submit" id="submit" />
    </form>
</fieldset>
