<h1>Add a New Tweet</h1>

<form action="/tweets" method="POST">
  <label> Tweet: </label>
  <textarea name="content" style="width:auto; height:auto;"></textarea>
  <input type="submit" value="submit" name="submit">
</form>
