<h1>Create New Tweet</h1>
<form action="/tweets" method="POST">
  <label for="content">Write your Tweet below:</label><br>
  <textarea name="content" required></textarea><br>
  <input type="submit" value="Create Tweet" id="submit">
</form>
<a href="/logout">Log Out</a>