<h1>Write a New Tweet</h1>
<form method='/tweets' action="POST">
  <label for="tweet_content">Tweet:</label>
  <input type="text" id="tweet_content" name="tweet[content]">
  <button type="submit" value="post_tweet">Post Tweet</button>
</form>
