<%#= tweets/new.erb %>

<h2>Create a new Tweet: </h2>

<form class="" action="/tweets" method="post">
  <label for="name">Content:</label>
  <input type="text" name="content">
  <input type="submit" name="" value="Create Tweet">
</form>
