<h2>What do you want to tweet?</h2>

<section class="error"><%= flash[:message] %></section>

<form action="/tweets" method="post">
    <div class="container tweet mx-auto">
        <div class="row align-items-center">
            <div class="col-sm-3 image-container">
                <figure>
                    <img src="../images/no-photo.png" alt="generic head silhouette" class="img-fluid">
                </figure>
            </div>

            <div class="col-sm-6 tweet-container">
                <h5></h5>
                <h6><textarea id="content" name="tweet[content]" placeholder="What's going on?"></textarea></h6>
                
            </div>
            <div class="col-sm-auto">
                <input type="submit" id="submit" value="Create">
            </div>
        </div>
    </div>    
</form>

