<% @title = "New Tweet" %>
<form action="/tweets" method="post">
  <label>Tweet!</label>
  <input type="text" name="tweet" placeholder="your tweet here">
  <input type="submit" name="submit" value="Post">
</form>
