<% if flash.has?(:empty_tweet_error) %>
  <%= flash[:empty_tweet_error] %> 
<% end %>

  <form action='/tweets' method="POST">
    
  Content:
    <input type="text" name="content" id="content"><br>
   
    <input type="submit" name="submit" id="submit">

  </form>
>
