<h1>New Tweet</h1>
<form action '/tweets' method="POST">
	Please input your message: <br><input type="text" name="content" id=":content">
	<input type="submit" name="submit" id ="submit" value="Save Tweet">
</form>
