<h1>Write a Tweet</h1>

<form action="/tweets" method="POST">
  
  <label>Write your Tweet</label>
  <input type="text" id="content" name="content">

  <br><br>
  
  <input type="submit" id="submit" value="Create Tweet">
  
</form>