  <form action='/tweets' method="POST">

    Content:
    <input type="text" name="content" id="content" placeholder="Type in Tweet" required>
    <br>

    <input type="submit" name="submit">

  </form>

