<h1>Create a new Tweet</h1>

<form action="/tweets" method="POST">
  <label for="content">Content:</label>
  <input id="content" type="text" name="content" style="width: 200px;" maxlength="140">
  
  <br><br>
  <input type="submit" name="submit" value="submit">
</form>