<h1><label for="tweet">Create a new tweet:</label></h1>
<form action="/tweets" method="post">
  <textarea name="content" id="tweet" cols="30" rows="10"></textarea>
  <div><input type="submit" value="Create Tweet" id="submit"></div>
</form>
