<h1>Welcome to Fwitter</h1>
<form action="/tweets" method="POST" accept-charset="utf-8">
  <label>Tweet Content:</label>
  <textarea name="content"></textarea>">
  <label><input type="submit" name="submit" value="submit"></label>
</form>