<h1>Create a new Tweet</h1>

<form action="/tweets" method="post">
  <p>Content: <input type="text" name="content" placeholder="Write your text here" id="content"></p>
  <input type="submit" value="submit" id="submit">
</form>
