<h1>Create a new tweet</h1>

<form action="/tweets" method="post">

  <label>Tweet Content:</label>
    <input  type="text" name="content" id="content"></input>

  <input type="submit" value="Create" id="submit">
</form>
