<h1>Create a new tweet</h1>

<form action="/tweets" method="POST">
	<p>Tweet content:<input type="text" name="content" id="content"></p>
	<input type="submit" name="submit" id="submit" value="Tweet">
</form>