<form method='post' action='/tweets'>
	<h1><label for='tweet'>New Tweet:</label></h1>
	<textarea id='tweet' name='content'></textarea>
	<p><input type='submit' value='submit'></p>
</form>

<a href="/logout">Logout</a>