<form method="POST" action="/tweets">
<h2>Tweet:<h2>
<h5>Enter 140 characters</h5>

  <label for="content">Content:</label>
  <input type="text" name="tweet[content]" id="content" /><br /><br />

  <input type="submit" name="submit" id="submit" value="Tweet" />
</form>
