<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Tweet</title>
  </head>
  <body>
    <form action="/tweets" method="post">
      <label>Content</label>
      <input type="text" id="content" name="tweet[:content]">
    </form>
  </body>
</html>
