<h1>Fwitter New Tweet</h1>

<form class="" action="/tweets" method="post">
  <p>
    <label for="content">Tweet: </label>
    <textarea id="content" name="content" rows="8" cols="80"></textarea>
  </p>

  <p><input type="submit" id="submit" value="Tweet!"></p>
</form>
