<h3>Create Tweet</h3>

<form action="/new" method="post">
  <input type="text" name="content" value="content">
  <!-- <input type="password" name="password" placeholder="Password:"> -->
  <input type="submit" id="submit" value="Submit">
</form>
