<!DOCTYPE html>
<html>
<head>
	<title>Create a Fweet!</title>
</head>
<body>
	<form method="POST" action ="/tweets">
		<h1>Let's make a Fweet!</h1>
		<p>We can't wait for your positive and contructive insights into our world - just like our current president !</p>

		<input type="text_area" name = "content" id="content" >
		<input type="submit" id="submit">
		
	</form>

</body>
</html>