<div class="create_tweet">

<h2>Create a new Tweet</h2>

<h3>What would you like to say?</h3>

<form method="post" action="/tweets">
  <textarea name="tweet[content]" placeholder="Write your tweet here..." maxlength="250" rows="7" cols="50" id="content" required></textarea><br>
  <input type="submit" id="submit" value="Post Tweet">
</form>


</div>
