<h2>Create a New Tweet</h2>

<form method = "post" action="/tweets">
  <label for="content">Tweet:</label>
  <input type="text" id="content" name='tweet[content]'>
  <input type="submit" id="submit" value="Submit">
  <input class="btn btn-primary" type="submit">
</form>