<h1>Enter a New Tweet</h1>
<Form method="post" action="/tweets/new">
	<label for="content">New Tweet: </label><input type="text" name="content" id="content" value="Enter tweet...">
	<input type="submit" value="Submit" id="submit">
</Form>
