<h1> Write a Tweet </h1>

<a href="/tweets">Back to Your Tweets</a>

<form action="/tweets" method="post">
  <p>
  <label for="content">Tweet Content:</label>
  <br>
  <textarea id="content" type="text" name="tweet[content]"></textarea>
  </p>

  <input type="submit" value="Publish Tweet">
</form>
