<form class="" action="/tweets/new" method="post">

  <label for="username">Content:</label>
  <input type="text" name="content" value="" id="content"><br>
  <input type="submit" value="submit">
</form>
