<h3>On this page, you can create a new tweet</h3>

<!-- This page will need a form that posts to /tweets.
The tweet is composed only of content.
You will also need to associate the tweet to a specific user. -->

<form action="/tweets" method="post">
  <label for="content">Content of your tweet</label>
  <input type="text" name="tweet_content" id="content">
  <input type="submit" id="submit">
</form>
