<html>
<head>
  <title></title>
</head>
<body>
  <h1>New tweet form</h1>
  <form action="/tweets" method="POST">
    <textarea row="100" cols="50" name="content"></textarea>
    <input type="submit" value="submit">
  </form>
</body>
</html>