<!DOCTYPE html>
<html>
<head>
  <title>FWITTER</title>
</head>
  <body>
    <h1><label>New Tweet</label></h1>
    <h2>Session[:user_id]: <%= session[:user_id] %></h2>
    
    <form action="/tweets" method="POST">
      <input type="text" name="content">
      <input type="submit" value="submit">
    </form>
    
  </body>
</html>