<h3>Add a tweet</h3>

  <form action="/tweets" method="post">

    <label for="content">Status: </label>
    <input type="text" name="content" id="content"><br>

    Create Your Tweet:

    <input class="btn btn-primary" type="submit" name="submit" id="submit">

  </form>
