</br>

<form action='/tweets' method="post">
<div class="form-group">
  <label for="content"><h3>Content:</h3></label>
  <input class="form-control" type="text" id="content" name="content">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>
