<h1>New Tweet:</h1>
<br></br>

<form method="POST" action="/tweets/new">
    <label for="content">Content:</label>
    <input type="text" id="content" name="content">
    
    <input type="submit" id="submit">Post Tweet</input>
</form>