<p><%=@tweet.content%> </p>
<p><%=@tweet.user %> </p>

<form method='POST' action='/tweets/<%=@tweet.id%>/delete'>
  <input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" id="Delete Tweet" value="Delete Tweet">
</form>
<a href='/tweets/<%=@tweet.id%>/edit'>Edit Tweet</a>
