<h1><%= current_user.username %> tweeted on </h1>
<div class="tweet">
  <%= @tweet.content %>
</div>
<br>


<div class="button" id="Edit Tweet"><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></div>

<div class="button">
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="submit" type="submit" value="Delete Tweet" id="Delete Tweet">
</form>
</div>
