<center><h1><font color="pink"><%= @user.username.capitalize %>'s Fweets</font></h1>
<br>
<br>
<br>
<%= @tweet.content %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form class="" action="/tweets/<%= @tweet.id %>/edit" method="post">
  <input type="submit" value="Edit Tweet">

</form>
<a href="#">Delete Tweet</a>
