<% if logged_in? %>
  <br>
  <%= @tweet.content %>
  <% if current_user == @tweet.user.username %>
    <br></br>
    <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a> <!-- TODO -->
    <a href="#">Delete Tweet</a> <!-- TODO -->
    <% end %>
<% end %>
