<h2>Tweet by:</h2>
<h3><%=@tweet.user.username%></h3>

<p><%=@tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" id ="delete" value = "Delete Tweet">
</form>r

<form action="/tweets/<%=@tweet.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patc">
  <input type="submit" name="delete" id ="delete" value = "Edit Tweet">
</form>r