<%if self.is_logged_in?(session)%>
  <%=@tweet.content%>
  <form action="/tweets/<%=@tweet.id%>/delete" method="post">
    <input type="submit" value="Delete Tweet">
  </form>
  <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<%else%>
<%end%>
