<h3>Tweet</h3>
<h4>Author: <%=@user.username%></h4>
<p><%= @tweet.content %></p>
<div class="button_panel">

<form method="post" action="/tweets/<%=@tweet.id%>/delete"><input id="hidden" type="hidden" name="_method" value="delete"><input type="submit" id="Delete Tweet" value="Delete Tweet"></form>
<a href="/<%=@tweet.id%/edit>">Edit Tweet</a>
</div>
