
<%tweets = Tweet.find_by_id(params[:id])%>

<%=tweets[:content]%>

<form method='POST' action='/tweets/<%=tweets[:id]%>/delete'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type='submit' value='Delete Tweet'>
</form>

<a href='/tweets/<%tweets[:id]%>/edit'>Edit Tweet</a>