<h2>Tweet Content</h2>

<%= @tweet.content %>

<form method="POST" action="/tweets/<%= @tweet.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" id="submit">
</form>

<form  method="POST" action="/tweets/<%= @tweet.id %>/edit">
  <input type="submit" value="Edit Tweet" id="submit">
</form>
