<p>This is the show tweet page</p>

<h3><%= @tweet.content %></h3>
<form  action="/delete" method="post">
    <input type="submit" name="Edit" value="Edit Tweet">
    <input type="submit" name="Delete" value="Delete Tweet">
</form>
