<h4><%=@tweet.content if @tweet%></h4>
<form action="/tweet/<%=@tweet.id%>" method="POST">
  <button type="delete" value="delete">Delete Tweet</button>
  <button type="edit" value="edit">Edit Tweet</button>
</form>
