<h2>Your Tweet</h2>
<a href="/tweets/1/edit">Edit</a>
<form action="/tweets/1/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" class="button" value="Delete">
</form>
