<center><h1><font color="pink"><%= @tweet.user.username.capitalize %>'s Fweets</font></h1>
<br>
<br>
<br>
<% @tweets.each do |t| %>
<%= t.content %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form class="" action="/tweets/<%= @tweets.id %>/edit" method="post">
  <input type="submit" value="Edit Fweet">

</form>
<a href="#">Delete Fweet</a>
