<p><%= @tweet.content %></p>

<br><br>

<% if current_user.owns?(@tweet) %>

  <form method="get" action="/tweets/<%= @tweet.id %>/edit">
    <input type="submit" value="Edit" id="Edit Tweet">
  </form>

  <br><br>

  <form method="post" action="/tweets/<%= @tweet.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Baweet" id="Delete Tweet">
  </form>

  <br><br>

<% end %>