<h1>Your Tweets</h1>
  <form method="POST" action="/tweets/:id/delete">

    <p><%= @tweet.content %></p>
    <a action="/tweets/<%= @tweet.id %>/edit">  <input type="button" value="Edit"></a>
      <input type="submit" id="delete" value="Delete Tweet"/>
  </form>
