<%= @tweet.content %>


<form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="submit" name="Delete Tweet" value="Delete Tweet">
</form>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
