<h5>Tweet:</h5>
<%= @tweet.content %><br /><br />

<a href="/tweets/<%=@tweet.id%>/edit"><button type="button">Edit Tweet</button></a><br /><br />
<a href="/tweets/<%=@tweet.id%>/delete"><button type="button">Delete Tweet</button></a><br /><br />
