<h1><%= @user.username %>'s Tweet</h1>

<h3><%= @tweet.content %></h3>

<% if @tweet.user == current_user %>
  <p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>
  <form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
  </form>
<% end %>

<a href="/tweets">Back to all tweets</a>
