<h1>Tweet</h1>

<h2><%= @tweet.content %></h2>

<form class="" action="index.html" method="post">

<p></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
</form>
