<center>
  <h3><%= @tweet.content %></h3>

  <form action="/tweets/<%=@tweet.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Tweet">
  </form>

  <button> <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a> </button>

</center>
