
<h1>User: <%= @tweet.user %></h1>
<div>
	Content:<br>
	<%= @tweet.content %>
</div>


<form action="/tweets/<%= @tweet.id %>/delete" method="post">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Tweet" name="Delete Tweet">
</form>


<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>