<h3> Welcome, here is your latest tweet!</h3>
<p><%= @tweet.content %></p>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<br><br>

<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<p>See all your tweets <a href='/tweets'>here.</a>
