<h1>Show Tweet</h1>

<h1><%= @tweet.content %></h1>


<h4><a href="/logout">Log Out</a></h4>

<a href="/tweets/<%= @tweet.id %>/edit"><input type="button" value="Edit Tweet"></a>



<form method="post" action="/tweets/<%=@tweet.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="button" value="Delete Tweet">
</form>
