
<p><%=@tweet.content%></p>

<a href="/tweets/:id/edit">Edit Tweet</a>
<form method="tweets/:id/delete" action="POST">

  <input type="submit" value="Delete Tweet" id="Delete Tweet" name="Delete Tweet">


</form>
