<h2>Tweet Number:<%= @tweet.id %></h2>
<h3>Tweet Content:<%= @tweet.content %></h3>
<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>



<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="delete" value="Delete Tweet">
</form>
