<h2>Tweet Content</h2>

<%= @tweet.content %>

<form method="POST" action="/tweets/<%= @tweet.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" id="submit">
</form>

<form  method="POST" action="/tweets/<%= @tweet.id %>/edit">
  <input type="submit" value="Edit Tweet" id="submit">
</form>


# Youll want to create an edit link on the tweet show page.

# The form to delete a tweet should be found on the tweet show page.
  # The delete form doesnt need to have any input fields, just a submit button.
  
  # The form to delete a tweet should be submitted via a POST request to tweets/:id/delete.
  