
<%if flash.has?(:notice)%>
  <%=flash[:notice]%>
<% end %>

<h3><%=@tweet.content%></h3>
<br><br>


    <a href="/tweets/<%=@tweet.id%>/edit"><button type="button" name="button">Edit Tweet</button></a>
    <br>
    <a href="/tweets"><button type="button" name="button">Home</button></a>

    <form class="" action="/tweets/<%=@tweet.id%>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Tweet">
    </form>
