
<h1><%=@tweet.content%></h1>

<form action="/tweets/<%=@tweet.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
  
</form>

<label>Edit Tweet</label>
<!-- should be link to edit form here -->
