<h4><%=@tweet.user.username%></h4>
<br />
<br />
<br />
<h2>Tweet</h2>
<p><%=@tweet.content%></p>
<br />
<a href='/tweets/<%=@tweet.id%>/edit'>Edit Tweet</a>
<form action ='/tweets/<%=@tweet.id%>/delete' method='POST'>
  <input type='hidden' id='hidden' name='_method' value ='DELETE' />
  <input type='submit' value='Delete Tweet' />
</form>
