<h1>Show Tweets</h1>

<p><%= @tweet.content %></p>

<p><a href="/tweets">View All Tweets</a></p>
<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>