<p> <%= @tweet.content %> </p>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
	<input type="hidden" id="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete This Tweet">
</form>
		ID:<%= @tweet.id %>	


<a href="/tweets/<%=@tweet.id%>/edit">Edit This Tweet</a>