<% if flash.has?(:message) %>
	<%= flash[:message] %>
	<%flash[:message].clear%>
	<br>
<% end %>
<%=@tweet.content%>

<br>

<a href="/tweets/<%=@tweet.id%>/edit"><button>Edit Tweet</button></a>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Tweet">
</form>