
<p><%= @tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>/edit" method="GET">
  <input id="hidden" type="hidden" name="_method" value="EDIT">
  <input type="submit" value="Edit Tweet">
</form>

<form action="<%=@tweet.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<form action="/tweets" method="GET">
  <input type="submit" value="Home">
</form>
