<h2><%=@tweet.content%></h2>

<form class="" action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="submit" name="" value="Delete Tweet">

</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
