<%= @tweet.content %><br>
Edit Tweet<br>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Tweet">
</form>