<p><%= @tweet.content %></p>
<form method="POST" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" value ="DELETE" id="hidden"></input>
  <input type="submit" value="Delete Tweet"></input>
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
