<h1>Your Tweet:</h1>
  <p><%= @tweet.content %></p>
  <label>Delete Tweet</label>
  <form method="post" action="/tweets/<%=@tweet.id%>"/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
  </form>
