<h2>Here's your new tweet, <%=@user.username%></h2>

<p><%=@tweet.content%></p>

<a href="/tweets">Back to all tweets</a>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<a href="/tweets/<%=@tweet.id%>/delete">Delete Tweet</a>
