<form><action="/tweets" method="POST" input type="submit" value="Delete Tweet" id="delete"></input></form>
<!-- %= @tweet.current_user %> %= Tweet.current_user %> %= Tweet.user_id %> %= Tweet.id %> %= @tweet.id %> % @tweet.id %>
