<p><%= @tweet.content %></p>
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br>
<a href='/tweets'>See All Tweets</a><br>
<a href='/tweets/new'>Create New Tweet</a><br>
<a href='/logout'>Log Out</a>
