
<h4>on the show_tweet </h4>

  <%if logged_in?%>
  <!-- used current_user because it is already iterated over...  -->
   <h3> Welcome,<%= @current_user.username%> </h3>

   <%end%>

  <a href="/login">Log Out</a>
