
<%= @tweet.content %>

@tweet => <#Tweet id=1 content="sample">
@tweets => [<#Tweet 1>, <#Tweet 2>].each

<a href="/tweets/:id/edit/">Edit Tweet</a>
 
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Tweet">
      
</form>