tweets.show.erb
<label> <%= @tweet.username %> </label>
<label> <%= @tweet.content %> </label>

<form method='post' action="/tweets/<%=tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet"> Delete Tweet

</form>
