<h3>Tweet:</h3>
<p><%=@tweet.content%></p>

<h4><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></h4>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="delete">Delete Tweet</button>
</form>
