<div>
  <%= @tweet.content %>
</div>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" id="delete_tweet" value="Delete Tweet">Delete Tweet</button>


</form>
  <button type="button" name="edit"><a href="/tweets/<%= @tweet.id %>/edit"> Edit Tweet </a></button>
</br>
