<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Tweet</title>
</head>
<body>
  <form action="/tweets" method="post">
    Content: <input id="content_1" type="text" name="content">
    <button type="submit" value="submit">submit</button>
  </form>

</body>
</html>
