Tweet Content: <%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="submit" name="submit" id="Delete Tweet">Delete Tweet</input>
</form>






<!-- logout form -->
<!-- <form action="/users/logout" method="post">
  <input type="submit" name="logout">Log Out</input>
</form> -->