<h3>Tweet</h3>
<h4>Author: <%=@user.username%></h4>
<p><%= @tweet.content %></p>
<div class="button_panel">
  <a href="/<%=@tweet.id%>/delete">Delete Tweet</a>
  <a href="/<%=@tweet.id%/edit>">Edit Tweet</a>
</div>
