<!DOCTYPE html>
<html>
  <head> <title><%=@user.username%>'s Tweet</title>
  </head>

  <body>
    <h3><%=@tweet.content%></h3>
    <br></br>
    <h3>  - <%=@user.username%></h3>

    <%if logged_in?%>
      <form action="/tweets/<%=@user.id%>/delete" method="POST">Delete Tweet</a>
      <input id="hidden" type="hidden" name="_method" value="delete">
		  <input type="submit" value="delete">
      </form>
    <%end%>
  </body>
</html>
