<h1><%=@tweet.content%></h1>
<a href="/tweets/<%=@tweet.id%>/edit"><input type="submit" value="Edit Tweet"></a>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
<input type="hidden" name="_method" value="delete">
<input type="submit" id="Delete Tweet" value="Delete Tweet">
</form>