<h1>Show Tweet Page</h1>

<h3><%=@tweet.content%> - <%=@user.username%></h3>

  <p>Click this link to <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet<a/>


<form method="post" action="/tweets/<%= @tweet.id %>/delete">

  <input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>


<!---  <input id="hidden" type="hidden" name="_method" value="DELETE"> -->