<%= @tweet.content %>

<a href="tweets/<%=@tweet.id%>/delete">Delete Tweet</a>
<a href="tweets/<%=@tweet.id%>/edit">Edit Tweet</p>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="Delete Tweet" value="delete">
</form>