<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Fweet <%= @tweet.id %></h1>
      <p><%= @tweet.content %></p>
      <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
      <form method="POST" action = "/tweets/<%=@tweet.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button name="submit" type="submit">Delete Tweet</button>
      </form>
  </body>
</html>
