<%= @tweet.content %>

<a href='/tweets/<%=@tweet.id%>/edit'>Edit This Tweet</a>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Tweet">
</form>
