Welcome, <%= @user.username %>

<% @user.tweets.each do |tweet| %>
  <p>look at this tweet <%= tweet.content %></p>
<% end %>


<form method="post" action="/tweets/<%= @tweet.id %>/delete">
 
 <button type="submit">Delete Tweet</button>
<form>