<head>
  <title>User's Tweet Index</title>
</head>
<body>
  <h3><%="#{@user.username}'s tweets"%>:</h3>
  <% @user.tweets.all.each_with_index do |tweet,i| %>
    <%= "#{i+1}. "%><%=tweet.content%><br>
  <% end %><br>

  <a href="/logout"><input type="button" value="Log Out"></a>
</body>
</html>