<%= @tweet.content %>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<form action="/tweets/<%=@tweet.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet"></input>
</form>

