<%= @tweet.content %>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input id="hidden" name="_method" type="hidden" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
