<%= @tweet.content %>

<form class="" action="/tweets/<%=@tweet.id.to_s%>/delete" method="post">
  <input type="submit" id="Delete Tweet" value="Delete Tweet">
</form>

<form class="" action="/tweet/<%=@tweet.id.to_s%>/edit" method="post">
  <input type="submit" id="Edit Tweet" value="Edit Tweet">
</form>
