


<h3><%=@tweet.content%></h3>
<br><br>

<div class="buttons">
  <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
  <a href="/tweets/<%=@tweet.id%>/delete"><button type="button" name="button">Delete Tweet</button></a>
</div>
