<h1>Show single tweet</h1>



<form action="/tweets/<%=@tweet.id%>/edit" method="POST">
<input name="_method" type="hidden" value="patch" />
<br></br>

<label><%= @tweet.content %></label>

  <input type="submit" value="Edit Tweet">

</form>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
<input name="_method" type="hidden" value="delete" />

<br></br>
  <input type="submit" value="Delete Tweet">

</form>
