<h2> Here's Your Tweet </h2>

<%= @tweet.content %>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">

</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a><br>
<a href="/tweets/new"> Write another tweet </a> <br>
<a href="/tweets"> See all tweets </a>
