<h1>Delete Tweet No. <%=@tweet.id%>?</h1>
<p><%=@tweet.content%></p>
<form method="post" action="/tweets/<%=@tweet.id%>/delete"><input type="submit" name="Delete Tweet" id="Delete Tweet" value="Delete Tweet"></form>
