<% if @tweet %>
  <h3>  <%=@tweet.content%></h3>
<% end %>

<form class="" action="/delete/<%=@tweet.id%>" method="post">
  <input type="submit" value="Delete Tweet">
</form>

<h4><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></h4>
