<div>
  <p><%= @tweet.content %></p>
</div>

<form method="post" action="/tweets/<%=@tweet.user_id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
