<div>
  <p><%= @tweet.content %></p>
</div>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="button" value="Delete Tweet" type="submit">
</form>

<form action="/tweets/<%=@tweet.id%>/edit">
  <input class="button" value="Edit Tweet" type="submit">
</form>
