<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1> <%= @tweet.content %> </h1>
    <h2> -- <%= @tweet.user.username %> </h2>

    <form class="" action="/tweets/<%= @tweet.id %>/edit" method="get">

      <input type="submit" name="" value="Edit Tweet">

    </form>

    <form class="" action="/tweets/<%= @tweet.id %>/delete" method="post">
      
      <input type="submit" name="" value="Delete Tweet">

    </form>

  </body>
</html>
