<h1><%= current_user.username %> tweeted on </h1>
<div class="tweet">
  <%= @tweet.content %>
</div>
<br>


<button type="button" name="button" id="Edit Tweet"><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></button>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>
