<h1 class="bg-info">Your latest tweet...</h1>

<h2><%= @tweet.content %> <small>-- <%= User.find_by_id(@tweet.user_id).username %><small></h2>

<a href="/tweets/<%=@tweet.id%>/edit" class="btn btn-info" role="button">Edit Tweet</a><br></br>

<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-info" role="button" value="Delete Tweet">
</form><br>

<a href="/tweets" class="btn btn-info" role="button">Return to home</a>
