<h1>Tweet <%= @tweet.id %></h1>

<%= @tweet.content %></p>

<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet"> <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>

</form>
</p>

<hr>
<a href="/tweets/new">Create a New Tweet</a></p>
<a href="/tweets">Home</a></p>
<a href="/logout">Logout</a>
