<h1>Tweet</h1>

<h3><%= @tweet.content %></h3>
<h4>By: <%= User.find(@tweet.user_id).username %></h4>

<form action="/tweets/<%= @tweet.id %>/edit" method="get">
  <input type="submit" value="Edit Tweet" id="Edit Tweet">
</form>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>
