<%=@tweet.content%>

<form method='post' action='/tweets/<%= @tweet.id %>/delete'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='delete' id='Delete Tweet'></input>
</form>

<form method='post' action='/tweets/<%= @tweet.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type='text' name='content' placeholder="<%= @tweet.content %>"></input>
  <input type='text' value='submit' id='Edit Tweet'></input>
</form>