<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter | @<%= User.find(@tweet.user_id).username %></title>
  </head>
  <body>
    <h1>Fwitter</h1>
    <p><b>@<%= User.find(@tweet.user_id).username %></b></p>
    <p><%= @tweet.content %></p>
    <br>
    <input type="submit" value='Edit Tweet'> <input type="submit" value='Delete Tweet'>
  </body>
</html>
