<%=@tweet.content%>

<form method="post" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="Delete">Delete Tweet</button>
</form>
<p>Edit Tweet</p>
