<h2><%= @tweet.content %></h2>
<h3><%= @tweet.user.username %></h3>

  <a href="/tweets/<%= @tweet.id %>/edit"><button>Edit Tweet</button></a><br /><br />
  <form method="post" action="/tweets/<%= @tweet.id %>/delete">
    <button type="submit">Delete Tweet</button>
  </form>

<p>
  <a href="/tweets">Home</a>
</p>
