<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form method="POST" action="/tweets/<%= @tweet.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Tweet"><a href="/tweets/<%= @tweet.id %>"></a></input>
</form>