<h1>Your Recent Tweet:</h1>
<h2>Content: <%= @tweet.content %></h2>
<h4><a href="/tweets">View All Tweets</a></h4>
<h4><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></h4>
<form class="" action="/tweets/<%= @tweet.id %>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" id="Delete Tweet" value="Delete Tweet">
</form>
