<p><%= User.find_by(@tweet.user_id).username %> tweeted:</p>
<p><%= @tweet.content %></p>
<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>
<form method="post" action="/tweets/<%= @tweet.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Tweet">
</form>
<p><a href="/tweets">Back to all tweets.</a></p>