<div class="col-sm-offset-1"><br>

  <h2 class="tweets_title">Your Tweet</h2><br><br>
  <p class="lead tweets"><%= @tweet.content %></p><br><br><br>

  <div class="form-group row">
    <div class="col-sm-1">
      <a href="/tweets/<%=@tweet.id%>/edit"><button type="submit" value="edit" class="btn btn-success">Edit Tweet</button></a>
    </div>
  </div>

  <form action="/tweets/<%=@tweet.id%>/delete" method="post">
    <div class="form-group row">
      <div class="col-sm-1">
        <button type="submit" value="delete" class="btn btn-danger">Delete Tweet</button>
      </div>
    </div>
  </form>
</div>
