<%= @tweet.content %>
<br>
<a href="<%=@tweet.id%>/edit">Edit Tweet</a>
  <br>
  <h4>DELETE this tweeet </h4>
  <form action="/tweets/<%= @tweet.id %>/delete" method="POST">
    <!-- <input type="hidden" name="_method" value="patch"> -->
  <input type="submit" name="delete" value="Delete Tweet">
