<div>
  <p><%= @tweet.content %></p>
</div>

<form method="post" action="/tweets/<%=@tweet.user_id%>">
  <input class="button" name="Delete Tweet" type="submit">
  <input class="button" name="Edit Tweet" type="submit">
</form>
