<h2>Here is the Tweet:</h2>

<p><strong>Tweet's Author: </strong><%= @tweet.user.username %></p>
<p><strong>Tweet Content: </strong><%= @tweet.content %></p>


<% if authorized_to_edit?(@journal_entry) %>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<br><br>
<form class=" " action="/tweets/<%= @tweet.id %>" method="post">
    <input type="Hidden" name="_method" value="DELETE">
    <input type="submit" name="Delete Tweet" value="Delete Tweet">
</form>
<% end %>

<br></br>
<small><p><a href="/tweets">Tweet Index</a></p></small>
