
<h2> Here is <%=current_user.username%>'s Tweet: </h2>

<h3> <%= @tweet.content %> </h3>


<form action= "/tweets/<%=@tweet.id%>/delete" method = "POST">
  <input id= "hidden" type = "hidden" name= "_method"
  value = "delete">
</br>

<label> Select to Delete This Tweet:</label>
<input type="submit" value = "Delete Tweet"></br></br>


</form>

<label> To Edit This Tweet Select: </label>
<a href= "/tweets/<%=@tweet.id%>/edit"> "Edit Tweet"</a>

</br> </br>
