<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome Tweets!</h1>
    <%= @tweets.each do |tweet| %>
    <li><%= tweet%></li>
    <% end %>

  </body>
</html>
