
<h2>Tweet #<%=@tweet.id%></h2>
<p><%=@tweet.content%></p>
<a href="/tweets/:id/edit">Edit Tweet</a>
<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" name="Delete Tweet">
</form>
