<h1><%=@tweet.user.username%></h1>
<p<%=@tweet.content%></p>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<form method="post" action="/tweets/<%=@tweet.user_id%>/delete">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>