
<h1>Hello</h1>

<p><%= @tweet.content %></p>

<form method="post" action="/tweets/<%= @tweet.id %>/delete">
 <input id="hidden" type="hidden" name="_method" value="DELETE">
 <button type="submit">Delete Tweet</button>
<form>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

