<h1>Welcome, <%= @user.username %> - Your Selected Tweet!</h1>

      <h3><%=@tweet.content%></h3>
      <h5><a href="/tweets/<%=@tweet.id%>/edit"> Edit Tweet</a><h5> 


<form method="post" action="/tweets/<%=@user.tweets.first.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="Delete Tweet" type="submit" value="Delete Tweet">
</form>
