<h4><%= @tweet.content %></h4>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Tweet</button>
</form>


<form action="/tweets/<%=@tweet.id%>/edit" method="POST">
  <button type="submit">Edit Tweet</button>
</form>
