<h1><%=@tweet.content%></h1>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Delete Tweet</a>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<!-- changed href edit_tweet to edit because path is edit-->
