<% unless locals.empty? %>
  <%= message %>
<% end %>


<%=@tweet.content%><br>
<form action="/delete" method="post">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/tweets/:id/edit">Edit Tweet</a>
