


<%=  @tweet.content %>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">

</form>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<h3><a href="/tweets/new"></a>Create</h3>
<h3><a href="/tweets/edit"></a>Edit</h3>
