
<h2> <%= @tweet.content %> </h2>
<h3> by <%= @user.username %> </h3>


<% if !Helpers.logged_in?(session) %>
  <a href='/users/login'>Log In</a> to Edit
<% else %>
  <a href='/tweets/<%= @tweet.id %>/edit'>Edit Tweet</a>
  <form action='/tweets/<%=@tweet.id%>/delete' method="POST">
    <input type="submit" id="Delete Tweet" value="Delete Tweet">
  </form>
<% end %>
