
<p><%= @tweet.content %></p>
<form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="content">
    <button id="submit" type="Edit Tweet">Edit Tweet</button>
</form>
<form method="post" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" name="Delete Tweet">Delete Tweet</button>
</form>
