<h3><%= @tweet.user.username %>'s Tweet</h3>
<%= @tweet.content %>

<% if current_user == @tweet.user %>
  <hr>

  <form action="/tweets/<%= @tweet.id %>/edit">
    <input type="submit" value="Edit Tweet">
  </form>

  <br>

  <form action="/tweets/<%= @tweet.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" id="Delete Tweet" value="Delete Tweet">
  </form>
<% end %>

<hr>

<form action="/tweets">
  <input type="submit" value="Return to Tweets">
</form>
