<h1>Your Tweet</h1>

<p><%= @tweet.content %></p>

<p><a href="/tweets/<%= @tweet.id %>/delete">Delete Tweet</a></p>
<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>
<p><a href="/logout">Log Out</a></p>
