<p><%=@tweet.content%></p>
<p><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></p>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <label>Delete Tweet</label>
  <input type="submit" id="submit" value="Delete Tweet"></input>
</form>
