<%= @tweet.content %><br>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete"></input><br>
  <input type="submit" value="Delete Tweet"></input>
</form>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
