<p style="color: red">
  <em>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
  </em>
</p>

<h3>Your Tweet</h3>

<p><%=@tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit" class="button">Edit Tweet</a>
