<%=  @tweet.content %>

<form class="" action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Tweet">

</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
