<h1>Fwitter Signup</h1>

<form action='/signup' method="POST">
  <p>Username: <input type="text" id="username" name="user[username]"></p>
  <p>Email: <input type="text" id="email" name="user[email]"></p>
  <p>Password: <input type="text" id="password" name="user[password]"></p>

  <input type="submit" value="Submit"
</form>
