<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <h2>Welcome, <%= @user.username %>!</h2>
    <% Tweet.all.each do |tweet| %>
      <p><%= tweet.content %></p>
      <br>
    <% end %>
  </body>
</html>
