<h3>Welcome, <%=@user.username%>!</h3>
<p>Here are a list of tweets<p>
  <ul>
    <%Tweet.all.each do |tweet|%>
    <li><%=tweet.content%><li>
    <%end%>
  </ul>


Want to <b><label><a href="/tweets/new">Edit Tweet</a></label></b> or <b><label><a href="/tweets">Delete Tweet</a></label></b>?
<br>
<br>
<br>
