tweets here

<% user = User.find(session[:user_id]) %>
<h2>Welcome, <%= user.username %></h2>


<% Tweet.all.each do |tweet| %>
  <p><a href="tweets/<%= tweet.id %>"</a><%= tweet.content %></p>
<% end %>




