<h1>Welcome, <%= current_user.username %></h1>

<h2>Tweets:</h2>
<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.user.username %> says:
    <%= tweet.content %>
  </div>
<% end %>

<br><br>
<a href="/tweets/new">Create a New Tweet</a>
<br><br>
<a href="/users/<%= current_user.slug %>">Visit Your Tweets</a>
