<body>
<h1>Welcome, </h1>
<h2><%=@user.username%> - All Tweets</h2>

 <form action="/tweets/new" method="get">
   <input type="submit" value="New Tweet"></input>
 </form>

<% @tweets.each do |tweet| %>
  <p><a href="/tweets/<%= tweet.id%>"><%=tweet.content%></a></p>
<% end %>

 <form action="/logout" method="get">
   <input type="submit" value="Log Out"></input>
 </form>

</body>