<% if logged_in?  %>
       <h1>Welcome, <%= current_user.username %></h1>

<%Tweet.all.each do |tweet| %>
<h3><li><a href="/tweets/<%=tweet.id %>"><%= tweet.content%></a></li></h3>
    <% end %>

    <a href="/tweets/new">New Tweet</a><br>

    <a href="/users/<%= current_user.slug %>"> My Tweets </a><br>

    <a href="/logout">Log Out</a>

<%end%>
