<section class="error"><%= flash[:message] %></section>

<% @tweets.each do |tweet| %>
    <div class="container tweet mx-auto">
        <div class="row align-items-center">
            <div class="col-sm-2 image-container">
                <figure>
                    <img src="../images/no-photo.png" alt="generic head silhouette" class="img-fluid">
                </figure>
            </div>
            <div class="col-sm-auto">
                <h5>@<%=User.find(tweet.user_id.to_i).username%>:</h5>
                <h6><%=tweet.content%></h6>
                
                <% if false %> 
                    <! -- HAS TO BE REMOVED FOR TESTING -->
                    <section class="tweettime"> Posted at <%=tweet.created_at%></section>
                <% end %>

            </div>
        </div>
    </div> <!-- close .container -->
    <br>
<% end %>