<h1>Tweets Page</h1>
<h2>Here Are All of Your Tweets:</h2>
<%@tweets.each do |tweet| %>
<%if tweet%>
  <%= "#{tweet.user.username} tweeted: #{tweet.content} " %>
  <br></br>
  <%end%>
  <%end%>

  <p>Click the link to <a href="/tweets/new">Create a Tweet<a/>