<p> Welcome, <%= current_user.username %>
<h2> Tweets </h2>

<% @tweets.each do |tweet| %>
  <div>
    <h3><%= tweet.content %></h3>
  </div>
<% end %>

<a href="/tweets"><h4>See All Tweets</h4></a>
<a href="/tweets/new"><h4>Add a Tweet</h4></a>
<a href="/logout"><h4>Log Out</h4></a>
