<h1>Welcome, <%= @user.username %></h1>

<h3>List of Tweets</h3>

<ul>
  <% @tweets.all.each do |tweet| %>
    <li>
      <a href="/tweets/<%= tweet.id %>"/edit><%= tweet.content %></a>
    </li>
  <% end %>
</ul>
