<%if Helpers.is_logged_in?(@session)%>
  <h1>Welcome, <%=@user.username%></h1>
  <%Tweet.all.each do |tweet|%>
    <p><%=tweet.content%></p>
    <p><%=tweet.user.username%></p>
  <%end%>
  <a href='/logout'>Log Out</a>
<%else%>
  <%redirect to '/login'%>
<%end%>
