<% Tweet.all.each do |t| %>
<div class="tweet">
  <h2>@<%= t.user.username %></h2>
  <div class="tweet-content"><%= t.content %></div>
  <div class="align-right"><form action="tweets/<%=t.id%>" method="get"><input type="submit" value="Permalink"></form></div>
</div>
<% end %>
