
<p> Welcome, to Fwitter
<h2> Tweets </h2>
<<<<<<< HEAD
<<<<<<< HEAD
<a href="/logout">Logout</a>
=======

>>>>>>> c39c98be5d202e2ecf714f25d67039090863585c
=======
<a href="/logout">Logout</a>
>>>>>>> e4383b304f943dc7e103dead9f82a0a9c3a0a598
