<h1>Welcome, <%= @user.username %> </h1>

<h3>Tweet timeline:</h3>
<ul>
  <% @tweets.each do |tweet| %>
    <% user = User.find_by_id(tweet.user_id) %>
    <li><%= user.username %>: <a href="/tweets/<%= tweet.id%>"><%= tweet.content %></a></li>
  <% end %>
</ul>

<br></br>
<a href="/tweets/new">Post new tweet</a>
<br></br>
<a href="/logout">Log out</a>
