<h1>Welcome, <%= @user.username %></h1>
<!-- list all tweets -->

<% User.all.each do|user| %>
  <h3><a href="/users/<%= user.slug %>"><%= user.username %>'s</a> Tweets</h3>
    <% user.tweets.each do |tweet| %>
    <%= tweet.content %><br>
    <% end %>
<% end %>
<br></br>
<b><a href="/tweets/new">Create a new tweet</a><br></br></b>
<a href="/tweets">Return to all tweets</a><br>
<a href="/logout">Logout</a>
