<div class="container">
  
  <h1>Welcome, <%= @user.username %>!</h1>

  <div>
    <% @tweets.each do |tweet| %>
    <div class="center">
      <div class="list-content"><%= tweet.content %>
      <div class="user">Posted by: <%= tweet.user.username %></div>
        <a href="/tweets/<%= tweet.id %>">View</a>
      </div>
    </div>
    
    
    <% end %>
  </div>
</div>