<h1>Welcome, <%= @user.username %></h1>

<ul>
<% @tweets.each do |tweet| %>
  <li><strong><%= tweet.user.username %>:</strong> <%= tweet.content %></li>
<% end %>
</ul>

<p><a href="/logout">Logout</a></p>
