<div class='center'>
  <span>
    <a href='/tweets'><button class='menu'>Home</button></a>
     |
    <a href='/tweets/new'><button class='menu'>Create Tweet</button></a>
     |
    <a href='/logout'><button class='menu'>Logout</button></a>
  </span>
  <br>
  <br>
  
  <table align='center'>
    <tr>
      <th class='center' rowspan=2>--Tweet Feed--</th>
    </tr>
    <tr>
      <% @tweets.each do |tweet| %>
      <td class='small-font' width='30%'><a href='/users/<%= tweet.user.username %>'><%= tweet.user.username %></a><br><%= tweet.created_at %></td>
      <td width='70%'><%= tweet.content %></td>
      <% end %>
    </tr>
  </table>
</div>
