<h1>Welcome, <%= @user.username %></h1>

<h2>All Posts</h2>
<% @posts.each do |t| %>
  <a href="/tweets/<%= t[:id] %>"><%= t[:content] %> - @<%= t[:username]%></a><br>
<% end %>
<h1>-------------------------------------------------</h1>

<p><a href="/logout">Logout</a></p>
<p><a href="/tweets/new">New Tweet</a></p>  

