<h1>Welcome, <%=@user.username%>!<h1>
________________________________________

<%if logged_in?%>
<%@tweets.each do |tweet|%>
<p><%= tweet.content %></p>
________________________________________
<%end%>

<%else%>
You aren't logged in, loser!
<%end%>
