
<h3>Welcome, <%= @user.username %></h3>
<h3>All Tweets</h3>

<ul>
<% Tweet.all.each do |tweet| %>
<li><%= tweet.content %></li>
<% end %>
</ul>

<form action="/logout">
  <input type="submit" value="Log Out">
</form>
