<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <h1>Tweets:</h1>
    <ul>
    <% @tweets.each do |tweet| %>
    <% user = tweet.user_id %>
      <li><%=User.find(user).username%> - <%=tweet.content%></li>
    <%end%>
    </ul>
  </body>
</html>
