<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Tweets</title>
 </head>
 <body>
   <h1>Welcome,</h1>
   <h1>Tweets:</h1>
   <h2><%= @tweets.each {|t| "#{t[:content]}"} %> </h2>

 </body>
</html>
