<h1>Welcome, <%=@user.username%>!</h1>

<%@tweet.each do |tweet|%>
<h2><%= tweet.content %></h2>
<a href="/tweets/<%=tweet.id%>">Show/Delete Tweet</a>
<a href="/tweets/<%=tweet.id%>/edit">Edit Tweet</a>
<hr>
<%end%>

<br><br>
<a href="/tweets/new">New Tweet</a><br><br>
<a href="/logout">Log Out</a>
