Welcome, <%=@user.username%>

<h2>Your Tweets</h2>

  <%Tweet.all.each do |t|%>
    <p><%=@user.username%> tweeted: "<%=t.content%>"</p>
  <%end%>

<p><a href="/tweets/new">Create a New Tweet</a></p>

<p><a href="/logout">Log Out</a></p>
