<h2> Welcome,</h2>

<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<label>Collection of Tweets!</label>
</br></br>
<% @tweets.each do |tweet|%>
<li> <%= tweet.content %> </li>
<%end%>

<p> <a href = "/tweets/new" > Select For Your Current User:  <%= current_user.username%>, To Add a New Tweet </a> </p>


<a href= "/logout"> Select To Logout</a>
