 #expect(last_response.body).to include("Welcome,")
 
 <!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8" />
    <title>  Tweet Index</title>
  </head>
<body>
  <h1>Welcome, <%= @user.username %></h1>
  
  <% @tweets.each do |tweet| %>
   <P>  <%= tweet.content %> </P>
   <% end %>
  </body>
</html> 
 
 