<h1>Welcome, <%=current_user.username%></h1>


<%@tweets.each do |tweet|%>
  <% if !tweet.content.empty? %>
    <%=tweet.content%>
  <% else %> No Content!
  <% end %>
<%end%> <br>

<br>

<!-- <form method="post" action="/logout"> -->
  <!-- <button type="submit" name="submit" id="submit" value="submit"></button> -->
<!-- </form> -->

<a href="/tweets/new">Create Tweet</a><br>
<br>
