<h1> Welcome, <%= current_user.username %></h1>
<% @tweets.each do |tweet| %>
<p><a href="/tweets/<%=tweet.id%>"><%= tweet.content %> </a></p>
<% end %>
<br>
<p><a href="/tweets/new">New Tweet</a></p>
<p><a href="/users/<%=current_user.slug %>">My Tweets</a></p>
<br>
<p><a href="/logout">Log out</a></p>
