Welcome, <%=current_user.username%>

<% @tweets.each do |tweet| %>
  <a href="/tweets/<%=tweet.id%>"><%= tweet.content %></a>
  <% end %>

<a href="/tweets/new">Create new Tweet</a>

<form action="/logout" method="get">
  <input type="submit" value="Log Out" id="submit">
</form>
