</br>
<div class="clearfix">
  <h1 class="float-left">Welcome, <%= @user.username %>! </h1>
  <div class="float-right">
    <a class="btn btn-primary" href="/tweets/new" role="button">New Tweet</a>
  </div>
</div>

</br>
</br>
  <ul >
    <% Tweet.all.order('id DESC').each do |tweet| %>
      <li class="shadow-sm bg-white rounded p-3 mb-3">
        <h3><%= tweet.user.username%></h3>
        <h4><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></h4>
      </li>
    <% end %>
  </ul>
  </br>
<div class="float-right">
  <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>
</br>
