Welcome, <%= current_user.username %><br>
<a href="/tweets/new">New Tweet</a> | <a href="/logout">Logout</a>

<p><% @tweets.each do |tweet| %>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a><br>
<% end %>
