<% Tweet.all.each do |t| %>
<p><%= tweet.content %></p>
<% end %>
<<<<<<< HEAD
=======



<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
      <h2>Add a tweet</h2>

      <form action="/tweet" method="POST">
          <input type="text" name="username" placeholder="Enter Your Username:">
          <input type="text" name="status" placeholder="Enter your Tweet!:" >
          <input type="submit" value="submit">
      </form>

  </body>
</html>
>>>>>>> 6aa6531ddd19b907f14770d0cee2629cc64859c2
