<h2>Hi <%=@user.user_name%></h2>
<h3>Your tweets....</h3>
<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%=tweet.content%></li>
  <% end %>
</ul>
<a class="user_button" href="/logout">Logout</a><br/>
<a class="user_button" href="/tweets/new">Create Tweet</a>
