<h2>Welcome, <%= @user.username %></h2>

<% if flash.has?(:message) %>
  <p><em><%= flash[:message] %></em></p>
<% end %>

<% @tweets.each do |tweet| %>
  <article>
    <h3><em><%= tweet.user.username %> tweeted:</em></h3>
    <p><%= tweet.content %></p>
  </article>
<% end %>
