<h1>Welcome, <a href="/users/haley"><%=current_user.username%>!</a></h1>
<% @tweets.each do |tweet|%>

<p><a href="/tweets/<%=tweet.id%>">Tweet: </a><%=tweet.content%></p>
<p> Posted at: <%=tweet.created_at%></p>

<%end%>
<p><a href="/logout">Logout</a></p>
<p><a href="/tweets/new">Create New Tweet</a></p>
