<!DOCTYPE html>
<html>
<head>
<title><%=@user.username%></title>
</head>
<body>

<h1>Welcome, <%=@user.username%></h1>

<%@all_tweets.reverse.each do |x|%>
<h4><%=x.content%></h4><br><br>
<%end%>



</body>
</html>

