<!DOCTYPE html>
<html>
  <head>
    <title>Tweets</title>
  </head>
<h2>Welcome, <%=@user.username%>.</h2>
  <% @tweets.each do |tweet| %>
    <li><b>Username: </b><%=tweet.user.username%> <b> Content: </b><a href="/tweets/<%= tweet.id %>"><%= tweet.content %> </a></li>
  <% end %>
</html>
