<h1>Fweets</h1>
<% if logged_in? %>
  <h2><%= "Welcome, #{current_user.username}" %></h2>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.content %></li>
  <% end %>
  <a href="/logout">Log Out</a>
<% end %>
