<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <h1> Welcome, <%= current_user.username %></h1>
    <a href="/users/<%= current_user.slug %>"><input type="button" value="Profile"></a>
    <h2> Tweets </h2>
    <% @tweets.each do |tweet| %>
      <div>
        <%= tweet.content %> <a href="/tweets/<%= tweet.id %>"><input type="button" value="Show"></a>
      </div>
      <br>
    <% end %>
  </body>
</html>
