<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <h1>Welcome, <%=current_user.username%></h1>
    <h2>Tweets:</h2>
    <ul>
    <% @tweets.each do |tweet| %>
      <li><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></li>
    <%end%>
    </ul>
  </body>
</html>
