<% if session.include?(:user_id) %>
  <h1>Welcome, <%= current_user.username %></h1>
  <p><a href="logout">Logout</a></p>
<% end %>

<% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>
