<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
      <h2>Add a tweet</h2>

      <form action="/tweet" method="POST">
          <input type="text" name="username" placeholder="Enter Your Username:">
          <input type="text" name="status" placeholder="Enter your Tweet!:" >
          <input type="submit" value="submit">
      </form>

  </body>
</html>
