<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Show All Tweets</title>
 </head>
 <body>
  <h1> Welcome, To Show All Tweets </h1>
    <h3>Tweets:</h3>
    <% if @tweets.size > 0%>
      <ul>
        <% @tweets.each do |tweet| %>
          <li> <%= tweet.content %> </a></li>
        <% end %>
      </ul>
    <%else%>
      <h2>There are no tweets to display!</h2>
    <%end%>
 </body
