<h1>Welcome, choose from below:</h1>

<p><a href="/tweets/new">Create new tweet</a></p>

<% @tweets.each do |tweet| %>
  <p><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></p>
<% end %>

<p><a href="/">Home</a></p>
<a href="/logout">Log out</a>
