<h1>Welcome, <%=current_user.username%>!</h1>

<%Tweet.all.each do |tweet|%>

<p><a href="/tweets/<%=tweet.id%>"><% user = User.find_by_id(tweet.user_id)%>
  <%if user%>
  <%= user.username%> -
  <%end%>

<%=tweet.content%></a></p>
<% end %>

<a href="/tweets/new">Create New Tweet!</a>
