<!DOCTYPE html>
<html>
<head>
	<title>Your Fweets!</title>
</head>
<body>
  <h1><%=@user.name%></h1>
  <br></br>
		
		<h3> <%=@tweet.content%></h3>
		<br></br>
		

    <a href="/logout">Log Out</a>
</body>
</html>
