<h1>Welcome, <%=Helpers.current_user(session).username%></h1>

<form method="get" action="/tweets/new">
<input type="submit" name="New Tweet" id="New Tweet" value="New Tweet">
</form>


<table>
<%Tweet.all.each{|tweet|%>
            <tr><td><%=tweet.content%></td><td><a href="/tweets/<%=tweet.id%>">View</td><td><a href="/tweets/<%=tweet.id%>/delete">Delete</td></tr>

<%}%>
</table>

<p><a href="/logout">Log Out</a></p>
