<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>All Tweets</h1>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.user.username %></p>
    <p><%= tweet.content %></p>
  <% end %>
