<h1>Welcome, <%= @user.username %>!</h1>
<h3>Those tweets, tho...</h3>
<% @tweets.each do |tweet| %>
  <%= tweet.content %>
  <a href="/tweet/<%= tweet.id %>"><img src="../images/bird-png.png" alt="Tweet!" /></a>
<% end %>
