"Welcome,"
<form action="/tweets" action=POST>
<a href="/login">Login page</a>
<input type="submit" value="Login">
<br><br>
<a href="/signup">Signup page</a>
<input type="submit" value="Signup">
</form>
