<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome, <%= @username %></h1>
    <h3>Your Fweets</h3>
    <% @tweets.each do |tweet| %>
    <li><a href="/tweets/><%= tweet.id %>/edit"><%= tweet.content %></a></li>
    <% end %>
  </body>
</html>
