<h1>Welcome, <%= @user.username %>!</h1>
<h2>Here are all of the public tweets:</h2>
  
<% @tweets.each do |tweet| %>
  <div><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></div>
  <div>posted by <%= tweet.user.username %></div>
  <br>
<% end %>


