<h1>Welcome, <%= @user.username %>!</h1>

<% @tweets.each do |tweet| %>
  <p><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></p>
  <p>This profound thought brought to you by <%= tweet.user.username %>.</p>
<% end %>
