<center> <h2> Welcome, @<%= current_user.username %></h2>

<% @tweets.each do |tweet| %>
    <p> <%= tweet.content %>  <% if tweet.user_id == current_user.id %>
                                [ <a href = "/tweets/<%=tweet.id%>">edit</a> ]
                                <%end%> </p>
<%end%>

</center>
