<% if flash.has?(:wrong_user) %>
  <%= flash[:wrong_user] %> 
<% end %>

<h1>Welcome, <%= "#{@user.username}" %></h1>

<% Tweet.all.each do |tweet| %>
    <p><%= tweet.id %>: <%= tweet.content %> </p>
    <% end %>
