<ul>
<h3>Welcome, check out the tweets</h3>
<% @tweets.each do |tweet| %>
	<li><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a> <br> By: <a href="/users/<%=tweet.user.slug%>"><%=tweet.user.username%></a></li>
	
<%end%>
</ul>

<form method="get" action='/logout'>
	
	<input type="submit" name="submit" value="Log Out">
</form>
