<h2> Latest Flation Tweets </h2>

<h3>Welcome, <%=@user.username.capitalize%></h3>

<ul class ="tweets list">
    <%@tweets.each do |tweet|%>
        <li> <%=tweet.user.username.capitalize%> tweeted: <br/>
          <%=tweet.content%> </li><br/><br/>
     <% end %>
    </ul>