.vertical-tweak {
  min-height: 55%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 55vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.flatiron-background {
    background-image: url("../images/flatiron.jpg");
    background-repeat: no-repeat;
}

.white-text {
	color: white;
}

.fwitter-text {
	font-family: 'Raleway', sans-serif;
}

.boxy {
	background-color: #eaeaea;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 5px;
}

.background-color {
  background-color: #eaeaea;
}

.content-box {
  padding-top:7px;
  padding-bottom:7px;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
}

.tweet-box {
  background-color: #e6f1ff;
  border-style: solid;
  border-color: #2C3E50;
  border-width: 3px;
  border-radius: 5px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.roundify {
  border-radius: 25px;
  margin:0 auto;
}

.profile-btn {
    margin-top: 20px;
}

.bottom-border {
  border-color: #eaeaea;
  border-bottom: 1px;


}

.navbtn{
      margin-top: 7px;
    }


.gi-2x {
  font-size: 1.2em;
}

.gi-5x {
  font-size: 5em;
}

.padding-right {
  padding-right: 14em;
}

.left-divider {
  padding-right: 1em;
}

.spacer {
  height: 15px;
}

.small-spacer {
  height: 7px;
}

.xs-spacer {
  height: 2px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}


/*---------------Profile Pic STYLING-----------------*/

.profile-pic {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-badge {

    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.bottom-border .profile-badge {
  margin-top: 10px;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 8px;
}


/*---------------FLASH MESSAGE STYLING-----------------*/

.alert {
  text-align: center;
   font-weight: bold;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   margin-bottom: 18px;
   padding: 12px 25px 12px 24px;
   -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
   -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
   box-shadow: 3px 3px 1px 1px #CCCCCC;
}
.alert-success {
   background-color: #66E167;
   border-color: #D6E9C6;
   color: black;
   padding-top: 20px;
}

.alert-error {
   background-color: #ff4d4d;
   border-color: #D6E9C6;
   color: black;
   padding-top: 20px;
}
