body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: blue;
  background-color: rgb(150, 200, 255);
}
h1 {
  font-size: 5em;
  margin-top: 50px;
  font: blue;
}

a{
  color: blue;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid blue;
  width: 100px;
  transition: 0.3s ease;
}

a:hover {
  box-shadow: inset 0 0 0 2px blue;
  transition: 0.3s ease;
}

div.content {
  color: white;
  background: rgb(29, 41, 53);
  margin: 1px auto;
  width: 500px;
  text-align: left;
  border-radius: 5px;
}

.content p.user {
  font-weight: bold;
}

.content p {
  margin: 0;
  padding: 10px;
}
