body {
  margin: 20px;
  font-family: aria, sans-serif;
  text-align: center;
}

h2 {
  text-align: left;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clear-fix {
  clear: both;
}

.heading {
  text-align: left;
  padding: 0 10px;
  border-radius: 10px;
  background: #1DA1F2;
  color: white;
}

.user_form {
  padding: 10px;
  background: #eff3f7;
  margin: auto;
  width: 30%;
  border-radius: 10px;
}
.search_form {
  padding: 10px;
  background: #eff3f7;
  margin: auto;
  width: 30%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1em;
}
.button_panel {
  background: #eff3f7;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
}
.user-button {
  background-color: black;
  color: white;
  padding: .5em;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.search-button {
  color: white;
}
.tweet-link {
  color: #1486c9;
}
ul {
  list-style-type: none;
}
.grid-container {
  border-radius: 10px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  border-radius: 10px;
  background: #eff3f7;
  text-align: left;
}
