body {
  background-color: #14739F;
  color: white;
}

a {
  color: white;
}

a:hover {
  color:navy;
}

#homepage {
  padding: 20px;
  /*font-size: 1.5em;*/
}

.invalid {
  color: #FA2F2F;
}

h2>a {
  margin-right: 30px;
}
