body {
  background-color: #afceff;
  font-family: sans-serif;
}

.tweet {
  display: block;
  width: 40%;
  background-color: #fff;
  margin: auto;
  padding: 5px 20px 15px;
  border-radius: 20px;
  /* box-shadow: 3px 3px 5px #888; */
}

.tweet-content {
  font-size: 200%;
}

.align-right {
  text-align: right;
}

form {
  display: inline;
}

input[type="submit"] {
  background-color: #fff;
  padding: 5px;
  border-style: none solid solid none;
  border-color: #2176ff;
  border-radius: 3px;
}
