
body {
  background-color: #1DA1F2;
  color: #FFF;
}

a:link, a:visited {
  color: #FFF;
}

a:hover {
  color: black;
}

h1  {
  text-align: center;
}

h2, h3 {
  text-align: center;
}

form {
  text-align: center;
}

div.form {
  text-align: none;
}

ul {
  list-style-type:square;
}
