<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
     
    <h1>New User Signup!</h1>

      <form action="/signup" method="POST">
        <label>Username</label>
          <input type="text" name="username"></br>
        <label>email</label>
          <input type="text" name="email"></br>
        <label>Password</label>
          <input type="text" name="password"></br>

          <input type="submit" name="Submit">
      </form>
</body>
</html>