<h1>Create a New User</h1>

<form method="POST" action="/signup">
  <input type="text" name="username" placeholder="Username"></input>
  <input type="text" name="email" placeholder="Email Address"></input>
  <input type="password" name="password" placeholder="Password"></input>
  <input type="submit" value="Submit"></input>
</form>
