<h1>Sign up below</h1>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username" value="username">
  <br></br>
  <label>Email:</label>
  <input type="text" name="email" value="email">
  <br></br>
  <label>Password:</label>
  <input type="text" name="password" value="password">
  <input type="submit" value="submit">
</form>