<form action="/signup" method="post">
<h2>Sign Up</h2>
  <div class="field">
    <label for="username">Username</label>
    <input type="text" name ="username" placeholder="username" />
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input type="text" name ="email" placeholder="email"/>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="text" name ="password" placeholder="password" />
  </div>

  <input type="submit" value="Sign Up">

</form>