<h1>Create a new User</h1>

<form action="/signup" method="POST">
  Username: <input type="text" name="username" id="username">
  <br></br>
  Email: <input type="text" name="email" id="email">
  <br></br>
  Password: <input type="password" name="password" id="password">



  <br></br>
  <input type="submit" value="Create New User">
</form>