<h1>Join Fwitter!</h1>

<form method="post" action="/signup">
  <p><input type="text" name="username" placeholder="Username"></p>
  <p><input type="email" name="email" placeholder="Email Address"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <input type="submit" value="Sign Up!">
</form>
