<h2> Sign up to Fwitter </h2>
<form method="post" action="/signup">
  <label> Username </label>
  <input type="text" name="username" id="username">
  <br>
  <label> Email </label>
  <input type="text" name="email" id="email">
  <label> Password </label>
  <input type="text" name="password" id="password">
  <input type="submit" id="Sign Up">
</form>
