<h3>Sign Up Here</h3>

	<form action="/signup" method="POST">
		<label for="username">Username: </label>
  			<input type="text" name="username"> <!--removed id= for username, email, and password-->
  		<label for="email">Email:</label>
  			<input type="text" name="email">
  		<label for="password">Password:</label>
 			<input type="text" name="password">

  		<input type="submit" value="Submit">

</form>
