<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up</h2>

    <form action="/signup" method="post">
      <p>
        <label for="name">Username: </label>
        <input id="name" type="text" name="username" value="">
      </p>
      <p>
        <label for="email">Email: </label>
        <input id="email" type="text" name="email" value="">
      </p>
      <p>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password" value="">
      </p>
      <p>
      <input id="Sign Up" type="submit" value="Sign Up">
      </p>
    </form>
  </body>
</html>
