<h1>Create User:</h1>

<form action="/signup" method="post">

<label>Username: </label><input type="text" name="user[username]" id="new_user_name"></input>
<br></br>

<label>Email: </label><input type="text" name="user[email]" id="new_user_email"></input>
<br></br>

<label>Password: </label><input type="text" name="user[password]" id="new_user_password">
<br></br>

<button type="submit" name="create_user" id="create_user">Sign me up!</button>


</form>

