<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/tweets" method="post">
      <h1>Sign Up</h1>
      <label for="">Enter Email address:</label>
      <input type="text" name="email" value=""><br>
      <label for="">Enter User Name:</label>
      <input type="text" name="username" value=""><br>
      <label for="">Enter Password:</label>
      <input type="text" name="password" value="">
      <br><br>
      <input type="submit"  value="submit">
    </form>
  </body>
</html>
