<h1>Please Sign Up Below</h1>
<form action="/signup" method="POST">
  <p>Enter Username: <input type="text" name="username" id="username"></p>
  <p>Enter Email: <input type="text" name="email" id="email"></p>
  <p>Enter Password: <input type="password" name="password" id="password"></p>
  <input type="submit" value="Sign Up">
</form>