<h1>Sign up below:</h1>

<form action='/signup' method="POST"><br>
  <label>username</label>
  <br/>
  <input type="text" name="username" id="username"><br>
  <label>email</label>
  </br>
  <input type="text" name="email" id="email"><br>
  <label>password</label>
  </br>
  <input type="password" name="password" id="password">
  <br></br>
  <input type="submit" value="Sign Up">
</form>
