<h1>Create a New User</h1>
<form action="/signup" method="post">
<p>Your Username: <input type="text" name="username", id="name"></p>
<p>Your Email: <input type="text" name="email", id="email"></p>
<p>Your Password: <input type="text" name="password", id="password"></p>
<br></br>
