<h2>Create an Account</h2>
<form action="/signup" method="post">
  <label for="username">User Name: </label>
  <input type="text" name="username" id="username"><br>
  <label for="email">Email Address: </label>
  <input type="email" name="email" id="email"><br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password"><br>
  <input type="submit" name="submit" value="submit">
</form>
