<h1>Sign Up for Fwitter</h1>

<form method="POST" action="/signup">
  <h3>Create an account</h3>

  <p>Username: <input type="text" id="username" name="username"></p>
  <p>Email: <input type="text" id="email" name="email"></p>
  <p>Password: <input type="text" id="password" name="password"></p>

  <input type="submit" name="Sign Up" value="Sign Up">
</form>