<p>Please sign up:</p>

<form action="/signup" method="post">
  <label>Username:</label>
  <input type="text" name="username" placeholder="Username">
  <br>

  <label>Email:</label>
  <input type="email" name="email" placeholder="Email">
  <br>

  <label>Password:</label>
  <input type="password" name="password" placeholder="Password" >
  <br>
  <input type="submit" name="signup" value="Sign Up">
</form>
