<h1>Sign up for Fwitter here! </h1>

<form method="POST" action="/signup">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" id="submit" value="Sign up">
</form>
