<h1>Sign Up</h1>
<form method="POST" action="/signup">
  <Label>Username: </label><input type="textbox" name="uusername"/>
  <Label>Password: </label><input type="textbox" name="password"/>
  <Label>Email: </label><input type="textbox" name="email"/>
    <input type="submit" value="Create User"/>
</form>
