<header>
  <div style="text-align: center">
    <!-- if the user is currently logged in, they can logout -->
    <% if session[:user_id] != nil %>
      <a href="/tweets"> Create Tweet </a>
      <a href="/logout"> Log Out </a>
      <p>Welcome, <%=current_user.username %></p>
    <!-- If the user is not logged in, fill form to create account-->
    <% else %>
      <h2>Sign up for Fwitter!</h2>
      <h4>Please fill out below form:</h4>
      <form action="/signup" method="POST">
        <p>Name: <input type="text" name="username" placeholder="username"></p>
        <p>Email: <input type="text" name="email" placeholder="your_email@gmail.com"></p>
        <p>Password: <input type="text" name="password" placeholder="PaSSw0rd!"></p>
        <input type="submit" value="Create User">
      </form>
      Have an account? <a href="/login">Log In</a>
    <%end%>
  </div>
</header>
