 <form class="" action="/signup" method="post">
   <input type="input" name="username" value="">
   <input type="input" name="email" value="">
   <input type="input" name="password" value="">
   <input type="submit" value="Create User">
 </form>
