<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:" id="username">
  <br>
  <input type="text" name="email" placeholder="Email:" id="email">
  <br>
  <input type="text" name="password" placeholder="Password:" id="password">
  <br>
  <input type="submit" value="Sign Up" id="submit">
</form>
