<h1>Welcome to Fwitter!</h1>
<h3>Sign Up:</h3>
<form action="/signup" method=POST>
	<p>Username: <input type="text" name="username" id="username"></p>
	<p>Email: <input type="email" name="email" id="email"></p>
	<p>Password: <input type="password" name="password" id="password"></p>
	<input type="submit" value="Sign Up">
</form>
<h4>Already have an account? <a href="/login">login</a></h4>
