<!--PAGE HEADER-->
<h1>Create New User</h1>

<!--FORM-->
<form method="post" action="/signup">
    Enter Username:<input type="text" name=username><br><br>
    Enter Email:<input type="text" name=email><br><br>
    Enter Password:<input type="text" name=password><br><br>
    <input type="submit" value="Create User">
</form>