<h2>Users</h3>
<div class="text-center">
  <form class="form-signin" action="/signup" method="POST">
       <label>User Name: </label>
        <input type="text" name="username" required><br>
       <label>Email Address: </label>
        <input type="text" name="email" required><br>
       <label>Password: </label>
        <input type="password" name="password" required><br>
       <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Sign Up">
</form></div>
