<h3>Sign Up</h3>
<form action='/signup' method="POST">
	<lable for="username">Username:</lable>
	<input type="text" id="username" name="username" placeholder="Username"><br><br>
	<lable for="password">Password:</lable>
	<input type="password" name="password" placeholder="Password"><br><br>
	<lable for="email">Email:</lable>
  <input type="text" id="email" name="email" placeholder="Email"><br><br>
	<input type="submit" value="Sign Up">
</form>
