<h1>Create User</h1>

<% if logged_in? %>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="">
  <input type="text" name="email" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="" value="submit">
</form>
<% end %>
