<h2>Hurry and sign up!</h2>

<form action="/signup" method="post">
  <label for="username">Enter your desired username:</label>
  <input type="text" name="username" id="username">
  <label for="email">Enter your email:</label>
  <input type="text" name="email" value="email" id="email">
  <label for="password">Enter a password:</label>
  <input type="password" name="password" id="password">
  <input type="submit" name="" value="Create User">
</form>
