<h2>Create New Fwitter User </h2>

  <%=Create New Fwitter User%>
  <%end%>

<h3>Sign Up</h3>

<form action="/signup"  method="POST"
type= text    name= username        email         password
 input type=button button="submit" 







</form>
