<h2>Please signup:<h2>

<form action="/signup" method="POST">
  Username: <input type="text" name="username" value="">
  e-mail: <input type="text" name="email" value="">
  Password: <input type="text" name="password" value="">

  <input type="submit" value="Submit">
</form>
