<!DOCTYPE html>

<h1>Sign up for Fwitter here</h1>

<form action="/signup" method="POST">
  <br></br>

  <label>Username:</label><input type="text" name="username"></br>
  <label>Email:</label><input type="text" name="email"></br>
  <label>Password:</label><input type="text" name="password"></br>

  <br></br>

  <input type="submit" value="Signup">

</form>
