<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" id="username"name="username"></p>
  <p>Email: <input type="text" id="email" name="email"></p>
  <p>Password: <input type="text" id="password" name="password"></p>
  <button value="submit" type="submit">Sign Up </button>
</form>
