<form method="post" action="/signup">
<p>Username</P>  <input type="text" name="user[username]" id="username"></br>
<p>email</P>  <input type="text" name="user[email]" id="email"></br>
<p>password</P>  <input type="text" name="user[password]" id="username"></br>
  <input type="submit" value="Submit">
</form>
