<h2>Create Profile:</h2>

<form action="/signup" method="POST">
  <input id="username" type="text" name="username" placeholder="username">
  <input id="email" type="email" name="email" placeholder="email">
  <input id="password" type="password" name="password" placeholder="password">
  
  <input type="submit" value="Create Profile">
  
</form>