<h1>Sign Up:</h1>

<form method="post" action="/signup">
  <label> Username: <input type="text" name="user[username]"></label>
  <br> <br>
  <label> Email: <input type="text" name="user[email]"></label>
  <br> <br>
  <label> Password: <input type="text" name="user[password]"></label>
  <br> <br>
  <input type="submit" name="create user">
</form>