<h1>Fwitter Sign Up</h1>

<form class="" action="/signup" method="post">
  <p>
    <label for="username">Username: </label>
    <input type="text" name="username">
  </p>

  <p>
    <label for="email">E-mail: </label>
    <input type="text" name="email">
  </p>

  <p>
    <label for="password">Password: </label>
    <input type="password" name="password">
  </p>

  <p><input type="submit" id="submit" value="Sign Up"></p>
</form>
