<h2>Welcome to Fwitter!!</h2>
<p>Please fill out your information below:</p>

<form method="POST" action="/signup">
  <p>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" required/>
  </p>

  <p>
    <label for="email">E-Mail Address:</label>
    <input id="username" type="email" name="email" required/>
  </p>

  <p>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required/>
  </p>

  <input type="submit" value="Sign Up"/>


</form>
