<h1>Sign Up For Fwitter</h1>

<form method="POST" action="/signup">
  Username: <input type="text" name="username" required><br>
  E-mail: <input type="email" name="email"><br>
  Password: <input type="password" name="password"><br></br>

  <input type="submit">

</form></p>

<a href="/login">Log In</a>
