<label for="new_user">Create New User</label>
<br></br>
<form action="/signup" method="post">
  <label>username</label> <br>
  <input type="text" name="username"><br>
  <label>email</label> <br>
  <input type="text" name="email"><br>
  <label>password</label> <br>
  <input type="password" name="password"><br>
  <input type="submit" name="Create New User">
</form>
