<h3>Welcone you can sign up here</h3>
<form method=post action="/signup">
  User Name:<input type=text name=username id=uname>
  <br><br>email:&nbsp; <input type=text name=email id=email>
  <br><br>Password:<input type=text name=password id=upassword>
  <br><br><center><input type=submit value="sign up"></center>
</form>
