<h1>Sign Up to Fwitter:</h1>

<form action="/signup" method="post">
    Please enter your username:
      <input type="text" name="username" id="username">
    Please enter your email address:
      <input type="text" name="email" id="email">
    Please enter your password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Sign Up" id="submit">
</form>
