<h2>To Sign Up, please fill out the form below:</h2>

<form action="/signup" method="POST">
  <label>Username: </label>
  <input type="text" name="username" placeholder="Username" id="username">
  <br>
  <label>Email: </label>
  <input type="text" name="email" placeholder="Email" id="email">
  <br>
  <label>Password: </label>
  <input type="password" name="password" placeholder="Password" id="password">
  <br>
  <button type="submit">Login</button>
</form>
