<h1>Signup for Fwitter</h1>
<br></br>

<form action="/signup" method="post">

  <label for="username">Username: </label>
  <h4><input type="text" name="username" id="username"></h4>
  <br></br>

  <label for="email">Email: </label>
  <h4><input type="text" name="email" id="email"></h4>
  <br></br>

  <label for="password">Password: </label>
  <h4><input type="text" name="password" id="password"></h4>
  <br></br>

  <input type="submit" value="Sign Up">

</form>
