<h1>Create a new user</h1>
  <form action="/signup" method="POST">
    <label><h3>User Name:</h3> </label>
    <input type="text" name="username" id="username"><br><br>
    <label><h3>Email:</h3></label>
    <input type="text" name="email">
    <label><h3>Password:</h3></label>
    <input type="password" name="password">
    <input type="submit" value="Create New User">
  </form>