<h3>Create A New User</h3>
<form class="" action="/signup" method="post">
  <label for="">Email:</label>
  <input type="text" name="user[email]" value="">
  <br></br>
  <label for="">Username:</label>
  <input type="text" name="user[username]" value="">
  <br></br>
  <label for="">Password:</label>
  <input type="text" name="user[password]" value="">
  <br></br>
  <input type="submit" name="" value="Create User">
</form>
