<h3>Sign Up</h3>
<form action="/signup" method="POST">
  Username: <input type="text" id="username" name="username"><br>
  Email: <input type="text" id="email" name="email"><br>
  Password: <input type="text" id="password" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
