<h1>Sign Up Below:</h1>

<label>Create New User</label>
<form action="/signup" method="POST">
  <p>Email: <input type="text" name="email"></p><br>
  <p>Username: <input type="text" name="username"></p><br>
  <p>Password: <input type="password" name="password"></p><br>
  <input type="submit" value="Create User">
 </form>
