<h1>Sign up for FTwitter</h1>

<form method="post" action="/signup"> 

    <h3>Username:</h3>
    <p><input type="text" name="username" id="username"/></p>

    <h3>Email:</h3>
    <p><input type="email" name="email" id="email" /></p>

    <h3>Password:</h3>
    <p><input type="text" name="password" id="password"/></p>

    <input type="submit" value="Create User">

</form>