<h1>Create an Account</h1>

<form action='/signup' method='POST'>

<label>Username:</label>
<input type='text' name="user[:username]" id="username">
<label>Email:</label>
<input type='text' name="user[:email]" id="email">
<label>Password:</label>
<input type='text' name="user[:password]" id="password">
<input type='submit' id='submit'>

</form>
