<h1>Sign Up For Fwitter Here!</h1>
<br></br>

<form class="" action="/signup" method="post">
  <h2><label>User Name:</label></h2>
  <input type="text" name="user[username]" value="">
  <br></br>
  <h2><label>Email Address:</label></h2>
  <input type="text" name="user[email]" value="">
  <br></br>
  <h2><label for="">Password</label></h2>
  <input type="password" name="user[password]" value="">
  <input type="submit" name="" value="Sign UP">

</form>
