<h1>Please create a Fwitter account</h1>

<form method="POST" action="/signup">
	<label>Username</label><br>
	<input type="text" name="username"><br>
	<label>Email address</label><br>
	<input type="email" name="email"><br>
	<label>Password</label><br>
	<input type="password" name="password"><br><br>
	<input type="submit" value="Sign Up">

</form>

