<!DOCTYPE html>
<html>
<head>
  <title>Create a New User</title>
</head>
<body>
  <h1>Create a New User</h1>
  <form action='/signup' method='POST'>
    Username: <input type="text" name="username">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <input type="submit" name="submit" value="Create User">
  </form>
</body>
</html>