<h1>Let's get you signed up!</h1>

<form action="/signup" method="POST">
  Email: <input type="text" name="email" id="email"></input></br></br>
  Username: <input type="text" name="username" id="username"></input></br></br>
  Password: <input type="text" name="password" id="password"></input></br></br>
  <input type="submit" value="signup"></br></br>

  Follow this <a href="/login">link</a> if you already have a login
</form>
