<h1>Please Sign Up Here</h1>
<form method="POST" action="/signup">
  <p>Name: <input type="text" name="username" id="username"></input></p><br>
  <p>Email: <input type="text" name="email" id="email"></input></p><br>
  <p>Password: <input type="text" name="password" id="password"></input></p><br>
  <input class="submit" type="submit">
  
</form>