<h1>User Sign Up</h1>

<form action="/signup" method="POST">

  <label>User Username:</label>
  <input type="text" name="username" id="username">
  <br></br>

  <label>User Password:</label>
  <input type="text" name="password" id="password">
  <br></br>

  <label>User Email:</label>
  <input type="text" name="email" id="email">
  <br></br>

  <input type="submit" value="Sign Up">

</form>
