
<h2> Fwitter Signup </h2>

<form method="post" action="/signup">
  <input type="text" name="username"> <!--pattern=".{4,30}" required-->
  
  <input type="text" name="email"> <!-- pattern=".{4,30}" required-->
  
  <input type="text" name="password"> <!--pattern=".{4,30}" required-->
  
  <input type="submit" value="Sign Up">
</form>