<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Name">
  <input type="email" name="email" placeholder="sophie@example.com">
  
  
  <input type="password" name="password" placeholder="password">

  <input type="submit" value="Sign Up">
</form>

