<form method="post" action="/signup">
<<<<<<< HEAD
<p>Username</P>  <input type="text" name="username"></br>
<p>email</P>  <input type="text" name="email"></br>
<p>password</P>  <input type="text" name="password"></br>
=======
<p>Username</P>  <input type="text" name="username" id="username"></br>
<p>email</P>  <input type="text" name="email" id="email"></br>
<p>password</P>  <input type="text" name="password" id="username"></br>
>>>>>>> 26a516f52c59b84b5f349b182dfb077ae7f692dc
  <input type="submit">
</form>
