<h1>Please Signup Below</h1>

<form action="/signup" method="POST">
  <input type="text" name="username" id="username" placeholder="username"><br>
  <input type="text" name="email" id="email" placeholder="email"><br>
  <input type="text" name="password" id="password" placeholder="password"><br>

  <input type="submit" value="Create Account">
</form>
