<h1>Welcome, new user.</h1>

<h2>Please choose a user name:</h2>
<form action='/signup' method='POST'>
<input type='text' name='username' id='user_name'>
<br>
<h2>Your email:</h2>
<input type='text' name='email' id='email'>
<br>
<h2>Please choose a password:</h2>
<input type='text' name='password' id='password'>
<br><br>
<input type='submit' value='Create User'>
</form>
