<h1>Please signup to get access to Fwitter</h1>

<form action="/signup" method="POST">
    <input type="text" name="username" value="Enter your new Username">
    <input type="text" name="email" value="Enter your email">
    <input type="text" name="password" value="enter your password">
    <input type="submit">

</form>