New User Sign-up

<form action="/signup" method="post">
  Username: <input type="text" name="username" id="username">
  Email: <input type="text" name="email" id="email">
  Password: <input type="password" name="password" id="password">
  <input type="submit" value="Sign Up">
</form>
