<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <form action="/signup" method="POST">
        <p>
          <label for="username">Username</label><input type="text" name="username" id="username">

          <label for="email">Email</label><input type="text" name="email" id="email">

          <label for="password">Password</label><input type="text" name="password" id="password">
        </p>
      </form>
    </div>

  </body>
</html>
