<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input id="username" type="text" name="username" placeholder="Username:">
  <input id="email" type="text" name="email" placeholder="Email:">
  <input id="password" type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>