<h1>Sign Up For Fwitter</h1>

<%if flash.has?(:notice)%>
  <%=flash[:notice]%>
<% end %>

<form class="" action="/signup" method="post">
  <input type="text" name="username" id="username" placeholder="username..">
  <br>
  <input type="text" name="email" id="email" placeholder="email..">
  <br>
  <input type="password" name="password" id="password" placeholder="password..">
  <br><br>

  <input type="submit" value="Signup">
</form>
