<h1>Signup for Fwitter</h1>

<form action="/signup" method="post">
  
  <h4>Username: <input type="text" name="username"></h4>
  <h4>Email: <input type="text" name="email"></h4>
  <h4>Password: <input type="text" name="password"></h4>

  <input type="submit" value="Create Account">

</form>