<h2>Sign Up Below:</h2>

<form action="/signup" method="POST">

  <p><label>Username:</label></p>
  <input type="text" name="username" required>
  <br>
  <p><label>Email:</label></p>
  <input type="email" name="email" required>
  <br>
  <p><label>Password:</label></p>
  <input type="text" name="password" required>
  <br>
  <br>
  <input type="submit" value="Sign Up">

</form>
