<h1>Create a new User</h1>

<form action="/signup" method="POST">
  Username: <input type="text" name="user[username]">
  <br></br>
  Email: <input type="text" name="user[email]">
  <br></br>
  Password: <input type="password" name="user[password]">



  <br></br>
  <input type="submit" value="Create New User">
</form>