<h1>Fwitter!</h1>
<h2>Sign Up For A New And Beautiful World</h2>
<form action="/signup" method="POST">
	<label for="username">Username: </label><input type="text" name="username">
	<label for="password">Password: </label><input type="text" name="password">

	<button type="submit">Signup</button>
</form>