<h1>Create a New Account</h1>

<form action="/signup" method="post">

  <label for="username">Username:</label>
  <input id="username" type="text" name="username">

  <label for="email">Email:</label>
  <input id="email" type="text" name="email">

  <label for="password">Password:</label>
  <input id="password" type="password" name="password">

  <br></br>

  <input type="submit" value="Create New User">

</form>
