<h1>Create a New Fwitter Account</h1>

<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <label>Username: <input type="text" name="username" id="username"></label>
  <br><br>
  <label>Email: <input type="text" name="email" id="user_email"></label>
  <br><br>
  <label>Password: <input type="text" name="password"></label>
  <br><br>
  <input type="submit" value="Submit">
</form>
