<h1>Signup Here!</h1>
<form method="POST" action="/signup">
  <label>Username:<input type="text" name="username"></label>
  <label>Email:<input type="text" name="email"></label>
  <label>Password:<input type="text" name="password"></label>
<input type="submit" value="Signup">
</form>
