<h1>Welcome to Fwitter!</h1>
<h3>To create an account, complete all fields:</h3>

<form action="/signup" method="POST">
  <label>Username</label>
  <input id="username" type="text" name="username" placeholder="Username:">

  <br><br>

  <label>Email</label>
  <input id= "email" type="text" name="email" placeholder="Email:">

  <br><br>

  <label>Password</label>
  <input id= "password" type="password" name="password" placeholder="Password:">

  <br><br>

  <input id="sign up" type="submit" value="submit">
</form>
