User Signup Form
<form action="______" method="post">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[password]" placeholder="Password">
  <input type="submit" name="submit">Create User</input>
</form>