<h2>Sign Up</h2>
<form method="post" action="/signup">
  <p>Username:<br>
  <input type="text" id="username" name="username">
  <p>Email:<br>
  <input type="text" name="email">
  <p>Password:<br>
  <input type="text" name="password">
  <p><input type="submit" id="submit" value="Sign Up">
</form>
<p>Already have an account? <a href="/login">Log in.</a>
