<h1>Signup</h1>
<form action="/signup" method="post">
  <lable for="username">Username:</lable>
  <input type="text" name="username" required>
  <lable for="email">Email:</lable>
  <input type="text" name="email" required>
  <lable for="password">Password:</lable>
  <input type="text"  name="password" required>
  <input type="submit">
</form>
