   <form action = "/signup" method = "post">
     <p><label for= "email"> Email: </label></p>
     <input type = "email" name = "email" id = "email">
     <p><label for = "user"> User Name: </label></p>
     <input type = "text"  name = "user_name"  id = "user">
     <p><label for = "password"> Password: </label></p>
     <input type = "password"  name = "password" id = "password">
     <input type = "submit">
   </form>
