<h1>Create New User</h1>
<form action="/signup" method="POST">
  Create user name: <input type="text" name="username" id="username">
  Create e-mail: <input type="text" name="email" id="email">
  Create password: <input type="text" name="password" id="password">
  <input type="submit" value="Create User">

</form>
