<h2>Please fill out the information below to sign up, and start using Fwitter!</h2>
<form action="/signup" method="post">
<label>Username:</label>
<input type="text" name="username" id="user_name">
<br></br>
<label>Password:</label>
<input type="password" name="password" id="password">
<br></br>
<label>Email:</label>
<input type="text" name="email" id="email">
<br></br>
<input type="submit" id="submit" value="Create account">
</form>