<h3>Sign Up Here</h3>

<<<<<<< HEAD

<body>
<form action="/tweets" method="POST"
<label for="username">Username: </label>
  <input type="text" id="username" name="user[username]">
   <input type="text" id="email" name=user[email]>
 <input type="text" id="password" name=user[password]>
  <input type="submit" >
</body>

=======
	<form action="/signup" method="POST">
		<label for="username">Username: </label>
  			<input type="text" name="username"> <!--removed id= for username, email, and password-->
  		<label for="email">Email:</label>
  			<input type="text" name="email">
  		<label for="password">Password:</label>
 			<input type="text" name="password">

  		<input type="submit" value="Submit">

</form>
>>>>>>> af90a5abbf0fb76163fe5effb8517018d1b7a56a
