<h1>Sign Up Page</h1>
<br>
<form action="/users" method="post">
  <h4><label>Username: <input type="text" name="user[username]" id="username"></label></h4>

  <h4><label>Email: <input type="text" name="user[email]" id="email"></label></h4>
  <h4><label>Password: <input type="password" name="user[password]" id="password"></label></h4>
  <br>
  <input type="submit" name="Sign Up" id ="Sign Up">
</form>