<h1>Create a Fwitter account!</h2>

<form action="/signup" method="POST">
  <h3>Please enter your email address: <input type="text" placeholder="someuser@fwitter.net" name="email"></h3>
  <h3>Enter your desired username: <input type="text" placeholder="User Name" name="username"></h3>
  <h3>Create a password: <input type="password" placeholder="Password" name="password"></h3>
  <input type="submit" value="submit">
</form>
