<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>User signup landing page</h2>
	<form action="/signup" method="post">
		<label>Username: </label>
		<input type="text" name="username">
		<label>Email: </label>
		<input type="text" name="email">
		<label>Password: </label>
		<input type="password" name="password">
		<input type="submit" name="submit">
		





	</form>
	
</body>
</html>