<article class="pa4 black-80">
  <form action="/signup" method="post" class="measure center">
    <fieldset class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="email">Email address</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email"  id="email">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="username">Username</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="username"  id="username">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="submit"></div>
  </form>
</article>
