Sign Up
<form method="post" action="/signup">
  <p>Username:<br>
  <input type="text" id="username" name="username">
  <p>Email:<br>
  <input type="text" name="email">
  <p>Password:<br>
  <input type="text" name="password">
  <p><input type="submit" id="submit" value="Sign Up">
</form>
