
<h2> Fwitter Signup </h2>

<form method="post" action="/signup">
  <label>Username</label><br>
  <input type="text" name="email">
  <br> <!-- pattern=".{4,30}" required-->
  <br>
  <label>Email</label><br>
  <input type="text" name="password">
  <br> <!--pattern=".{4,30}" required-->
  <br>
  <label>Password</label><br>
  <input type="text" name="username">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
