<h1>It's Free and Awesome!</h1><br><br>

<form action="/signup" method="POST">
  <label>Email:</label><br>
  <input type="text" name="email"/> <br><br>
  <label>User Name:</label><br>
  <input type="text" name="username" /><br><br>
  <label>Password:</label><br>
  <input type="text" name="password"/><br><br>
  <input type="submit" name="submit" value="Sign Up"/>


</form>
