<form method="post" action="/signup">
  <input type="string" name="user[username]" id="username">
  <input type="string" name="user[email]" id="email">
  <input type="password" name="user[password]" id="username">
  <input type="submit" value="Submit">
</form>
