<h1>Sign Up For Fwitter</h1>
<form method="post" action="/signup">
  <p>
    <label for="email">Enter an Email: </label>
    <input type="text" id="email" name="email">
  </p>
  <p>
    <label for="username">Enter a Username: </label>
    <input type="text" id="username" name="username">
  </p>
  <p>
    <label for="password">Enter a Password: </label>
    <input type="text" id="password" name="password">
  </p>
  <input type="submit" value="Create Account">
</form>
