<h2>Sign Up to Create Your Own Fwitter Account</h2>
<br>
<form action="/signup" method="post">
  Username:<input type="text" name="username" required>
  Email:<input type="text" name="email" required>
  Password:<input type="password" name="password" required>
  <input type="submit">
</form>
