<form method="post" action="/signup">
  <input type="text" name="email" placeholder="email address">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign Up">
</form>