<h1>Sign Up for Fwitter!</h1>
<form class="" action="/signup" method="post">

  <label>Username</label>
  <p><input type="text" name="user[username]" value=""></p>
  <br>

  <label>Email</label>
  <p><input type="text" name="user[email]" value=""></p>

  <label>Password</label>
  <p><input type="text" name="user[password]" value=""></p>

  <input type="submit" name="" value="Submit">

</form>
