<h1>Signup Form</h1>

<form action="/signup" method="post">

  <p><input type="text" name="username" value="Enter name here"></p>
  <p><input type="text" name="email" value="Enter email address here"></p>
  <p><input type="text" name="password" value="Enter password here"></p>

  <input type="submit" value="Create Account">

</form>
