<form action="/signup" method="POST">
  
  <!-- User's Username -->
  <label>Username:</label>
  <input type="text" name="username" required> </br>
  
  <!-- User's Password -->
  <label>Password:</label>
  <input type="password" name="password" required> </br>
  
  <!-- User's Email -->
  <label>Email:</label>
  <input type="text" name="email" required> </br>
  
  <!-- Submit Form -->
  <input type="submit" value="Create New User">
  
  
</form>