
<form action="/signup" method="post">
  <label>Enter User Name:</label>
  <input type="text" name="username" value="" id="username">

  <label>Enter password:</label>
  <input type="password" name="password" value="" id=password>

  <label>Enter Email:</label>
  <input type="text" name="email" value="" id="email">

  <input type="submit" value="Sign up">

</form>
