<h1>Create Your Fwitter Account</h1>

<form class="" action="/signup" method="POST">

  <h2>Email: <input type="text" name="email" value=""></h2>
  <h2>Username: <input type="text" name="username" value=""></h2>
  <h2>Password: <input type="password" name="password" value=""></h2>

  <h2><input type="submit" value="Submit"></h2>

</form>
