<h2>Sign up for Fwitter</h2>

<% if flash.has?(:message) %>
  <p><em><%= flash[:message] %></em></p>
<% end %>

<form action="/signup" method="post">

  <p><label>Username: <input type="text" name="username" required></label></p>
  <p><label>Email: <input type="email" name="email" required></label></p>
  <p><label>Password: <input type="password" name="password" required></label></p>
  <p><input type="submit"></p>

</form>
