<h3>Sign Up for Fwitter!</h3>
<form action="/user" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>

<!-- params => {"username" => "nratti", "password" => "min0t#ur"} -->
