
  <form action="/tweets" method="post">
    <label>Username:</label>
    <input type="text" name="username" placeholder="username">

    <label>Email:</label>
    <input type="text" name="email" placeholder="email">

    <label>Password:</label>
    <input type="text" name="password" placeholder="password">

    <input type="submit" value="Create User">
  </form>
