<body>
  <h3>Sign Up</h3>
  <form action="/signup" method="POST">
    <p><input type="text" name="username" placeholder="Username:" required></p>
    <p><input type="email" name="email" placeholder="Email Address" required></p>
    <p><input type="password" name="password" placeholder="Password:" id="pw" required></p>
    <p><input type="submit" value="Sign Up"></p>
  </form>

</body>