<h1>Fwitter Signup!</h1>
<form method="POST" action="/signup">
<h3>Email: <input type="text" name="email" id="email"></h3>
<h3>Username: <input type="text" name="username" id="username"></h3>
<h3>Password: <input type="text" name="password" id="password"></h3>
<input type="submit" name="Register" value="Register">
</form>
 