<form action="/signup" method="POST">

  Username:<input type="text" name="username" id="username" value="">

  <br></br>

  Email:<input type="text" name="email" id="email" value="">

  <br></br>

  Password:<input type="text" name="password" id="password" value="">

  <br></br>

  <input type="submit" value="Sign Up">
</form>
