<p><a href="/">Back to homepage</a></p>
<p><a href="/login">Log in</a></p>

<h3>Sign up below!</h3>
<form action='/signup' method='post'>
  <label>Email: </label>
  <input type="text" name="email" id="email"><br>
  <label>Username: </label>
  <input type="text" name="username" id="username"><br>
  <label>Password: </label>
  <input type="password" name="password" id="password"><br>
  <input type="submit" id = "submit" name = "submit" value="Create User">
</form>
