<!DOCTYPE HTML>
<html>
  <head>
    <title>Create User</title>
  </head>
  <body>
      <h1>Sign Up for Fwitter</h1>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username:">
        <input type="text" name="email" placeholder="Email:">
        <input type="password" name="password" placeholder="Password:">
        <input type="submit" value="Sign Up">
      </form>
  </body>
 
</html>