<h1>Signup</h1>

<form action="/signup" method="post">
  <p>New Username: <input type="text" name="username"></p>
  <p>Email Address: <input type="text" name="email"></p>
  <p>New Password: <input type="text" name="password"></p>
  <input type="submit" value="Submit">
</form>
