<fieldset>
  <legend>Sign up for Fwitter!</legend>
  <form method="POST" action="/tweets/index">
    <label>Username: <input type="text" name="username" /></label><br>
    <label>Email: <input type="text" name="email" /></label><br>
    <label>Password: <input type="text" name="password" /></label><br>
    <input type="submit" id="Submit" />
  </form>
</fieldset>

<!--ref: https://www.w3schools.com/tags/tag_fieldset.asp
for 'fieldset' and 'legend' tags>