<!DOCTYPE html>
<html>
  <body>
    <h3>Try Getting Your Fweet Wet!</h3>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username:">
        <br>
      <input type="text" name="email" placeholder="Email:">
        <br>
      <input type="password" name="password" placeholder="Password:">
        <br>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
