<h1>Create User:</h1>

<form action="/signup" method="post">

<label>Username: </label><input type="text" name="username" id="new_user_name"></input>
<br></br>

<label>Email: </label><input type="text" name="email" id="new_user_email"></input>
<br></br>

<label>Password: </label><input type="text" name="password" id="new_user_password">
<br></br>

<button type="submit">Sign me up!</button>


</form>

