<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a new Fwitter Account</h1>

<form method="POST" action="/signup">

  <p>Username: <input type="text" name="username" id="user_name" placeholder="Username"></p>
  <p>Email: <input type="text" name="email" id="user_email" placeholder="Email Address"></p>
  <p>Password: <input type="text" name="password" id="user_password" placeholder="Password"></p>
  
  <input type="submit" value="Create New Account">
</form>