<form method="post" action="/signup">
<p>Username</P>  <input type="text" name="username"></br>
<p>email</P>  <input type="text" name="email"></br>
<p>password</P>  <input type="text" name="password"></br>
  <input type="submit">
</form>
