<html>
<head>
  <h1>Create Account:</h1>
</head>
<body>
  <h3>Sign up Below:</h3>
  <form action="/signup" method="POST">
    <p>username:<input type="text" name="name"></p>
    <p>email:<input type="text" name="email"></p>
    <p>password:<input type="text" name="password"></p>
    <input type="submit" value="Sign-up">

</form>

</body>

</html>
