<h2>Create a Fwitter Acount Today!<h1>

<form action="/signup" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required ><br>
    <lable>password:</label>
    <input type="password" name="password" required ><br>
    <lable>email:</label>
    <input type="email" name="email" required ><br>
    <input type="submit" value="Create User">
</form>