<form method="post" action="/signup">
  <h3>Email: <input type="text" name="email" id="email"></h3>
  <h3>Create a Username: <input type="text" name="username" id="username"></h3>
  <h3>Create a Password: <input type="text" name="password" id="password"></h3>
  <input type="submit" id="Signup">
</form>
