
<h2>Sign Up</h2>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="text" name="email" placeholder="E-mail:"></input>
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
</form>
<p>Or return to the <a href='/'>Home Page</a></p>