<form action="/signup" method="POST">
<<<<<<< HEAD
Name: <input type="text" name="username">
=======
Username: <input type="text" name="username">
>>>>>>> fb1e67ae4cc0c9c4125ba043b384e948ef5f0118
Email: <input type="text" name="email">
Password: <input type="password" name="password">

<input type="submit"  value="Sign Up">
 </form>
