<form method="POST" action="/signup">
  <input name="username" placeholder="username:" type="text">
  <input name="password" placeholder="Password:" type="password">
  <input type="submit" value="Sign Up">
</form>
