<%# 1. create username and password
2. add email
3. create new user + add to db
4. should log user in and add user_id sessions hash
5. add signup link to homepage  %>
<form action="/signup" method="POST">
it works

 </form>
