
<h2>Sign Up Below:</h2>

<form action="/signup" method="POST">

  <p><label>Username:</label></p>
  <input type="text" name="username">
  <br>
  <p><label>Email:</label></p>
  <input type="text" name="email">
  <br>
  <p><label>Password:</label></p>
  <input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">

</form>
