
<form action="/signup" method="POST">
<h1>Fwitter's Sign-up Page</h1>
<br></br>

<label>Email address:</label>
<input type="text" id="email" name="email">
<br></br>

<label>Username:</label>
<input type="text" id="username" name="username">
<br></br>

<label>Password</label>
<input type="text" id="password" name="password">
<br></br>
<input type="submit" id="submit" value="Sign Up">
</form>
