<h1>Create Account</h1>


<form method="post" action="/">

  Username: <input type="text" name="username" required="required">
  Email: <input type="email" name="email" required="required">
  Password: <input type="password" name="password" required="required">

  <input type="submit" value="Create Account">

</form>

