<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Fwitter</h1>
    <h2>Sign Up</h2>

    <form action="/signup" method="POST">
      <p><label for="username">Username: </label><input type="text" name="username" id="username"></p>

      <p><label for="email">Email: </label><input type="text" name="email" id="email"></p>

      <p><label for="password">Password: </label><input type="text" name="password" id="password"></p>

      <input type="submit" value="Submit" id="submit">
    </form>



  </body>
</html>
