<form action="/signup" method="post">
  <p><label>Username <input type="text" name="username" id="username"></label></p>
  <p><label>Email <input type="email" name="email" id="email"></label></p>
  <p><label>password <input type="password" name="password" id="password"></label></p>
  <input type="submit" value="Signup">
</form>
