<h1>Signup Here</h1>

<form method='post' action='/signup' >

  <h4>Enter a Username: <input type='text' name='username'></h4>
  <h4>Enter  EmailId:   <input type='text' name='email'></h4>
  <h4>Enter a password: <input type='text' name='password'></h4>

  <input type='submit' value='Signup'>

</form>