<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>

<h3>Fwitter Sign Up</h3>
<form action="/signup" method="POST">
  <label>Email:<input type="text" name="email" id="email"><br></label>
  <label>Username:<input type="text" name="username" id="username"><br></label>
  <label>Password:<input type="password" name="password" id="password"><br></label>
  <input type="submit" value="Sign Up">
</form>


</body>
</html>
