<form method='post' action='/signup'>
    <label for='username'>please enter your name:</label>
    <input type='text' name='username' id='username'>
    <label for='email'>please enter your email:</label>
    <input type='text' name='email' id='email'>
    <label for='password'>please enter a password:</label>
    <input type='password' name='password' id='password'>    
    
    <input value="Create User" type='submit'>
    
</form>