
<center>

  <h1>Signup for Fwitter below!</h1>
  <form action="/signup" method="POST">
    <p> <h4> ENTER USERNAME: </h4> <input type="text" name="username" placeholder="username"></p>
    <p> <h4> ENTER EMAIL: </h4> <br> <input type="text" name="email" placeholder="email"></p>
    <p> <h4> ENTER PASSWORD: </h4> <br> <input type="text" name="password" placeholder="password"></p>
    <input type="submit" value="submit">
  </form>

</center> 
