<h1>Welcome, <%= @user.username %></h1>

<p>Your name: <%= @user.username %></p>
<p>Your email: <%= @user.email %></p>
<p>Session[:id]: <%= session[:id] %></p>
<p><a href='/logout'>Log me out!</a></p>

<h2>Your Tweets<h2>

<p>Thank you for using Fwitter!</p>
