<h1>All Fwitter Users</h1>
<% @users.each do |user| %>
  <h4><a href="/users/<%= user.slug %>"><%= user.username %></a></h4>
<% end %>
<h5><a href="/tweets">Click here</a> to return to your newsfeed.</h5>