<h2>Log in Below:</h2>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <p><input type="submit" id="submit" value="Log In"></p>
</form>
