<h2>Please Log In Below</h2>
<form action="/login" method="POST">
  <p>Enter Username: <input type="text" name="username" id="username"></p>
 <!--  <p>Enter Email: <input type="text" name="user[email]"> -->
  <p>Enter Password: <input type="password" name="password" id="password"></p>
  <input type="submit" value="Log In" id="submit">
</form>