<h1>Log In</h1>

<form action='/login' method="POST">

Username: <input type="text" name="username" id="username"><br>
Password: <input type="text" name="password" id="password"><br>
<input type="submit" type="submit" id="submit" value="Log In"><br>
</form>
