<form method="POST" action="/login">
  <ul>
    <li><label for="username">Username: <input type="text" name="username" id="username"></label></li>
    <li><label for="password">Password: <input type="text" name="password" id="password"></label></li>
  </ul>
  <input type="submit" value="submit">
</form>
