<h1>Log In</h1>
<form action="/login" method="post">
  <label for="user_email">Email:</label>
  <input type="text" name="email" id="user_email"><br>
  <label for="user_pw">Password:</label>
  <input type="text" name="password" id="user_name"><br>
  <input type="submit" value="Log In">
</form>
