<h1>Login Page</h1>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input id="submit" type="submit">
</form>