<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    This is the form to log in
    <form action="/login" method="post">
      <input type = "text" name = "username" >
      <input type = "password" name = "password">
      <input type = "submit" id = "submit" name = "submit">
    </form>
  </body>
</html>
