<form method="post" action="/login">
  Username:<br>
  <input type="text" id="username" name="username">
  <p>Password:<br>
  <input type="text" name="password">
  <p><input type="submit" id="submit" value="Login">
</form>
