<h2> Log in to your Fwitter account </h2>

<form method="POST" action="/login">

  <p>Name: <input type='text' id='username' name="username"></p>
  <p>Password: <input type='text' id='password' name='password'></p>
  <input type='submit' value='submit'>

</form>

<h3><a href='/'> Back to the main page </a></h3>
<h3><a href='/signup'> Don't have an account? Sign up here </a></h3>