<h1>Login Fwitter</h1>

<form method="POST" action="/login">
  <label>Username:</label>
  <input type="text" name="username" id="user_id">
  <label>Password:</label>
  <input type="password" name="password">

  <input type="submit" value="Login" id="submit">
</form>

No username? <a href="/signup">Sign up here</a>