

<form action="/login" method="post">


<label for="username">Username:</label>
<input type="text" name="username" id="username" placeholder="Username"></input>
<br><br>

<label for="password">Password:</label>
<input type="text" name="password" id="password" placeholder="Password"></input>
<br><br>

<input type="submit" value="submit"></input>

</form>