<div class="tweet">
  <h3>Enter your login info; we're so excited!!</h3>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" title="submit" value="Log in">
  </form>
</div>
