<br></br>
<br></br>

<form method="post" action="/login">
  <input type="text" name="username" value="username"><br></br>
  <input type="text" name="password" value="password"><br></br>
  <input type="submit" id="submit" value="login">
</form>