<h1> Welcome to Fwitter </h1>

<h1>Please Log In Below:</h1>

<form method="POST" action="/login">
  <label for="name">Your Name: </label>
  <input id="name" type="text" name="username">
  <br></br>
  <label for="email">Your Email: </label>
  <input id="email" type="text" name="email">
  <br></br>
  <label for="password">Your Password: </label>
  <input id="password" type="text" name="password">
  <br></br>
  <button type="submit" value="Log In">Log In</button>

</form>
