<h1>Welcome, </h1>

<form method="POST" action="/login">
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="email" placeholder="email" />
    <input type="pasword" name="password" placeholder="password" />
    <input type="submit" name="Submit" id="submit" />
</form>
