
<form method="posts" action="/users">

<h2> or Sign In </h2>

<p><label> <h3> Sign In </h3> <label></p[>]
<p><label><h4> Username: <label> <input type="string" name="username" id="username.name"> </h4> </label></p>
<p><label><h4> Password: <label> <input type="string" name="password" id="username.name"> </h4> </label></P>

<input type="submit" value="Submit">

</form>
