<center><h2><font color="pink"> Please enter login info to access account! </h2> </font>
<form action="/login" method="post">
  Username: <input type="text" name="username" id="username"><br>
  <br>
  Password: <input type="text" name="password" id="password"><br>
  <br>
  <input type="submit" name="Login" value="Login">
</form>
