<h1>Log In to Fwitter: </h1>
<form method="POST" action="/login">
    <p>Name: <input type="text" name="username"></p>
    <p>Password: <input type="text" name="password"></p>
    <input type="submit" value="submit">
</form> 