<h1>Please log in to Fwitter</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>