<h1>Login:</h1>
  <form action="/login" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <label><h3>User Name:</h3> </label>
    <input type="text" name="user[username]" id="username"><br><br>
    <label><h3>Password:</h3></label>
    <input type="password" name="user[password]" id="password">
    <input type="submit" value="submit">
  </form>
  <h3><a href="/">Return to homepage</a></h3>