<h1>Hello, please Login to Your Account</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password (hidden)">
  <input type="submit" value="submit">

</form>
