<h1>Log In Below:</h1>

<form action="/login" method="post">
  Email: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br>

  <input type="submit" value="Log In" id="submit">

  <a href="/signup">Sign Up</a>
</form>
