
<form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required ><br>
    <lable>password:</label>
    <input type="password" name="password" required ><br>
    <input type="submit" value="submit">
</form>