<h1>Log In</h1>
<form action="/login" method="post">
  <label for="user_name">Username:</label>
  <input type="text" name="username" id="user_name"><br>
  <label for="user_pw">Password:</label>
  <input type="text" name="password" id="user_name"><br>
  <input type="submit" value="submit">
</form>
