<form action="/login" method="post">
<input type="text" name="username" placeholder="Name">
<input type="password" name="password" placeholder="password">

<input type="submit" value="submit">
</form>