<h1>Fwitter Login!</h1>
<form method="POST" action="/login">
<h3>Username: <input type="text" name="username" id="username" placeholder="Username"></h3>
<h3>Password: <input type="password" name="password" id="password" placeholder="Password"></h3>
<input type="submit" name="submit" value="submit">
</form>
