<form method='POST' action='/login'>
  Username: <input type="text" id='username' name='username'><br></br>
  Password:<input type="text" id="password" name="password"><br></br>
  <input type="submit" id="submit" value="Login">
</form>
<!-- <p><a href='/signup'>Still need to Signup? Click here.</a></p> -->
