<h1> Log in below</h1>


<form action="/login" method="post">
  <h2>username:</h2>
  <input type="text" id="username" name="user[username]"></input>
  <br>
  <h2>password:</h2>
  <input type="password" id="password" name="user[password]"></input>
  <br><br>
  <input type="submit" id="submit" value="Log in"></input>

</form>