<h1>Login</h1>

<form action="/login" method="post">
	<label for="username"><input type="text" placeholder="Username:" name="username" id="username"></label><br>
	<label for="password"><input type="password" placeholder="Password:" name="password"></label><br>
	<input type="submit" id="submit" value="Log In">
</form>