<h1>Please Login</h1>

<form action='/login' method='POST'>
	
	<label for='username'>Username</label>
	<input type='text' name='username'><br>

	<label for='password'>Password</label>
	<input type='text' name='password'><br>
	
	<input type='submit' value="submit"><br>
</form>

<a href="/signup">New User?</a>