<h1>Log into Fwitter</h1>

<form action="/login" method="post">
  
<p>Username <input type="text" name="username" id="username"></p>
<p>Password <input type="text" name="password" id="password"></p>

<input type="submit" value="submit">
</form>