<h1>Login</h1>

<form action="/login" method="POST">

  <h3><em>Please enter your information below</em></h3>

  <label>Email:</label>
  <input type="text" name="email" id="user_email">
  <br></br>

  <label>Username:</label>
  <input type="text" name="username" id="user_username">
  <br></br>

  <label>Password:</label>
  <input type="text" name="password" id="user_password">
  <br></br>

  <input type="submit" value="Login">
</form>
