<h1>Log in to your account:</h1>
<form method="POST" action="/login">
  <label>Username:</label>

  <input type="text" name="user[username]" id="username">

  <br></br>

  <label>Password:</label>

  <input type="text" name="user[password]" id="password">

  <br></br>

  <input type="submit" value="Log In">
</form>