<h2>FWITTER LOG IN</h2>

Username: <input type="text" value="user[username]" id="username">
Password: <input type="password" value="user[password]" id="password">

<input type="sumbit" value="LOG IN">
