<label for="new_user">Create New User</label>
<br></br>
<form action="/login" method="post">
  <input type="text" name="username"><br>
  <input type="text" name="email"><br>
  <input type="password" name="password"><br>
  <input type="submit" name="Create New User" id="submit">
</form>
