<h2>Fwitter Log In</h2>

  <form action="/login" method="POST">
    <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username:" id="username"></input>

    <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Email:" id="email"></input>

    <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password:" id="password"></input>

    <div class="button">
    <input type="submit" value="submit">
    </div>
  </form>
