<h1>Login to Fwitter below</h1>

<form action="/login" method="POST">

  <h3><label>Username:</lable></h3>

  <input type="text" name="username">

  <h3><label>Password:</lable></h3>

  <input type="text" name="password">

  <br></br>

  <input type="submit" value="Login" id="submit">
</form>
