<h1>Login</h1>

  <%if flash.has?(:notice)%>
    <%=flash[:notice]%>
  <% end %>

<form class="" action="/login" method="post">
  <input type="text" name="username" id="username" placeholder="username..">
  <br>
  <input type="password" name="password" id="password" placeholder="password">
  <br><br>
  <input type="submit" id="submit" value="Log In">
</form>
<br>

<button type="button" class="btn btn-light"><a href="/">Home</a></button>
