<form action="/login" method="post">
  <label>Username</label><input type="text" name="username" id="username">
  <br>
  <label>Password</label><input type="text" name="password" id="password">

  <button type="submit" id="submit"></button>

</form>
