<h1>Thanks for loggin into Fwitter!</h1>
<h2>Sign up below:</h2>
<br></br>

<form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br></br>
    
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <br></br>
    
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br></br>
    
    <input type="submit" id="submit">Sign Up</input>
</form>