<h1>Welcome Back Fwitter Friend!</h1>
<h3>Login:</h3>

<form action="/login" method="POST">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="text" name="password" placeholder="password"></p>
  
  <input type="submit" value="Login"> 
</form>