<h2>Log in to Fwitter!</h2>
<br>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" name="submit" value="submit">Log In</input>
</form>
