<div class="container">
	<div class="row">
		<form action="/login" method="POST">
			<label for="username">Username: </label>
			<input type="text" name="username" class="form-control" id="username" placeholder="Enter your username">

			<br>

			<label for="password">Password: </label>
			<input type="password" name="password" class="form-control" id="" placeholder="Password">

			<br>
			<input type="submit" value ="Login" id="submit" class="btn btn-primary">
		</form>
	</div>
</div>