<h2> Login </h2>

<form method="post" action="/login">
  <label>Username</label><br>
  <input type="text" name="username">
  <br>
  <br>

  <label>Password</label><br>
  <input type="text" name="password"> <!--pattern=".{4,30}" required-->
  <br>
  <br>

  <input type="submit" id="submit" value="Login">
</form>
