<form action="/login" method="post">
  <p><label>Username <input type="text" name="username"></label></p>
  <p><label>Password <input type="passwod" name="password"></label></p>
  <input type="submit" name="submit" id="submit" value="Submit">
</form>
