<h1>Login to Fwitter</h1>
<form action="/login" method="POST">
  <label>Username: <input type="text" name="username"></label>
  <label>Password: <input type="password" name="password"></label>
  <input type="submit" id="submit" value="Login">
</form>
