<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Log In to Fwitter</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit" value="submit">

</form>
