<h1>Log In Below:</h1>
<form method="POST" action="/login">
  Username: <input type="text" name="username" >
  Password: <input type="password" name="password">
  <input type="submit" value="Log In">
</form>

<h4>Or create an account below to log in</h4>
<a href="/signup"><button>Sign Up</button></a>
