<h1>Log In Below:</h1>
<form method="post" action="/login">
  <label for="username">Username</label>
  <input type="text" name="username" value="username">

  <label for="password">Password</label>
  <input type="text" name="password" value="password">
  <button type="submit" value="submit" name="submit">Log In</button>
</form>
