<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/login" method="post">

      <h1>Log In</h1>

      <h2> Username: <input type="text" name="username" value=""> </h2>
      <h2> Password: <input type="text" name="password" value=""> </h2>
      <h2> <input type="submit" name="" value="submit"> </h2>
    </form>
  </body>
</html>
