<h2>Login Below</h2>

<form method= "POST" action= "/login">
  <h4><label for= "username">Username:</label></h4>
  <input type= "text" id= "username" name= "username">

  <br>

  <h4><label for= "password">Password:</label></h4>
  <input type= "password" id= "password" name= "password"><br>

  <input type= "submit" value= "Log In">
</form>
