 <h3>Log In Please</h3>

<form method="POST" action="/login">
      <p>Username:<input type="text" name="username"></p>
      <p>Password:<input type="text" name="password"></p>
      <!-- email? -->
    <input type="submit" value="submit" id="button">
    </form>