<h2> Log In to Fwitter </h2>
<form method="post" action="/login">
  <label> Username </label>
  <input type="text" name="username" id="username">
  <br>
  <label> Password </label>
  <input type="text" name="password" id="password">
  <input type="submit" id="Log In">
</form>
