<h1>Welcome,</h1>

<form class="" action="/login" method="post">
  <p><h2><label>Username:</label></h2>
  <input type="text" name="username" value=""></p>
  <p><h2><label>Password:</label></h2>
  <input type="password" name="password" value=""></p>
  <p><input id= 'submit' type="submit" name="" value="Submit"></p>

</form>
