<h1>Login</h1>
<form action="/login" method="post">
  <lable for="username">Username:</lable>
  <input type="text" name="username" required>
  <lable for="password">Password:</lable>
  <input type="text"  name="password" required>
  <input type="submit" id="submit">
</form>
