<form action="/login" method="post">
  <input type="text" name="username" placeholder="login name">
  <br>
  <input type="password" name="password" placeholder="login password">
  <br>
  <input type="submit" value="submit">
</form>
