<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p><h3>Login</p></h3>

<form action="/login" method="POST">
  <label>Username:</label>
  <br />
  <input type="text" id="Username" name="username">

  <br></br>

  <label>Password:</label>
  <br />
  <input type="text" id="Password" name="password">

  <br></br>

  <input type="submit" id="submit" value="Login">
</form>
