

<h3>Login to Fwitter!</h3>
    <form method="post" action="/login" >
      <input type="text" name="username" placeholder="Username:"> 
      <input type="text" name="password" placeholder="Password:"> 
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
