<p><a href="/">Back to homepage</a></p>
<p><a href="/signup">Sign up</a></p>
<h3>Log in below:</h3>
<form action="login" method="post">
  <label>Username: </label>
  <input type="text" id="username" name="username"><br>
  <label>Password: </label>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Log In" name="submit" id="submit">
</form>
