<form action="/login" method="post">

<label>Username: </label>
<input type="text" name="username">
<label>Password: </label>
<<<<<<< HEAD
<input type="password" name="password" value="">

<input type="submit" name="submit" value="submit">
=======
<input type="password" name="password">

<input type="submit" value="submit">
>>>>>>> fb1e67ae4cc0c9c4125ba043b384e948ef5f0118
</form>
