<h2>Log In</h2>

<form action="/login" method="POST">

  <label id="username"></label>
    <input type="text" id="username" placeholder="Username" name="username">

  <label id="password"></label>
    <input type="password" id="password" placeholder="Password" name="password">

  <label id="submit"></label>
  <input type="submit" value="Log In" id="submit">

</form>
