<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Fwitter! - Log In</title>
  </head>
  <body>
    <h2>Welcome to Fwitter! - Log In Page</h2>
    <form action="/login" method="post">
      <p>Username: <input type="text" name="username" placeholder="Username"></p>
    	<p>Password: <input type="password" name="password" placeholder="Password"></p>
    	<input type="submit" id="submit" value="Log In">
    </form>
    <p>Don't have an Account? <a href="/signup">Sign Up!</a></p>
  </body>
</html>
