<h2>Login</h2>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="text" name="password" placeholder="password">
<<<<<<< HEAD
  <input type="submit" value="login">
=======
  <button type="submit" id="submit">submit</button>
>>>>>>> 590d4538a37b777c140ea8e9ed4ad730df4e8f9d
</form>
