<h1>Login to your Fwitter account!</h2>

<form action="/login" method="POST">
  <h3>Enter your username: <input type="text" placeholder="User Name" name="username"></h3>
  <h3>Enter your password: <input type="password" placeholder="Password" name="password"></h3>
  <input type="submit" value="submit">
</form>
