<h1>Log In to Fwitter</h1>

<form method="POST" action="/login">
 <p> <label>Username:</label>
  <input type="text" name="username" id="username"></p>
 <p ><label>Password:</label>
  <input type="text" name="password" id="password"></p>
 <p> <input type="submit" value="Log In" id="submit"></p>
</form>