<div class="col-sm-6 col-sm-offset-3 fwitter-form">
  <div class="col-sm-12 fwitter-form-message">
    <h1>Log in to your account</h1>
  </div>
  <% if flash[:message] %>
    <% flash[:message].each do |message| %>
      <div class="form-group has-error">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="control-label"><%= message %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <form class="form-horizontal" action="/login" method="post">
    <div class="form-group">
      <!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
      <div class="col-sm-8 col-sm-offset-2">
        <input type="text" name="email"class="form-control" placeholder="Email or Username">
      </div>
    </div>
    <div class="form-group">
      <!-- <label for="inputPassword3" class="col-sm-2 control-label">Password</label> -->
      <div class="col-sm-8 col-sm-offset-2">
        <input type="password" name="password"class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="form-group fwitter-form-button">
      <div class="col-sm-8 col-sm-offset-2">
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
      </div>
    </div>
  </form>
</div>
