<h1>Log In to Fwitter!</h1>

<form method="post" action="/login">

  <p>
    <input type="text" name="username" placeholder="Username">
    &nbsp&nbsp&nbsp&nbsp
    <input type="text" name="password" placeholder="Password">
    &nbsp&nbsp&nbsp&nbsp
    <input type="submit" value="submit">
  </p>

</form>
