<h1>Login to Fwitter</h1>

<form method="POST" action="/login">
  <label>Your username: </label>
  <input type="text" name="username">
  <label>Your password: </label>
  <input type="text" name="password">
  <input type="submit" value="Login">

  <p class="change_link">
    Not a member yet ?
  <a href="/signup" class="to_register">Sign Up</a>
  </p>
</form>
