<h1>Login</h1>
<form action="/login" method="POST">
	<label for="username">Username: </label><input type="text" name="username">
	<label for="password">Password: </label><input type="text" name="password">

	<button type="submit" id="submit">Login</button>
</form>