<h1>Log in to your account:</h1>
<form method="post" action="/login">
  <input type="text" name="user[username]" placeholder="username">
  <input type="text" name="user[password]" placeholder="password">
  <input type="submit" value="Log In">
</form>
