<h2>Login</h2>
  <form action="/login" method="POST">
    <label>Username</label>
        <input type="text" name="username" placeholder="username"><br>
    <label>Email</label>
            <input type="text" name="email" placeholder="email"><br>
    <label>Password</label>
        <input type="password" name="password" placeholder="password"><br>
    <input type="submit" id="submit">
  </form>
