<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Welcome, Please Login</h2>
<form action="/login" method="post">
  <label>Username:</label>
  <input type="text" name="username" id="username" placeholder="Your Username">
  <br/>
  <br/>

  <label>Password:</label>
  <input type="password" name="password" id="password" placeholder="Your Password">
  <br/>
  <br/>

  <input type="submit" name="submit" value="submit">
</form>
