Please Login

<form action="______" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[password]" placeholder="Password">
  <input type="submit" name="submit">Log In</input>
</form>