<h1>Log in</h1>
<form method="post" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password" id="password">Password:</label>
    <input type="text" name="password"></br>
    <input type="submit" id="submit">
</form>