
<div class="container" id="form1">
    
<h2>Login</h2>

<form action="/login" method="POST">
	<label>Username:</label><input type="text" name="username"></br>
	<label>Password:</label><input type="password" name="password"></br>
    
	   <input class="btn btn-secondary" type="submit" value="Login">
</form>


</div>