
<h2>Welcome,</h2>

<form class="" action="/login" method="post">

  <ul>
  <label for="username">
    <ol>Username:</ol></label>
    <input type="text" name="username" value="">
  </ul>

    <ul>
      <label for="password">
        <ol>password:</ol></label>
        <input type="password" name="password" value="">
      </ul>

    <ol>
      <input type="submit" name="submit" value="submit">
    </ol>

</form>
