<h1>Please log in</h1>

<form method="post" action="/login">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
  <br></br>
  <input type="submit" value="submit">
</form>

<h3>If you don't have an account. Please register one <a href="/signup">here</a>.</h3>
