<form class="" action="/login" method="post">
  <input type="input" name="username" value="">
  <input type="input" name="password" value="">
  <input type="submit" value="Log in" id="submit">
</form>
