<h1>Login</h1>

<div>
  <p>Log in using your username and password below.</p>
</div>

<div>
  <form method="post" action="/login">
    <input id="username" type="text" placeholder="Username" name="username" required><br>
    <input id="password" type="password" placeholder="Password" name="password" required><br><br>
    <input id="submit" type="submit" value="Login">
  </form>
</div>
