<h1>Welcome to Fwitter! Please Log In.</h1>

<form action='/login' method="post">
  Username: <input type="text" name="username">
  Password: <input type="text" name="password">
  <button type="submit" value="submit">submit</button>
</form>