<h1>Login Page</h1>

<form action="/login" method="post">
    <label>Username</label>
    <input type="text" name="username"></input>
        <br></br>

    <label>Password</label>
    <input type="text" name="password"></input>
        <br></br>
    <input type="submit" value="Login">
</form>
