<h1>Login Here!</h1>
<form method="POST" action="/login">
  <label>Username:<input type="text" name="username"></label>
  <label>Password:<input type="text" name="password"></label>
<input type="submit" value="Login" id="submit">
</form>
