<h1>Log In</h1>
<form action="/login" method="post">
  <label>Username:</label>
  <input id="username" type="text" name="username">
  <br></br>

  <label>Password:</label>
  <input id="password" type="password" name="password">
  <br></br>

  <input id="submit" type="submit" value="Log In">
</form>
