<center> <h1>Log In to Fwitter Below</h1> </center>

<form method="POST" action="/login">
  <center>
    <p> <h4> ENTER USERNAME: </h4> <input type="text" name="username" id="username" placeholder="username"></p>
    <p> <h4> ENTER PASSWORD: </h4> <br> <input type="text" name="password" id="password" placeholder="password"></p>
    <input type="submit" value="Log In" id="submit">
  </center>
</form>
