<form class="" action="/login" method="post">
  <p>Username:</p>
  <input type="text" name="username" value="">
  <p>Password:</p>
  <input type="text" name="password" value="">
  <br><br>
  <input type="submit" id="submit" value="Login">
</form>
