<div>
  <h1>Log in to access your account:</h1>
  <span><%= flash[:wrong] %></span>
  <form method='post' action='/login'>
    <input class='text' type='text' name='username' placeholder='Username' required><br>
    <input class='text' type='password' name='password' placeholder='Password' required><br>
    <br>
    <input class='submit' type='submit' value='submit' class='button'>
  </form>
</div>
