<h2>Login Below:</h2>
<form method="post" action="/login">
  <label>Username:</label>
  <input type="text" name="username">
  <br>
  <label>Password:</label>
  <input type="text" name="password">
  <br>
  <label>Email:</label>
  <input type="text" name="email">
  <br>
  <input type="submit" name="submit" value="submit">
</form><br>
