<form action="/login" method="POST">
  
  <!-- Username -->
  <lable>Username:</label>
  <input type="text" name="username"> </br>
  
  <!-- Password -->
  <label>Password:</label>
  <input type="password" name="password"> </br>
  
  <!-- Submit Login Form -->
  <input type="submit" value="submit">
  
</form>