<h1>Welcome, please log in below</h1>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <button type="submit" value="Log In">submit</button>
</form>