<h1>Welcome, login to Fwitter!<h1>

  <form action="/login" method="POST">
      <input type="text" name="username" id="username" placeholder="username"><br>
      <input type="text" name="password" id="password" placeholder="password"><br>

      <input type="submit" name="submit" value="Login" id="submit">
    </form>
