<h1>LOGIN</h1>

<form action="/login" method="post">

<label>Username: </label><input type="text" name="username" id="user_email"></input>
<br></br>

<label>Password: </label><input type="text" name="password" id="user_password"></input>
<br></br>

<button type="submit" name="login" id="submit">Log me in!</button>

</form>