<br></br>
<h3 align="center">Login:</h3>

<form action="/login" method="POST">

  <div align="center">
    <p><input type="text" name="username" placeholder="Username:"></p>
    <p><input type="password" name="password" placeholder="Password:"></p>
    <button type="submit" value="submit">Submit</button>
  </div>

</form>