<center><h1><font color="pink"> Fwitter </font></h1>
<center><h3><font color="pink"> Login Below: </h3> </font>
<form action="/login" method="post">
  Username: <input type="text" name="username" id="username"><br>
  <br>
  Password: <input type="text" name="password" id="password"><br>
  <br>
  <input type="submit" name="Login" value="Login">
</form>
