<h1>Log In Here:</h1>

<form action="/login" method="post">
  Username: <input type="text" name="username" id="username"><br>
  Email: <input type="text" name="email" id="email"><br>
  Password: <input type="text" name="password" id="password"><br>
  <input type="submit" value="submit">
</form>

<br></br>

<a class="button" href="/signup">Don't have a login? Sign Up Here</a>
