<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<h1>Log In</h1>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username">
  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" value="submit">
</form>
