<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Please Login</h1>
<form action="/login" method="post">
	<label>Username: </label>
	<input type="text" name="username">
	<label>Password: </label>
	<input type="password" name="password">
	<input type="submit" name="Login" id="submit">
	





</form>




</body>
</html>