<h3>Login</h3>
<form action="/login" method="POST">
  Username: <input id="username" type="text" name="username"><br>
  Password: <input id="password" type="text" name="password"><br>
	<button type="submit" value="submit">Create</button>
</form>
