<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="/">fwitter</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="/signup">Don't have an account? <strong>Create one.</strong></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="vertical-tweak row">
				<div class="col-sm-8 col-sm-offset-2">
					<br>
					<form action="/login" method="post">
						<h3><strong>Please Sign in.</strong></h3>
						<input placeholder="Account Name" class="form-control" id="username" type="text" name="username">
						<br>
						<input placeholder="Password" class="form-control" id="password" type="password" name="password">
						<br>
						<button class="btn btn-md btn-primary btn-block roundify" id="submit"  type="submit"> Sign In</button>
					</form>
					<br>
				</div>
	</div>
</div>