<form action="/login" method="post" accept-charset="utf-8">
  <label>Username: </label>
  <input type="text" value="" name="username" id="username"/>

  <br><br>

  <label>Password: </label>
  <input type="text" value="" name="password" id="password"/>

  <br><br>
  
  <input type="submit" value="Log In" name="Log In" id="submit"/>
</form>
