<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fwitter - Log In</title>
</head>
<body>
	<h1>Log In to Fwitter!</h1>

	<form action="/login" method="POST">
	 	<p><label for="username">Username: </label><input id="username" type="text" name="username"></p>
		<p><label for="password">Password: </label><input type="password" type="password" name="password"></p>
		<p><input type="submit" value="Log In"></p>
	</form>
	
</body>
</html>