<h1>Login Page</h1>

<form action="/login" method="post">
    <p>Username: <input type="text" id="username" name="username"></p>
    <p>Password: <input type="password" id="password" name="password"></p>

    <input type="submit" id="submit" value="Login">
</form>
