<h1>Please Login</h1>

<form method="post" action="/login">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <button input ="submit">Log in</button>
  

</form>