<h1>Fwitter Login!</h1>
<form method="POST" action="/login">
<h3>Username: <input type="text" name="username" id="username"></h3>
<h3>Password: <input type="text" name="password" id="password"></h3>
<input type="submit" name="submit" value="submit">
</form>
