<h1>Login Page</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username"><br><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <input type="submit" name="" placeholder="Create Account"><br><br>
</form>
