<h1>Login:</h1>

<form action="/login" method="post">
	<p>
		<label>Email:</label>
		<input type="email" name="user[email]" required>
	</p>
	<p>
		<label>Password:</label>
		<input type="password" name="user[password]" required>
	</p>

	<input type="submit" name="Login" value="Login">
</form>