<h1>Welcome!</h1>
<h2>Log in below.</h2>
<form action='/login' method='POST'>

  <p><label>Username: </label><input name="username" type="text" /></p>
  <p><label>Password: </label><input type="password" name="password" /></p>
  <p><input type="submit" id="submit" value="Login" /></p>

  
</form>
