<h1>Login Page</h1>

<form action="/login" method="post">

  <p><label>Username: </label><input type="text" name="username"></p>
  <p><label>Password: <input type="text" name="password"></label></p>

  <p><input type="submit" value="submit"><p>
  <p>New to the site? <a href="/signup">Sign up</a> for a new account.</p>

</form>
