<h1>Log in to your account</h1>
<form action="/login" method="post">
  <table>
    <tr>
      <td class="col-1">
        <label>Username:</label>
      </td>
      <td>
        <input type="text" name="username" id=":username">
      </td>
    </tr>
    <tr>
      <td class="col-1">
        <label>Password: </label>
      </td>
      <td>
        <input type="password" name="password" id=":password">
      </td>
    </tr>
  </table>
  <p><input class="submit" type="submit" value="Log In" id="submit"></p>
</form>

<p>
  <a href="/signup">Don't have an account? Create one here.</a>
</p>
