<h1>Fwitter Login</h1>

<form class="" action="/users/login" method="post">
  <p>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" value="">
  </p>

  <p>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" value="">
  </p>

  <p>
    <input type="submit" id="submit" name="" value="Log In">  
  </p>
</form>
