<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Please log into your account.</h1>

<form method="POST" action="/login">
  
  <h4>Username: <input type="text" name="username"></h4>
  <h4>Password: <input type="text" name="password"></h4>
  
  <input type="submit" value="Log In" id="log_in">
</form>