<h2>Please Sign In:</h2>

<form action='/login' method='post'>
  <label>Username:</label>
    <input type='text' name='user[username]'>
  <br><br>

  <label>Password:</label>
    <input type='password' name='user[password]'>
  <br><br>

  <input type='submit' value='Log In'>
</form>
