<% if @valid == false %>

<h3>Invalid Username or password, please re-enter username and password</h3>
<%end%>

<form method="post" action="/login">
	
	User Name: <input type="text" name="username" id="username"> 
	Password: <input type="password" name="password" id="password">

	<input type="submit" name="log in" value="submit">
</form>

<br><br>
If you do not have an account please sign up: <a href="/signup">Sign up</a>
