<body>
<h1>Login</h1>
<form action="/tweets" method="POST">

  		<input type="text" name="username" placeholder="Username:">
 		<input type="text" name="password" placeholder="Password:">

  		<input type="submit" value="Submit" id="submit">

  	</form>
</body>
  	<!-- loads the login page
    loads the tweets index after login
    does not let user view login page if already logged in  -->
