<h2>Login</h2>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="login">
</form>
