<h1>Log in:</h1>

<form method="post" action="/login">
  <label> Username: <input type="text" name="user[username]"></label>
  <br> <br>
  <label> Password: <input type="text" name="user[password]"></label>
  <br> <br>
  <input type="submit" name="log in">
</form>