<h2>Login</h2>
<br><br>


<form class="form-inline" action="/login" method="post">

  <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
  </div>

  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="password" name="password" class="form-control mb-2 mr-sm-2" id="password" placeholder="Password" required>

  <input type="submit" class="btn btn-primary mb-2" id="submit" value="Log In">
</form>
