<form method="post" action="/login">
  <p>Username:</p>
  <input type="text" name="username">
  <p>Password:</p>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="submit">
</form>
<p>Don't have an account? <a href="/signup">Sign up.</a></p>