<h2>Please Enter Your Login Information:</h2>

<form action="/login" method="POST">
  <label>Username: </label>
  <input type="text" name="username" placeholder="Username" id="username">
  <br>
  <label>Password: </label>
  <input type="password" name="password" placeholder="Password" id="password">
  <br>
  <button type="submit">submit</button>
</form>
