<h1>Welcome to Fwitter!</h1>
<h3>Please login using the form</h3>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <input type="submit" id="submit" value="Login">
</form>
