<h1>Login to your Fwitter account</h1>

<form action="/login" method="post">
  <label>Username:&ensp;</label>
  <input type="text" id="name" name="username">
  <br>
  <br>
  <label>Password:&ensp;</label>
  <input type="password" id="password" name="password">
  <br>
  <br>
  <input type="submit" id="submit" value="Log In">
</form>
