<h1>Log In</h1>

<form action="/login" method="post">

    <div class="col-xs-3">
        <h3><label for="username">Username:</label></h3>
        <input class="form-control" type="text" name="username" id="username">
        <h3><label for="password_digest">Password:</label></h3>
        <input class="form-control" type="password" name="password" id="password">
        <br>
        <input class="btn btn-primary" type="submit" id="submit">
    </div>

</form>
