<h1>LOGIN</h1>

<form action="/login" method="post">

<label>Username: </label><input type="text" name="username" id="username"></input><br>

<label>Password: </label><input type="text" name="password" id="password"></input><br>

<button type="submit" name="login" id="submit">Log me in!</button>
