<div class="container">
  <div class="page-canvas">
    <div class="signup-wrapper">
      <p><h1>Fwitter</h1></p>
      <p><h2>Welcome Back</h2></p>

      <div class="signup-box">
          <form action="/login" method="POST">
            <input type="text" name="username" class="form-control input-lg" placeholder="Username:">
            <input type="password" name="password" class="form-control input-lg" placeholder="Password:">
            <input type="submit" value="submit" class="btn btn-info btn-block">
          </form>
      </div>
    </div>
  </div>
</div>
