<div class="container" align='center' id='signup'>
  <h1 id="login_welcome">Login</h1>
    <form action='/login' method="POST">

      <label for='username'>Username</label>
      <input type="text" name='username'><br>

      <label for='password'>Password</label>
      <input type="text" name='password'><br>

      <input type="submit" id='submit' value="Login"><br>
    </form>
    <a href="/signup">New User?</a>
</div>
