<h1>Log In To Your Account or <a href="/signup">sign up</a></h1>

<form action="/login" method="post">
<h3>Email: <input type="text" name="user[email]"></h3>
<h3>Password: <input type="password" name="user[password]"></h3>
<input type="submit" value="Log In">
</form>
