<h2>Login</h2>

<form method="POST" action='/login'>

    <label for="username">Enter Username:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password"><br><br>

    <input id="submit" type="submit" value="Login">

</form>