<h2>FWITTER LOG IN</h2>
<form method="post" action="/login">

<input type="text" value="username" id="username" placeholder="Username:">
<input type="password" value="password" id="password" placeholder="Password:">

<input type="submit" value="submit">
</form>
