<html>
  <head>
    <meta charset="UTF-8" />
    <title> Log-in Page</title>
  </head>
<body>
  <h1>Log In to Fwitter</h1>
  
  <form action="/login" method="POST">
    
    <label for="username"> Username: </label>
    <input type="text" id="username" name="username"></br>
    
    <label for="password"> Password: </label> 
    <input type="text" id="password" name="password"></br>
    
    <input type="submit" value="Log In" id="submit">
    
  </form>
  
  <a href="/">Back to HomePage</a>
  
  </body>
</html> 