<h1>Log In Below:</h1>

<form action="/login" method="post">
    Please enter your username:
      <input type="text" name="username" id="username">
    Please enter your password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Log In" id="submit">
</form>
