<h1>Welcome! Please sign in to your Fwitter account below:</h1>

<form method="POST" action='/login'>
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">

  <br><br>

  <input type="submit" value="submit">

</form>
