<h1> Log In</h1>

<form action="/login" method="post">

    Username: <br><input type="text" name="username" id="username" required><br>
    Password <br><input type="password" name="password" id="password" required>
    <br>

    <input type="submit" id="submit" value="Sign Up">

</form>
