<h1>Log In Below:</h1>
<form action="/users" method="post">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Log In" id="login">
</form>