<form action="/tweets" method="post">

<label>User Name: </label>
<input type="text" name="username" value="">
<label>Email: </label>
<input type="text" name="email" value="">
<label>Password: </label>
<input type="text" name="password" value="">

<input type="submit" name="" value="">
</form>
