<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="/">fwitter</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="">Don't have an account? <strong>Create one.</strong></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="vertical-tweak">
			<div class="row">
				<div class="col-md-10 col-md-offset-7">
					<br>
					<form action="/login" method="post">
						<h3><strong>Please Sign in.</strong></h3>
						<input placeholder="Account Name" class="form-control" type="text" name="user_name">
						<br>
						<input placeholder="Password" class="form-control" type="password" name="user_pass">
						<br>
						<button class="btn btn-md btn-primary btn-block roundify"  type="submit"> Create Account</button>
					</form>
					<br>
				</div>
			</div>
	</div>
</div>