<h1>Welcome to Fwitter</h1>
    <h3>Log In Please</h3>

    <form action= "/login" method= "post">
      <input type= "text" name= "username">
      <input type= "text" name= "password">
      <input type= "submit" id= "submit" value= "Log In">
    </form>
