<form action="/login" method="post">
  <input type="text" name="username" placeholder="user name" required><br>
  <input type="password" name="password" placeholder="password" required><br>
  <input type="submit" title="submit" value="Log in">
</form>
