<h1>Login to Ftwitter</h1>
<h4>Your fellow coders await you...</h4>

<form method="POST" action="/login">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="submit" id="submit">
</form>

<p>Don't have and account? <a href="/signup">Click here to sign up.</a></p>