<!DOCTYPE html>
<html>
<head>
  <title>FWITTER</title>
</head>
  <body>
    <h1><label>Thank You for using Fwitter</label></h1>
    <h3><label><a href="/">HOME</a></label></h3>
    <h4><label>You are logged out, <%="#{@user.username}"%></label></h4>  
  </body>
</html>