<h1>Sign Up For Fwitter</h1>
<br>
<form method="post" action="/signup">
  <input type="text" id="username" name="username" placeholder="Username:"/>
  <br><br>
  <input type="text" id="email" name="email" placeholder="Email:"/>
  <br><br>
  <input type="password" id="password" name="password" placeholder="Password:"/>
  <br><br>
  <input type="submit" id="Sign Up" value="Sign Up"/>
</form>
