<h1>Signup for Fwitter</h1>
<form action="/signup" method="POST">
  <label>Username: <input type="text" name="username"></label>
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="password" name="password"></label>
  <input type="submit" id="submit" value="Signup">
</form>
