<h1>Signup</h1>

<form action="/signup" method="post">
    <div class="col-xs-3">
        <h3><label for="username">Username:</label></h3>
        <input class="form-control" type="text" name="username">
        <h3><label for="email">Email:</label></h3>
        <input class="form-control" type="text" name="email" id="email">
        <h3><label for="password">Password:</label></h3>
        <input class="form-control" type="password" name="password" id="password">
        <br>
        <input class="btn btn-primary" type="submit">
    </div>

</form>
