<h2>signup</h2>

<form method='post' action='/signup'>
    Username<input type='text' name='username'>
    Password<input type='text' name='password'>
    <input type='submit' value='Sign Up'>
</form>