<br>

<h2>Sign up for an account!</h2>
<br>

<div class="new_user">
  <h3>Create new user:</h3>
  <form method="post" action="/signup">
    <label>Username: <input type="text" name="user[username]" id="username" ></label><br></br>
    <label>Email: <input type="text" name="user[email]" id="email" ></label><br></br>
    <label>Password: <input type="password" name="user[password]" id="password" ></label><br></br>
    <input type="submit" value="Create new account">
  </form>
</div>
