<!--new user form-->
<h1> Sign up to Fwitter </h1>
  <form action="/signup" method="post">
    Enter Username: <input type="text" name="username" id="username">
    <br>
    <br>
    Enter Email: <input type="text" name="email" id="email">
    <br>
    <br>
    Enter Password: <input type="text" name="password" id="password">
    <br>
    <br>
    <input type="submit" name="Create Account" id="Create Account">
  </form>
