<% if flash[:error] %>
  <% flash[:error].each do |e| %>
    <p class="error message"><%= e + "." %></p>
  <% end %>
<% end %>

<h1>Sign Up</h1>

<form action='/signup' method='post'>
  Email: <input type='text' name='email'>
  <br></br>
  Username: <input type='text' name='username'>
  <br></br>
  Password: <input type='password' name='password'>
  <br></br>
  <input type='submit' value='Sign Up'>
</form>
