<h1>Signup for Fwitter</h1>

<% if flash.has?(:message) %>
  <p>
    <%= flash[:message] %>
  </p>
<% end %>

<form method="POST" action="/signup">
  <input type="text" name="username" id="username" placeholder="Username" /><br />
  <input type="text" name="email" id="email" placeholder="Email" /><br />
  <input type="password" name="password" id="password" placeholder="Create Password" /><br />
  <input type="submit" value="Signup" />
</form>
