<form method="post" action="/signup">
  name:<input type="text" name="username"></br>
  email:<input type="text" name="email"></br>
  password:<input type="password" name="password"></br>
  <input type="submit" value="create user">
</form>
