<% @title = "Fwitter Sign Up" %>

<form class = "vertical-space center" action = "/signup" method = "post">
    <input type = "text" name = "username" placeholder = "Username" required><br />
    <input type = "text" name = "email" placeholder = "Email" required><br />
    <input type = "password" name = "password" placeholder = "Password" required><br />
    <input type = "submit" value = "Sign Up">
</form>
<p class="center"><a href="/login">Log In</a></p>
