<h1>Signup here</h1>

<form class="login" action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>

<br></br>
<a href="/login">Login</a><br>
