<h3>Welcome, <%= current_user.username %></h3>
<p>Craft a <a href="/tweets/new">new tweet</a>!</p>
<ul><% current_user.tweets.each do |t| %>

    <li><%= t.content %></li>

<% end %></ul>

<p>Link to ALL <a href="/tweets">tweets</a></p>

<p> <a href="/logout">Log Out</a> </p>
