<h1><%= @user.username %> has <%= @tweets.count %> tweets:</h1>

<% @tweets.each do |tweet| %>
	<div><p><%= tweet %></p></div>
<% end %>

<a href="/logout">Log Out</a>

<form action="/logout" method="POST">
	<input type="submit" value="Log Out">
</form>
