<form>
        <label> <h3>User Name: <%=@username%> </h3> </label>
        <label> <h3>Email: <%= @email %> </h3> </label>

        <label> Create a Tweet:
        <a href="/tweets/<%=new%>"> <input type="submit" value= "New Tweet"> </input>
      </form>
