show.erb
<form>
        <label> <h3> User Name:<%=@user%> </h3> </label>

        <p><label> Create a Tweet: </label> <input type="submit" value= "New Tweet"> </input></p>


        <p><label> Edit a Tweet: </label> <input type="submit" value= "Editing Tweet"> </input></p>


        <p><label> Read a Tweet: </label> <input type="submit" value= "Show Tweet"> </input> </p>


      </form>
