<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Show User Tweets</title>
 </head>
 <body>
  <h1> Show User's Tweets
	<h2>User Name: <%=@user.name%></h1>
    <h3>Tweets:</h3>
    <ul>
      <% @user.tweets.each do |tweet| %>
        <li> <%= tweet.content %> </a></li>
      <% end %>
    </ul>
 </body>
</html>
