<h1>@<%= @user.username %>'s Page</h1>

<h2>Tweets</h2>
<% @user.tweets.order(id: :desc).each do |tweet| %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      "<%= tweet.content %>"
    </div>
  </div>
<% end %>