<h3>Tweet Index</h3>
<ol> <% @user.tweets.each do |tweet| %>
  <li>
    <a href="/users/<%= @user.id %>">
      <%= tweet.content %>
    </a>
  </li>
<% end %>
</ol>

<a href="/">Click here to go back to the homepage</a>
