<h1><%= @user.username %> Profile</h1>

<h3>Your Tweets</h3>
<%= "<p>It looks like you don't have any tweets yet. <a href='/tweets/new'>Post a tweet</a> to see it here.</p>" unless @user.tweets.size > 0 %>
<ul>
  <% @user.tweets.each do |tweet| %>
    <li><a href= '/tweets/<%=tweet.id%>'>"<%= tweet.content %>"</a></li><br>
  <% end %>
</ul>