<h1>Welcome, <%= @user.username %></h1>
  <h2>Your Tweets:</h2>
  <ul>
    <% @user.tweets.each do |t| %>
      <li><%= t.content %></li>
    <% end %>
  </ul>
<a href="/tweets/new">Create a new tweet</a><br>
<a href="/logout">Log Out</a>