<h3> User tweets: <%= @user.username %> </h3>

<button><a href="/tweets">Back to main page</a> </button>

<% @user.tweets.each do |tweet| %>
  <div>
    <p><%= tweet.content %></p>
  </div>
<% end %>
