<br><br><br><br>

<div align="middle">
<h1><%=@user.username%></h1>
</div>

<nav>
 <a href="/logout">Logout</a>
 <a href="/tweets/new">New Tweet</a>
</nav>

<div align="middle">
 <%@user.tweets.each do |tweet|%>
 <p><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></p>
 <%end%>
  

</div>