<h1><%= @user.username.capitalize %></h1>

<ul>
<% @user.tweets.each do |tweet|%>
  <li><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></li>
<% end %>
</ul>

<p><a href="/tweets">See all tweets.</a></p>
<p><a href="/logout">Click here to logout.</a></p>