<h1><a href="/users/<%= @user.username %>"><%= @user.username %></a>'s Tweets</h1><br>

<ul>
  <% @user.tweets.each do |tweet| %>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
  <% end %>
</ul>

<h4><a href="/tweets">Return to Index</a></h4>
<h4><a href="/logout">Logout</a></h4>
