show.erb
<form>
        <label> <h3> User Name:<%=@username%> </h3> </label>

        <%@users.tweet.each do |user| %>
        Tweet:<%=user.tweet%>

        <p><label> Create a Tweet: </label> <input type="submit" value= "New Tweet"> </input></p>
        <p><label> Edit a Tweet: </label> <input type="submit" value= "Editing Tweet"> </input></p>
        <p><label> Read a Tweet: </label> <input type="submit" value= "Show Tweet"> </input> </p>

        <input type="submit" name ="submit" value="Submit">

      </form>
