<h1><%=current_user.username%></h1>
<h2> Tweets: </h2>
<% current_user.tweets.each do |tweet| %>
	<p><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></p>
<% end %>


<h2><a href="/tweets/new">Make another tweet</a></h2>
<h2><a href="/tweets">Tweets Index</a></h2>

<a href="/logout">Logout</a>