<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<h1>Your Tweets, <%= @user.username %></h1>

<%= @user.tweets.each do |tweet| %>
<% binding.pry %>
<p><%= tweet.content %></p><br><br>
<% end %>
