<h3>Welcome to your tweets, <%= @user.username %></h3>

<% Tweet.all.each do |tweet| %>
  <% if tweet.user_id == @user.id %></a>
    <a href="/tweets/<%=tweet.id%>"><%= tweet.content %></a>
  <% end %>
<% end %>
