<<<<<<< HEAD
show.erb
=======
<%= current_user.username%>'s Tweets

<% @tweets.each do |tweet| %>
	<div>
<a href="/tweets/<%=tweet.id%>/edit"><%= tweet.content %></a>
	</div>
<%end%>
>>>>>>> af90a5abbf0fb76163fe5effb8517018d1b7a56a
