<h3>User Name: <%= @user.username %></h3>
<h3>Your Tweets: </h3>
<ol> <% @user.tweets.each do |tweet| %>
  <li>
      <%= tweet.content %>
  </li>
<% end %>
</ol>




<small><a href="/tweets">Tweet Index</a></small><br></br>
