<h1>Tweets by <%= @user.username %></h1>

<ul>
<% @user.tweets.all.each do |tweet| %>
    <li><%= tweet.id %> - <%= tweet.content %></li>
<% end %>
</ul>

<a href="/logout"><button>Log Out</button></a>