<form>
        <label> <h3> User Name:<%=@user.username%> </h3> </label>

        <label> Create a Tweet: </label>
        <input type="submit" value= "New Tweet"> </input>

        <label> Editing a Tweet: </label>
        <input type="submit" value= "Editing"

        <label> Read a Tweet: </label>
        <input type="submit" value= "Read"> </input>


      </form>
