show.erb

<p> Here are your tweets, <%= @user %>
<% @user.tweets.each do |tweet| %>
<div>
<%= tweet.content %>
</div>
<% end %>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">

<input type="submit" value="Delete Tweet">
