<br>
<%if @tweets.empty?%>
  <h4><font color="grey">D'oh! You don't have any tweets :-(</font></h4>
<%else%>
  <%@tweets.each.with_index(1) do |tweet,i|%>
    <h4><font color="grey"><%="#{i}"%>. <a href ='/tweets/<%=tweet.id%>'><%=tweet.content%></a></font></h4>
  <%end%>
<%end%>
<br>
<div>
<a href='/tweets/new'>Create</a> | <a href='/tweets'>TweetFeed</a> | <a href="/logout">Logout</a>
</div>
