<h3>Welcome, <%= @user.username %></h3>

<h4>Your Tweets:</h4>
<% @user.tweets.each do |tweet| %>
  <ul>
    <li>
      <a href="/tweets/<%= tweet.id %> "><%= tweet.content %></a>
    </li>
  </ul>
<% end %>

<a href="/tweets">View All Tweets</a>
<br>
<a href="/tweets/new">Create a New Tweet</a>
<br>
<a href="/">Return Home</a>
<br><br>
<form class="" action="/logout" method="get">
  <input type="submit" name="" value="Logout">
</form>
