<h2><%=@user.username%></h2>
<a href="/logout">Logout</a>
<p><a href="/tweets">See all the tweets</a></p>

<p><a href="/tweets/new" name="submit">Create a new tweet</a></p>
<br>


<%if @tweets.empty?%>
  <p>You currently have no tweet.</p>
<%else%>
  <h3>All the tweets you have created</h3>
  <%@tweets.each do |tweet|%>
    <li><%=tweet.content%> <a href="/tweets/<%=tweet.id%>">tweet details</a></li>
  <% end %>
<%end%>
