<h2>Hello, <%=@user.username%></h2>

<p>What would you like to do?</p>

<p><a href="/tweets">See Tweets</a></p>
<p><a href="/tweets/new">Create a Tweet</a></p>
</br>
<p><a href="/logout">Logout</a></p>