<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% @user.tweets.each do |tweet| %>
        <h3> <%= tweet.content %> </h3>
        <h3> -------------------- </h3>
    <% end %>

  </body>
</html>
