<% @user.tweets.each do |tweet| %>
<<<<<<< HEAD
  <p>tweeting! <%= tweet.content %></p>
<% end %>
=======
  <p>tweeting!</p> <%= tweet.content %>
<% end %> 
>>>>>>> 36e95948dd71620eafc163333d4ad3d98c4c88a7
