<a href="/tweets/new">New Tweet</a>
<h2>Your tweets:</h2>

<% @user.tweets.each do |tweet| %>
  <p><b><%= tweet.user.username %></b>: <a href="/tweets/<%= tweet.id %>"
    ><%= tweet.content %></a></p>
<% end %>
