<h1>Sign Up</h1>
<em>You too can have your own <a href="/">Fwitter</a> account!</em>
<form action="/signup" method="post">
  <p><label for="username">Username:</label><input type="text" name="username" id="username"></p>
  <p><label for="email">Email:</label><input type="email" name="email" id="email"></p>
  <p><label for="password">Password:</label><input type="password" name="password" id="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>