<h1>Sign Up</h1>
<form action="/registrations" method="post">
  <h3>Name: <input type="text" name="user[username]"></input></h3>
  <h3>Email: <input type="text" name="user[email]"></input></h3>
  <h3>Password: <input type="text" name="user[password]"></input></h3>
  <input type="submit" value="Submit"></input>
</form>
