<h1>Sign up for Fwitter</h1>

<form action="/signup" method="POST">
<label for="username">Username</label>
<input type="text" name="username" id="username"><br>

<label for="email_address">Email Address</label>
<input type="text" name="email" id="email_address"><br>

<label for="password">Password</label>
<input type="password" name="password" id="password"><br>

<input type="submit" value="Sign up">
</form>