<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <label for="Username">Username:</label>
	<input type="text" name="username" placeholder="Username:">
  <label for="Email">Email:</label>
  <input type="text" name="email" placeholder="Email:">
  <label for="Password">Password:</label>
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
</form>
