<form method='POST' action='/signup'>
  Username: <input type="text" id='user_name' name='user[name]'><br></br>
  Email:<input type="text" id='email' name='user[email]'><br></br>
  Password:<input type="text" name="password" id="[user]password"><br></br>
  <input type="submit" value="Signup">
</form>
