
<form action="/signup" method="POST">
    <label>Email</label>
    <input type="text" name="user[email]"><br>
    <label>Username</label>
    <input type="text" name="user[username]"><br>

    <label>Password</label>
    <input type="text" name="user[password]">

    <input type="submit" value="Signup">
</form>