<div class="ui container">
<h1>Sign Up!</h1>
  <form action="/signup" method="post">
    <div class="ui small labeled input">
      <div class="ui label">Username</div>
      <input type="text" id="username" name="username">
    </div>

    <br></br>

    <div class="ui small labeled input">
      <div class="ui label">Email</div>
      <input type="text" id="email" name="email">
    </div>

    <br></br>

    <div class="ui small labeled input">
      <div class="ui label">Password</div>
      <input type="text" id="password" name="password">
    </div>

    <br></br>

    <input class="ui blue button" type="submit" value="Sign Up">
  </form>
</div>

