<h4>Please Fill Out This Form To Signup</h4>
<form class="" action="/signup" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <button type="submit" value="Sign Up">Sign Up</button>
</form>
