<h1>Signup Page</h1>

<form action="/signup" method="post">
  <label>Username: </label>
  <input type="text" name="username" required>
  <br></br>
  <label>Email: </label>
  <input type="text" name="email" required>
  <br></br>
  <label>Password: </label>
  <input type="text" name="password" required>
  <br></br>

  <input type="submit" value="Create Your New Account">
</form>
