<h2>Signup for Fwitter</h2>
<form class="" action="/signup" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" value="">

  <label for="">Email:</label>
  <input type="text" name="email" value="">

  <label for="">Password:</label>
  <input type="text" name="password" value="">

  <br><br>

  <input type="submit" value="Sign up">

</form>
