<label>Sign Up Below:</label>
<form method="post" action="/users/signup">
  <label>Username:</label>
  <input type "text" name="user[name]"  id="user_name">
  <br></br>
  <label>Enter a valid email address:</label>
  <input type="text" name="user[email]"  id="user_email">
  <br></br>
  <label>Create a password to signup:</label>
  <input type="name" name="user[password]"  id="user_password">
  <br></br>
  <label>Click to Signup:</label>
  <input type="submit"  value="Sign up">
</form>
