<h1>Sign Up For Fwitter!</h1>
<form action="/signup" method="post">
	<input type="text" name="username" id="username" value="Username">
	<input type="text" name="email" id="email" value="Email">
	<input type="text" name="password" id="password" value="password">
	<input type="submit" name="save" value="Sign Up!">
</form>