<h1>Sign Up</h1>
<br></br>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" id="username"></p>
  <p>Email: <input type="text" name="email" id="email"></p>
  <p>Password: <input type="text" name="password" id="password"></p>
  <input type="submit" value="Sign up!" id="signup">
</form>