<h3>Sign up for an account below:</h3>

<form action='/signup' method="POST">
  <label>Username:</label>
  <br>
  <br>
  <input type="text" name="username" id="username" placeholder="Enter username">
  <br>
  <br>
  <label>Email:</label>
  <br>
  <br>

  <input type="text" name="email" id="email" placeholder="Enter email">
 <br>
  <br>
  <label>Password:</label>

 <br>
  <br>
  <input type="password" name="password" id="password" placeholder="Enter password">
  
  <input type="submit" value="Sign Up">


</form>
