<!-- 3 fields, POST to...
controller redirects to twitter index  -->

<form action="/users/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" value="username">

  <label for="email">Email</label>
  <input type="text" name="email" value="email">

  <label for="password">Password</label>
  <input type="text" name="password" value="password">

  <input type="submit" value="signup">
</form>
