<h1>Signup for Fwitter</h1>

<form method="POST" action="/signup">

Username <input type="text" name="user[username]">
Email <input type="email" name="user[email]">
Password <input type="password" name="user[password]">

<input type="submit" value="Signup">

</form>