
<form action ="/signup" method="post">

  <h2> Sign Up </h2>

  <p><label> <h3> Please sign up </h3> </p> </label> </p>
    <p><label><h4> Username: </label> <input type="text" name=":username" id="username"> </h4> </p>
    <p><label><h4> email: </label> <input type="text" name=":email" id="email"> </h4> </P>
    <p><label><h4> Password: </label> <input type="text" name=":password" id="password"> </h4> </P>

<input type="submit" value="Submit">

</form>
