<h1>Welcome to the world of Fwitter!</h1>

<form action="/signup" method="post">
<label for="username">Username:</label>
<input type="text" name="username" placeholder="Username:">
<label for="email">Email:</label>
<input type="text" name="email" placeholder="Email:">
<label for="password">Password:</label>
<input type="text" name="password" placeholder="Password: (hidden)">

<input type="submit" value="submit">

</form>