<h1>Create an Account</h1>
<form action= "/signup" method= "POST">
  <label>User Name:</label>
  <input type="text" name="username" id="username" placeholder="username"><br>
  <label>email:</label>
  <input type="text" name="email" id="email" placeholder="email"><br>
  <label>Password:</label>
  <input type="text" name="password" id="password" placeholder="password"><br>
   <input type="submit" value="Sign Up">
</form>