<h3>Sign Up:</h3>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="">Username</input>
  <input type="text" name="email" value="">Email</input>
  <input type="text" name="password" value="">Password</input>
  <input type="submit" name="" value="Submit">
</form>
