<h1>Fwitter - Signup</h1>

<form method="POST" action="/signup">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><label for="username">Username</label></div>
    <div class="col-xs-12 col-col-sm-12 col-md-8 col-lg-8"><input type="text" name="username" placeholder="Username"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><label for="email">Email</label></div>
    <div class="col-xs-12 col-col-sm-12 col-md-8 col-lg-8"><input type="email" name="email" placeholder="Email"></div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><label for="password">Password</label></div>
    <div class="col-xs-12 col-col-sm-12 col-md-8 col-lg-8"><input type="password" name="password" placeholder="Password"></div>
  </div> 
  
  <br>
  <h3><input type="submit" value="Signup" class="submit_btn"></h3>

</form>