<h1>Signup</h1>

<form action="/signup" method="POST">
	<p><input type="text" name="username" placeholder="username"></p>
	<p><input type="text" name="email" placeholder="email"></p>
	<p><input type="password" name="password" placeholder="password"></p>
	<input type="submit" name="Sign Up">
</form>