<h1>Make an account or <a href="/users/login">log in</a></h1> 


<form action="/users/signup" method="post">
<h3>Username: <input type="text" name="user[username]"></h3>
<h3>Email: <input type="text" name="user[email]"></h3>
<h3>Password: <input type="password" name="user[password]"></h3>
<input type="submit" value="Sign Up">
</form>
