<h1>Make an account or <a href="/login">log in</a></h1>


<form action="/signup" method="post">
<h3><input type="text" name="user[username]" placeholder="Username"></h3>
<h3><input type="text" name="user[email]"placeholder="Email"></h3>
<h3><input type="password" name="user[password]" placeholder="Password"></h3>
<input type="submit" value="Sign Up">
</form>
