<h1>Sign Up For Fwitter!</h1>

<form action="/signup" method="POST">
  <p>Username:</p>
  <input type="text" name="username">

  <br><br>
  <p>Email Address:</p>
  <input type="email" name="email">

  <br><br>
  <p>Password:</p>
  <input type="password" name="password">

  <br><br>
  <input type="Submit" value="Sign Up!">


</form>