<h1>Enter your personal data:</h1>
<% if flash.has?(:signup_errors) %>
<p class="flash"><%= flash[:signup_errors] %></p>
<% end %>
<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="Username"><br>
  <input type="email" name="user[email]" placeholder="Email"><br>
  <input type="password" name="user[password]" placeholder="Password"><br>
  <input type=submit name="signup" value="Sign Up" ><br>
</form>
