
<form action ="/users" method="post">

<h2> Please Sign Up </h2>

  <p><label> <h3> Signup </h3> <label></p>
    <p><label><h4> Username: <label> <input type="string" name=":username" id="username.name"> </h4> </label></p>
    <p><label><h4> email: <label> <input type="string" name=":email" id="email"> </h4> </label></P>
    <p><label><h4> Password: <label> <input type="string" name=":password" id="password"> </h4> </label></P>

<input type="submit" value="Submit">

</form>
