<h1> Signup for an account </h1>

<form action="/signup" method="POST">
  <label> Email: </label>
  <input type="text" name="user[email]" id="user_email">
  <br></br>

  <label> Username: </label>
  <input type="text" name="user[name]" id="user_name">
  <br></br>

  <label> Password: </label>
  <input type="text" name="user[password]" id="user_password">
  <br></br>
  
  <input type="submit" value="Signup">
</form>
