<p>signup page</p>
<form method="POST" action="/signup">
<p><input type="text" name="username">Username</p>
<p><input type="text" name="password">Password</p>
<p><input type="text" name="email">email</p>
<p><input type="submit"></p>
</form>