<center>
  <h1>Sign Up</h1>

  <br><br>

  <form action="/signup" method="POST">

    <label>Username:<br><input type="text" name="username"></label><br>
    <label>Email:<br><input type="text" name="email"></label><br>
    <label>Password:<br><input type="password" name="password"></label><br>

    <br><br>

    <input type="submit" value="Create">
  </form>
</center>
