<h3>Sign Up for Your New Fwitter Account</h3>

<form action="/signup" method="post">
  Username: <br>
  <input type="text" name="username" Placeholder="Username"><br>
  Email Address: <br>
  <input type="text" name="email" Placeholder="Email"><br>
  Password: <br>
  <input type="password" name="password" Placeholder="Password (hidden)"><br>
  <input type="submit" value="submit">

</form>
