<h1>Please sign up to access the site</h1>

#Info gets sent to POST '/signup' handler in the user controller
#params hash will have username, email and password
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit" id='submit'>
</form>