<div class="body-content">
  <h1>Create an account</h1>

  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username:" class="space"><br>
    <input type="text" name="email" placeholder="Email:" class="space"><br>
    <input type="password" name="password" placeholder="Password:" class="space"><br><br>
    <input type="submit" class="btn btn-default btn-md">
  </form>
</div>