<!DOCTYPE html>
<html>
<head>
  <title>Users Tweets</title>
</head>
<body>
    All of your tweets!! 

    <% @user.tweets.each do |tweet| %>  


    <%= tweet.content %>

    <%end %>



</body>
</html>