<h2>Sign Up Form</h2>

<form method="post" action="/registrations">
  <input type="text" name="username" required>
  <input type="password" name="password" required>
  <input type="email" name="email" required>

  <input type="submit" name="signup" value="Sign Up">
</form>
