<br>
<form method="POST" action='/signup'>
  <div>
    <p><font color="blue">Username: </font><input type="text" name="username"></p>
    <p><font color="blue">Email: </font><input type="text" name="email"></p>
    <p><font color="blue">Password: </font><input type="text" name="password"></p>
  </div>
  <input type="submit" value="Sign Up">
</form>
