<!DOCTYPE html>
<html>
<head>
	<title>Create a Fweet!</title>
</head>
<body>
	<form method="POST" action ="/tweets">
		<h1>Let's make a Fweet!</h1>

		<input type="text_area" name = "content" id="content" >
		<input type="submit" id="submit">

	</form>

</body>
</html>