<h1> Welcome to Fwitter</1>

<!-- get here from /, links to login or signup  -->

<!-- link to login, where is login? -->
  <a href="/sessions/login">Login</a>


  <!-- link to signup -->
  <a href="/registrations/signup">Sign Up</a>
