<h1> Welcome to Fwitter</h1>

<!-- get here from /, links to login or signup  -->

<!-- link to login, where is login? -->
<h3>  <a href="/sessions/login">Login</a> </h3>


  <!-- link to signup -->
  <h3>  <a href="/registrations/signup">Sign Up</a> </h3>
