<h1>Welcome to Fwitter</h1>

<form action="/signup" method="get">
<input type="submit" id="forward_to_signup" value="Signup">
</form>
<br><br>
<form action="/login" method="get">
<input type="submit" id="forward_to_login" value="Login">
</form>
