<h1>Log in below:</h1>
<h2>Username:</h2>
<form action="/login" method="post">
  <input type="text" name="[user]username" id="username" value="">
  <input type="password" name="[user]password" id="password" value="">
  <input type="submit" name="submit" value="submit">
</form>

<h2>Don't have an account? Sign up for one here.</h2><button type="button" name="button"><a href="/signup">Sign Up</a></button>
