<h2>Edit Fweet</h2>

<form action="/tweets/<%=@tweet.id%>/edit" method="post">
   <input id="hidden" type="hidden" name="_method" value="patch">

   <label for="content">What do you want to say?</label>
   <input type="text" name="tweet[content]" id="tweet_content" value="<%=@tweet.content%>" required>

  <input type="submit" value="Edit Tweet">
</form>
