<h2>twitter index</h2>
<h2>Welcome, <%= @user.username %></h2>
<h3>Fweets: </h3>
<%@tweets.each do |tweet|%>
<p><%=tweet.content%></p>
<% end %>
<br><br><br><br>


<form action="/logout" method="post">
<input type="submit" name="logout" value="Log Out">
</form>
