<h2>You need to fill in ALL fields!!</h2>
<h3>Try Again</h3>

<h1>Sign up!</h1>

<form action='/signup 'method='POST'>

  <label>Username:</label>
  <input  type="text" name="username">
  <br>

  <label>Email:</label>
  <input  type="text" name="email">
  <br>

  <label>Password:</label>
  <input  type="text" name="password">
  <br></br>

  <input type="submit" value="Signup">

</form>
