<form method="post" action="/signup">
	<h3>Username: <input id="username" type="text" name="username"></h3>
	<h3>Email: <input type="text" id="email" name="email"></h3>
	<h3>password: <input type="text" id="password" name="password"></h3>

	<input type="submit" value="Create New Landmark">
</form>