<label>Signup!</label><br>

<form action="/signup" method="POST">
  Username:<input type="text" name="username"></input>(required)<br>
  Email:<input type="text" name="email"></input>(required)<br>
  Password:<input type="text" name="password"></input>(required)<br>
  <input type="submit" value="Sign Up">
</form>
