<h1>Edit Your Fweet</h1>
<form action='/tweets/<%=@tweet.id%>' method="POST">
<h3><label>Your Fweet: </label></h3> 
<input id="hidden" type="hidden" name="_method" value="patch">
<h3><input type="text" name="content" value="<%= @tweet.content %>"></input></h3>
<input type="submit" id="submit" value="Submit"></input>
</form>