<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/posts" method="post" class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-sm-9">
                          <input list="categories" name="category" placeholder="Category:">
                            <datalist name="category">
                              <% Category.all.each do |cat| %>
                                <option value="<%= cat.name %>">
                              <%end%>
                            </datalist>

                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-sm-9">
                              <input type="text" name="title" class="form-control" id="title" placeholder="Title:" required>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-sm-9">
                              <textarea rows="10" cols="30" name="content" class="form-control" id="content"  required></textarea>
                          </div>
                      </div>

                      <div class="form-group last">
                          <div class="col-sm-offset-3 col-sm-9">
                              <button type="submit" class="btn btn-success btn-sm">
                                  Post</button>

                          </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
