<h3>Edit Tweet</h3>

	<form method="POST" action="/tweets/<%=@tweet.id%>">
		<input id="hidden" type="hidden" name="_method" value="PATCH">
		<input type="text" name="content" value="<%= @tweet.content %>">
		<input type="submit" id="submit" value="Submit">

	</form>

  <form method="POST" action="/tweets/<%=@tweet.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
        <a>Delete Tweet<input type="submit" value="Delete Tweet" id="Delete Tweet"></a>

  </form>
