<form method="POST" action='/login'>
  <p><input type="text" id="username" name="username">Username </input></p>
  <p><input type="text" id="email" name="email">Email </input></p>
  <p><input type="password" id="password" name="password">Password </input></p>
  <input id="submit" type="submit" value="Login!">
</form>
