<h1>Create User</h1>
<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username" value="username" id="username"></br>

  <label>Email:</label>
  <input type="text" name="email" value="email" id="email"></br>

  <label>Password:</label>
  <input type="text" name="password" value="password">

  <input type="submit" name="submit" value="submit">
  <br></br>

</form>
