
<form action="/submit_tweet" method="post">
<textarea rows="2" cols="40" name="content" id="content"  style="resize:none" required="">Make a Tweet!</textarea>
<input type="submit" value="submit" id="submit" />
</form>
