<h2>oops - there seems to be a problem.</h2>
<h4>Are you logged in? Please login with valid username and password.</h4>
<h4>Remember, you can only modify tweets that you created!</h4>
<a class="user-button" href="/">Return to fwittter Home Page</a>
<a class="user-button" href="/login">Return to Login Page</a>
