<html>
  <head>
    <meta charset="UTF-8">
    <title>Failure</title>
  </head>
  <body>
    <h1>Fwitter Error</h1>
    <p>It seems there was a problem. Please return to the <a href="/">homepage</a> and try again.</p>
  </body>
</html>
