<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="<%= url('/application.css') %>" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="./public/stylesheets/application.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Fwitter</title>
  </head>
  <body>
    <h2> Welcome to Fwitter </h2>

  </body>
</html>
