<% if Helpers.is_logged_in?(session) %>
  <h3>Welcome <%= Helpers.current_user(session).username %></h3>
  <p>
    <a href="/tweet">New Tweet</a><br>
    <a href="/tweets">View Tweets</a><br>
    
    <a href="/logout">Log Out</a>
  </p>
<% else %>
  <p>
    Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
  </p>
<% end %>
