<h1>Welcome to Flatiron Fwitter Homepage</h1>
<br></br>
<h3>Please sign up or log in to access your Fwitter page</h3>
<h3>Click below to Signup</h3>
<a href="/signup">Sign Up</a>
<br></br>
<h3>Click below to Login In</h3>
<a href="/login">Log In</a>
