<h1>Welcome to Fwitter!</h1>

<p>Fwitter is a place to instantly share what's happening right now,</p>
<p>and keep tabs on what's happening everywhere else in the world.</p>

<p><a href="/signup">Sign up</a> or <a href="/login">Log in</a> to join the conversation!</p>