

<h1>Welcome to Fwitter!</h1>



<a href="/signup" class="btn btn-outline-info btn-primary btn-primary:hover">Sign Up</a>
<a href="/login" class="btn btn-outline-info btn-primary btn-primary:hover">Log In</a>
