<!--start jumbotron-->
<div class="jumbotron">
   <h1>Welcome to Fwitter</h1>
   <p>A social network that allows users to send and read short 140-character messages.</p>
   <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a></p>
</div>
