<div class="jumbotron">
<h1>Welcome to Fwitter!</h3>
<p>Flatiron Twitter, aka "Fwitter", is about to blow your mind! Click the buttons above to Sign Up or Log in!</p>

<a class="btn btn-primary" href="/tweets">Jump to Recent Fweets</a>
