<h1>Welcome to In A Flash</h1>

<form action="/login" method="POST" >
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="submit">
</form>
