<h1>Welcome to Fwitter</h1>

<form action="/login" method="post">
  <p>Log in to your account:</p>
  <p>username: <input type="text" name="username" /></p>
  <p>email: <input type="text" name="email" /></p>
  <p>password: <input type="text" name="password" /></p>
  <p><a href="/signup">Don't have account? Sign up!</a></p>
  <input type="submit" name="Log In" value="Log In" />
</form>
