<h1>Welcome to Fwitter</h1>

<p>Please Sign In or Sign Up below:</p>

<nav>
  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %></p>
    &nbsp&nbsp&nbsp
    <a href="/tweets/new"><button>Create Tweet</button></a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/logout"><button>Log Out</button></a>
  <% else %>
    &nbsp&nbsp&nbsp&nbsp
    <a href="/signup"><button>Sign Up</button></a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/login"><button>Sign In</button></a>
  <% end %>

</nav>
