<h1>Welcome to Fwitter</h1>

<h2>Connect with your friends — and other fascinating people. <br>
  Get in-the-moment updates on the things that interest you.  <br>
  And watch events unfold, in real time, from every angle.</h2>

<h3>Already a member?</h3>
  <a href="/users/login">Login</a><br>

<h3>Need to signup? No problem</h3>
  <a href="/users/signup">Sign Up</a><br>
