You are at the beginning

<form method="post" action="/login">

    <label>Username: </label><input type="text" name="username" id="name" required>
    <label>Password: </label><input type="password" name="password" id="password" required>

    <input type="submit" value="submit">
</form>