<h1>Welcome, Friend!</h1>


<!-- have login and signup links here -->
<a href="/login">Log In Here</a>
<a href="/signup">Sign Up Here</a>

<!-- <form action="/signup" method="POST">
  <input type="submit" value="Sign Up">
</form> -->
