<!-- add the Signup link to the home page -->
<!-- # link to both a login page and signup page -->
<h1>Welcome to Fwitter</h1>
<h4>Please sign up or log in</h4>
<a href="/signup">Sign Up</a> |
<a href="/login">Log In</a>
