
<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>


<!--You'll want to create a view that will eventually link to both a login page and signup page. The homepage should respond to a GET request to /.-->