<div class="container">
  <div class="page-canvas">
      <div class="home-wrapper">
       <p><h1>Welcome to Fwitter</h1></p>
       <p><h2>See what’s happening right now.</h2></p>
       <p><h3>Find community, conversation and inspiration about the things you love.</h3></p>
       <div class="home-group">
       <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a></p> or <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a></p></div>
      </div>
    </div>
  </div>
</div>