<body style="background-color:powderblue;">
<h1><font color="blue">Welcome to Fwitter!</font></h1>

<h3>Join Fwitter today.</h3>

<p><a href='/signup'>Sign Up</a></p>

<p><a href='/login'>Log In</a></p>
