
<style media="screen">
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #1da1f2;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
}
</style>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Fwitter</h1>
    <p class="lead">Where we care about what you have to say..</p>
  </div>
</div>
