<center><h1>Welcome to Fwitter</h1></center>

<p><h2>Have an account already? Click <a href="/login">here</a> to login</p>

<p>Don't have an account? Click <a href="/signup">here</a> to sign-up</p></h2>
