<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter!</h1>
    <p>Have an account? Proceed to
    <a href="/login">Login</a>
    </p>
    <p> OR </p>
    <p> Don't have an account?
    <a href="/signup">Signup</a> is easy!
  </p>

  </body>
</html>
