<h1>Welcome to Flatiron's Twitter - Fwitter!</h1>
<br>
<!--go here for button styling tags: 
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp>-->

<!--I used buttons here to practice html-->
<h3>Click the Login button below if you have an existing account.</h3>
<button type="button">
  <h2><a href="/login">Login</a></h2>
</button><br><br>

<h3>Click the Signup button below if you want to create a new account.</h3>
<button type="button">
  <h2><a href="/signup">Signup</a></h2>
</button>