<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

<h1> Welcome to Fwitter! </h1>
<br> </br>
 <a href="/signup"><h3> <label> Sign UP <label> </a> </h3>
<br> </br>
<a href="/login"><h3> <label> Login <label>  </a> </h3>
</div>

</body>
</html>
