<h2>Please login or create an account below:</h2>

<!--<a href="/login">Login</a> 
<a href="/signup">Create an account</a> -->

<button onclick="window.location.href = '/login';">Login</button>
<button onclick="window.location.href = '/signup';">Create an account</button>