<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Fwitter</title>
</head>
<body>
  <h1>Welcome to Fwitter</h1>
  <a href="/login"><input type="button" value="Log In"></a>
  <a href="/signup"><input type="button" value="Sign Up"></a>
</body>
</html>
