<header>
  <div style="text-align: right">
    <!-- if the user is currently logged in, they can logout -->
    <% if session[:user_id] != nil %>
      <a href="/tweets"> Create Tweet </a>
      <a href="/logout"> Log Out </a>
      <p>Welcome, <%=current_user.username %></p>
    <!-- If the user is not logged in, they can sign in or create an account -->
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    <%end%>
  </div>
</header>

<div style="text-align: center">
  <h2>Welcome to Fwitter</h2>
</div>
