<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fwitter Homepage</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>

  <h1>Welcome to Fwitter</h1>

  <ul>
    <h4>Please log in or sign up to access your fwitter account</h4>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
 </body>
</html>
