<h1>Welcome to Fwitter</h1>
<% if logged_in? %>
  <h2><a href="/tweets/new">Click To Create New Tweet</a></h2>
  <h2><a href="/tweets">Click To View Tweets</a></h2>
  <h2><a href="/logout">Click To Log Out</a></h2>
<% else %>
  <h2><a href="/signup">Click To Sign Up</a></h2>
  <br></br>
  <h3>Or</h3>
  <br></br>
  <h2><a href="/login">Click To Log In</a></h2>
<% end %>
