<h1>Welcome to Fwitter!</h1>
<h1>Welcome, index</h1>
<a href="/login"><button type="button" name="button"><h1>Login</h1></button></a>
<a href="/signup"><button type="button" name="button"><h1>Signup</h1></button></a>
