<%if logged_in? == false%>
<h2>Welcome to Fwitter</h2>
<a href="/login">Sign In</a>
<a href="/signup">Sign Up</a>
<% else %>
<%Tweet.all.each do |tweet|%>
	<a href=""><%=tweet.content%></a>
	<%end%>
<%end%>