<!DOCTYPE html>
<html>
<head></head>
  <body>
      <h1>Welcome to Fwitter !!!!!</h1>
      <h4>If this is your first time, Sign Up Below!</h4>
          <h6><a href="/signup"> SIGN UP </a></h6>
      <h4> If you have been here before, Log In Below!</h4>
          <h6><a href="login"> LOG IN </a></h6>
  </body>
</html>
