<div class="container">
  <h1>Welcome to Fwitter!</h1>
  
  </br>
  <div class="span6" style="text-align: right">


    <h3>What's This?</h3>
  	<p>Add something, homie.</p>
    </br>
    </br>

    <h3>Another confusing thing.</h3>
    <p>That shit.</p>
  </div>
  <div class="span4">
  </br>
  </br>
  </br>
    
  </div>
</div>