<h1>Welcome to Fwitter!</h1>
<h2>In order to use this app, you must be logged in.</h2>
<h3>Please choose one of the following:</h3>
<h4><a href="/signup">Sign Up</a></h4>
<h4><a href="/login">Log In</a></h4>