<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>Welcome to Fwitter</h1>
  Not a member yet? Sign up today <a href="/signup"><button>Sign Up</button></a><br><br>
  Already joined? <a href="/login"><button>Login here</button></a>
</body>
</html>