<h1>Welcome to Fwitter</h1>
<h2>The Flatiron Twitter</h2>
<h4>If this is your first time using Fwitter, click <a href="/signup">here</a> to signup. </h4>
<h4>Otherwise, WELCOME BACK!</h4><h2><a href="/login">LOG IN</a></h2>