<body>
  <div class="container">
      <div class="header clearfix">
        
        <h3 class="text-muted">Flatiron Hero</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to Fwitter</h1>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
      </div>

    </div>

      <footer class="footer">
        <p>&copy; 2017 Havick Development LLC</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewpo
</body>
