<h1>Welcome to Fwitter</h1>

<form>
<input type="button" value="Member Log In" onclick="window.location.href = '/login'"/>
<input type="button" value="Sign Up" onclick="window.location.href = '/signup'"/>
</form>
