<h1>Welcome to Fwitter!</h1>
<h3>you are seeing this dialogue because you aren't on a personal account</h3>
<h3><a href="/login">log in</a> or <a href="/signup">make a new account</a> to get the full shindig!</h3>
