<h1> Welcome to Fwitter </h1>

<p> If you already have an account click here to login </p>
<a href="/login">Login</a>

<p> If you do not already have an account, click here to sign up: </p>
<a href="/signup">Signup</a>
