<!DOCTYPE html>
<html>
<head>
  <title>FWITTER</title>
</head>
  <body>
    <h1><label>Welcome to Fwitter</label></h1>
    <h2>Session[:user_id]: <%= session[:user_id] %></h2>
    <h3><label><a href="/signup">SIGN UP</a></label></h3>  
    <h3><label><a href="/login">LOGIN</a></label></h3>
  </body>
</html>