<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter</h1>
    <h3><a href="/login">Log In</a></h3>
    <h3><a href="/signup">Sign Up</a></h3>
    <br>
    <p><a href="/tweets">All Tweets</a></p>

  </body>
</html>
