<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="#">fwitter</a>
    </div>
  </div>
</nav>
<body class="mountain-background">
	<div class="container">
	<div class="vertical-tweak">
		<div class="row">
			<div class="col-md-8 white-text">
				<br>
				<h1 class="pretty-text"><strong>Welcome to Fwitter.</strong></h1>
				<h3 class="pretty-text"><strong>Connect with your friends - and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</strong></h3>
			</div>
			<div class="col-md-3 boxy">
			  <div class="container-fluid">
		      <form class="form-signin" action="/login" method="post">
		        <h4 class="form-signin-heading">Please sign in</h4>
		        <label for="inputEmail" class="sr-only">Email address</label>
		        <input type="text" id="inputEmail" class="form-control" placeholder="Account Name" name="user_name" required autofocus>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="inputPassword" class="form-control" name="user_pass" placeholder="Password" required>
		        <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
		      </form>
	      <br>
	      <h4 class="form-signin-heading">Don't have an account?</h4>
				<form method="get" action="/signup"><button class="btn btn-md btn-default btn-block" type="submit">Create Account</button></form>
				<br>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
