<<<<<<< HEAD
Welcome to Fwitter

<a href="/signup">Signup</a>
<a href="/login">Login</a>
=======
<h2>Welcome to Fwitter</h2>

<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
>>>>>>> 76a5b44317ee248bf824ba9f06ea7a7e0f1ec883
