<h1>Welcome to Fwitter!</h1>

<p>A twitter-inspired service for Flatiron School students</p>
<figure>
  <a href="https://flatironschool.com/"><img src="https://curriculum-content.s3.amazonaws.com/web-development/FIS_New_Logo.png" alt="Flatiron School Logo"></a>
</figure>