<h1>Welcome to Fwitter</h1>

<% if Helpers.logged_in?(session) %>
  <form action="/logout" method="GET">
    <input type="submit" value="Log Out">
  </form>
<% else %>
  <form action="/login" method="GET">
    <input type="submit" value="Log In">
  </form>
  or
  <form action="/signup" method="GET">
    <input type="submit" value="Sign Up">
  </form>
<% end %>
