<h1>Welcome to Fwitter</h1>

<a href="/login">Login</a>
<a href="/signup">Sign Up</a>

<% @users.each do |user| %>
  <p><%= user.username %></p>
<% end %>

<h2>tweets</h2>

<% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>
