<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter</title>
  </head>
  <body>
<h1>Welcome to Fwitter</h1>
<a href="/signup">Sign Up for Fwitter</a>
<p></p>
<a href="/login">Log in to Fwitter</a>
  </body>
</html>
