<div class="jumbotron">
  <div class="wrapper">
    <div class="content">
      <br></br>
      <h1><strong>Welcome to Fwitter</strong></h1><br></br>
      <img src="/images/fwitter2.png" class="img-circle" alt="Fwitter-Logo"><br></br>
      <a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to continue.
    </div>
  </div>
</div>
