<div class="jumbotron">
  <h1> Welcome to Fwitter </h1>
</div>

<div class="alert alert-success" role="alert">
  <a href="/signup" class="alert-link"> Click here to signup </a>
</div>

<div class="alert alert-info" role="alert">
  <a href="/login" class="alert-link"> Click here to login </a>
</div>