<html>
<head>
  <h1>Welcome to Fwitter!</h1>
</head>
<h3>Sign In:</h3>
<form action="/index" method="POST">
  <p>Username<input type="text" name="name"> </p>
  <p>Email<input type="text" name="email"></p>
  <p>Password<input type="texe" name="password"></p>
  <input type="submit" value="Sign-in">

</form>
<a href="/signup">Sign Up</a>
</html>
