<form action="/tweets" method="POST">
<label>Login: </label><br><br>
Username: <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
<input type="submit" value="Login"><br><br>
</form>

<form action="/tweets/new" method="POST">
<label>Sign Up: </label><br><br>
Username: <input type="text" name="username"><br>
Email: <input type="text" name="email"><br>
Password: <input type="text" name="password"><br>
<input type="submit" value="Signup"><br>
</form>
