
<div class="container" id="form1">
    </br>
    <h1>Welcome to Fwitter</h1>

    <button type="button" class="btn btn-secondary"><a href="/login">Login</a></button>
       <br> </br>

    <button type="button" class="btn btn-secondary"><a href="/signup">Sign Up</a></button>
    <br> </br>
</div>