<div class="tweet center"><h2>Welcome to Fwitter!</h2>
<br>
<form action="/signup" method="get">
  <input type="submit" value="Sign up">
</form>
<form action="/login" method="get">
  <input type="submit" value="Log in">
</form>
</div>
