<h1>Welcome to Fwitter!</h1>

<p>Connect with fellow Flatiron students  — and other fascinating people. 
Get in-the-moment course updates and watch study group sessions, in real time, from every angle.</p>

<h3>Already a user?</h3>
<p><a href="/login">Log In Here</a></p>

<h3>New to Flatiron Twitter?</h3>
<p><a href="/signup">Sign Up Here</a></p>