<!doctype html>
<html>
  <head>
    <title>Welcome to Fwitter</title>
  </head>
  <body>


      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>

      <h1> Fwitter</h1>


    </body>
    </html>
