<h1 class="text-center">Welcome to Fwitter</h1>
<div class="text-center">
    <a href="/login" class="btn btn-primary"  role="button">Log In</a>
    <a href="/signup" class="btn btn-primary"  role="button">Sign Up</a>
</div>
