<h1>Welcome to Flatiron's Twitter - Fwitter!</h1>
<br>
<!--go here for button styling tags: 
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp>-->

<button type="button">
  <h2><a href="/login">Login</a></h2>
</button><br><br>

<button type="button">
  <h2><a href="/signup">Signup</a></h2>
</button>