<h1>Welcome to Fwitter</h1>

<form action="/login" method="get">
  <input type="submit" value="Login">
</form>

<form action="/signup" method="get">
  <input type="submit" value="Create New Account">
</form>
