

<form method='GET' action="/login">
    <input type="submit" value="LOGIN" >
</form>

<form method="GET" action="/signup" >
    <input type="submit" value="SIGNUP">
</form>

<!--
<a href = '/login'>login</a>
<a href = '/signup'>signup</a>
-->
