user/index.erb

<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

<h1> Welcome to Fwitter! </h1>
  <a href="/signup"><h3> <label> Sign up <label> </a> </h3>
  <a href="/login"><h3> <label> Login <label>  </a> </h3>

</body>
</html>
