<h3>Welcome to Fwitter</h3>

<a class="btn btn-default btn-group" href="/tweets" role="button">View Feed</a>
<a class="btn btn-default btn-group" href="/login" role="button">Log In</a>
<a class="btn btn-default btn-group" href="/signup" role="button">Sign Up</a>
<a class="btn btn-default btn-group" href="/logout" role="button">Log Out</a>
