<div class="main">

  <h2>Sign Up to Fwitter</h2> <br>

  <form action="/signup" method="POST">
    Username: &nbsp;<input type="text" name="username" placeholder="Create Username" autocomplete="off"><br></br>
    Email: &nbsp;<input type="text" name="email" placeholder="Create Email" autocomplete="off"><br></br>
    Password: &nbsp;<input type="text" name="password" placeholder="Create Password" autocomplete="off"><br></br>
    <input type="submit" value="Sign Up">
  </form> <br></br>

  <div class="invalid">
    Username or email account already exists.<br>
  </div>
  <br></br><br>

  Already a user? &nbsp;<u><a href="/login">Log In</u>
</div>
