<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/tweets">Tweets</a>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
