<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ftwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
       #grad1 {
       height: 800px;
       background: red; /* For browsers that do not support gradients */
       background: linear-gradient(to bottom right,pink, white); /* Standard syntax (must be last) */
      }
      </style>
</head>
<body>
  <%= yield %>
</body>
</html>
