<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Flatiron Twitter</h1>
    <% if logged_in? %>
      <p><a href="/users/show">Home</a></p>
      <p><a href="/tweets/new">New Tweet</a></p>
      <p><a href="/tweets">Global Feed</a></p>
      <p><a href="/logout">Log Out</a></p>
    <% end %>
    <%= yield %>

  </body>
</html>
