<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome, to Fwitter!</h2>
      <%= yield %>
      <a href="/login">Already have an account? Sign-in here!</a>
    </div>
  </body>
</html>
