<!DOCTYPE html>
<html>
<body>

<div>
<a href="/">Home</a>
<% if !logged_in? %>

<a href="/login">Log In</a>
<a href="/signup">Sign Up</a>

<% else %>

<a href="/logout">Log Out</a>

<% end %>
</div>

<h1>Fwitter</h1>
<%= yield %>


</body>
</html>