<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter; not a copyright violation at all.</title>
  </head>

  <body>
    <header>
      <h3>{<a href='/'>Home</a>}</h3>
      <h4>{<a href='/tweets'>My Fweets</a>;<a href='/logout'>(logout)</a>} {<a href='/'>Other fweeters</a>} {<a href='/tweets/new'>Fweet</a>;} </h4>
    </header>
    <%= yield %>
  </body>
</html>
