<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter</title>
  </head>
  <body>
    <%= yield %>
    <!-- <%if !logged_in?%>
      <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
    <%end%> -->
  </body>
</html>
