<!doctype html>
<html>
   <head>
      <title>Fwitter</title>
   </head>
   <body>

      <div align="right">
         <h4>
            <a href="/logout">Log Out</a>
         </h4>
      </div>

      <br>

      <div class="container">

         <%= yield %>
      </div>

   </body>
</html>
