<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <p>Welcome to Fwitter</p>
  </head>
  <body>

    <div class="container">
      <h1>Fwitter</h1>
      <%= yield %>

    </div>

  </body>
</html>
