
<!DOCTYPE html>
<html>
	<head>
		<title>Fwitter</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<nav>
			<% if logged_in? %>
			<a href="/tweets"> Home Page </a>
			<a href="/tweets/new"> Compose Tweet </a>.
			<a href="/logout">Log Out</a><br>
			Welcome, <%=current_user.username%><br>

			<%else%>
			<a href="/signup"> Sign Up</a>
			<a href="/login"> Sign In</a>

			<div class="container">
			<h1>Welcome to Fwitter</h1>

		</div>
		<%end%>
<%=yield%>
		</nav>

</body>
</html>

