<!DOCTYPE <html>
<head>
  <title>Fwitter</title>
</head>
<body>
  <button type="submit"><a href="/home">Back to homepage</a></button>
  <br></br>

  <%= yield %>

<!--   <button type="submit"><a href="/login">Write a New Tweet></a></button>
  <br></br>
  <button type="submit"><a href="/logout">Log out</a></button> -->

</body>
</html>