<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">

      <% if !!flash[:error] %>
        <alert style="color:red;"><%= flash[:error] %></alert>
      <% end %>

      <% if !!flash[:message] %>
        <alert style="color:green;"><%= flash[:message] %></alert>
      <% end %>

      <%= yield %>
      
    </div>

  </body>
</html>
