<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="nav">
    <% if logged_in? %>
      <a href="/tweets/new"><h4>Add a Tweet</h4></a>
      <a href="/logout"><h4>Log Out</h4></a>
      <a href="/tweets"><h4>See All Tweets</h4></a>
    <% end %>
    </div>


    
     <%= yield %>
  </body>
</html>
