<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
    <b>
    <% if !session[:user_id] == nil %>
    Username: <%=  User.find(session[:user_id]).username %>
    <% end %>
    </b>
    <%=yield%>
    <b><label><a href="/signup">Sign up</a></label></b><br>
    <b><label><a href="/login">Log in</a></label></b><br>
    <b><label><a href="/logout">Log out</a></label></b><br>
    <b><label><a href="/tweets/new">Create Tweet</a></label></b><br>
    <b><label><a href="/tweets">View Tweets</a></label></b><br>
    </div>

  </body>
</html>
