<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter</title>
    <style>
          body { background-color: #8BA8B7;}
        
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
