<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="/">
          <div class="logo">
            FWITTER
          </div>
        </a>
        <div class="link">
          <% if logged_in? %>
            <a href="/logout">Logout</a>
          <% else %>
            <a href="/login">Login</a>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
