<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fwitter</title>
  </head>


<%= yield%>
<a href = "/">Home</a>
<% if !logged_in? %>
  <a href = '/signup'>Sign Up</a>
<%end%>
<% if !logged_in? %>
  <a href = '/login'>Log In</a>
<%end%>
<% if logged_in? %>
  <a href = '/logout'>Log Out</a>
<%end%>
</html>
