<!DOCTYPE html>
<html>
  <head>

 
<body>
	<%= yield %>
	<% if logged_in? %>
		<h5>Logged in as <span class="loggedin"><%= current_user.username %></span> <span class="logout"><a href="/logout">(logout)</a></span></h5>
	<% end %>
</body>




</html>