<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Fwitter!</h1>

      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% elsif flash.has?(:error) %>
          <%= flash[:error] %>
      <% end %>

      <%= yield %>

      
    </div>

  </body>
</html>
