<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: white;
    color: black;
  }

  .tweets {
    background-color: #d3d3d3;
  }
  </style>
  <body>

    <div class="container">


      <h1>Welcome to Fwitter!</h1>

      <ul>
        <li>
          <a href="/">Main Menu</a>
        </li>
        <li>
          <a href="/tweets">Personal Feed</a>
        </li>
        <li>
          <a href="/tweets/new">Post a Tweet</a>
        </li>
      </ul>
     

    </div>
      <hr>
      <div class="tweets">
      <%= yield %>
      <hr>
      </div>
  </body>
</html>
