<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <%= yield %>
    <div class="container">
      <br><br><br>
      <p>Don't forget to <strong>yield</strong> your views!</p>
    </div>

  </body>
</html>
