<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% if logged_in? %>
    <%= erb :'layouts/_header' %>
  <% end %>
  <%= yield %>
</body>
</html>