<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
    <div class="heading">
        <h1>Fwitter</h1>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
