<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
<!--
    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h3>This is located in layout.erb!</h2>
      <h4>Don't forget to <strong>yield</strong> your views!</h2>
      <a href="/tweets/new"> Create Tweet </a>
      <br>
      <a href="/logout"> Log Out </a>
    </div>
-->

<!--The yield below pulls in everything from index.erb, but how? -->
<%= yield %>
  </body>
</html>
