<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <% if session.has_key?(:user_id) %>
        <a href="/tweets">Newsfeed</a>
        <a href="/logout">Log Out</a>
      <% else %>
        <p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> </p>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
