<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <body style="background-color:powderblue;">
    <div class="container">
      <%=yield%>
    </div>

  </body>
</html>
