<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fwitter</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/logout">Logout</a></li>
        <li role="presentation" class="active"><a href="/tweets/new">New Tweet</a></li>
      </ul>
  <% else %>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/signup">Sign Up</a></li>
        <li role="presentation" class="active"><a href="/login">Log In</a></li>
      </ul>
      <%end %>
    </nav>




    <div class="container">
      <h1 align="center">Fwitter</h1>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
