<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">

      <%= yield %>
      <p>Welcome, </p>
      <h2>Signup</h2><h2>Log in</h2>
      <input type="submit" value="submit">



    </div>

  </body>
</html>
