<!Doctype html>
<html>
<head>
  <title> Fwitter </title>
</head>

<body>
  <h1> Flatiron School Fwitter</h1>
  <img src="https://cdn-images-1.medium.com/max/1600/1*U7fJ32l0c-t5mv9VVW5yeg.png" alt="Flatiron School Logo">

  <%= yield %>

</body>
</html>
