<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<title>f w i t t e r .</title>
</head>
<body>
	<%= yield %>
</body>
</html>