<!DOCTYPE html>
<html>
<body>

<div>
<a>Home</a>
<% if !logged_in? %>

<a>Log In</a>
<a>Sign Up</a>

<% else %>

<a>Log Out</a>

<% end %>
</div>

<h1>Welcome to Fwitter</h1>
<%= yield %>


</body>
</html>