<!doctype html>
<html>
  <head>
    <title>Welcome to Fwitter</title>
  </head>
  <body>
    <% if logged_in%>
      <a href="/logout"> Log Out</a>
      <p> Welcome, <%=current_user.username%></p>
      <%= yield %>
      <% else %>
        <a href="/signup"> Sign Up </a>
        <a href="/login"> Sign In </a>
        <% end %>

  </body>
</html>
