<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <%= yield %>

    </div>
    <br><a href="/tweets/new">Create New Tweet</a>
    <br><a href="/tweets">All Tweets</a>
    <br><a href="/">Homepage</a>
    <br><a href="/logout">Log Out</a>

  </body>
</html>
