<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <% if logged_in? %>
    <p style="font-size:10px">Currently logged in as: <%= current_user.username %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
