<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% if flash[:notice] %>
  <h2><%= flash[:notice]  %></h2>
    <% end %>

  <%= yield %>
</body>
</html>