<head>
	<style type="text/css">
		h1 { color: #1dcaff; }
		.fwitter_button {
		border-radius: 100px;
		box-shadow: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		padding: 6px 16px;
		position: relative;
		text-align: center;
		white-space: nowrap;
		}
		a {text-decoration: none;}
		.button {
		border: 1px solid #1da1f2;
    	color: #fff;
    	}
		.button--primary {
		background-color: #1da1f2;    	
		}
		.button--edit {
			background: lightgreen;
		}
		.button--delete {
			background: tomato;
		}
		.tweet--card {
			background: lightblue;
			border-radius: 10px;
			border: 1px solid lightgreen;
			padding: 20px;
			float: left;
			clear: left;
			margin-bottom: 1em;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>