<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <script>
       setTimeout(function() {
        $('#flashMessage').fadeOut('fast');
       }, 3000);
    </script>
  </head>

  <body>
  <% if flash[:success] %>
    <div id="flashMessage" class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
    <div id="flashMessage" class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
      <%= yield %>
  </body>
</html>