<!doctype html>
<html>

  <head>
    <title>Fwitter</title>
  </head>

  <center>
    <body>
      <%= yield %>
    </body>

    <footer>
      <br><br><br><br>
      <a href="/"><button>Return to Homepage</button></a>
    </footer>
  </center>

</html>
