<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <%=yield%>

    <div class="container">
      <h3>New to Fwitter:</h3><br>
      <a href="/signup">Sign Up</a>
      <h4>Already have an Account?</h4><br>
      <a href="/login">login</a>
    </div>

  </body>
</html>
