
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <div>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
      <a href="/logout">Logout</a>
    </div>
    <%= yield %>
  </body>
</html>
