<!DOCTYPE html>
<html>
<head>
  <title> This is Fwitter! </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>