<!doctype html>
<html>
  <head>
  <style>
    
    .center{
    margin: auto;
    text-align: center;
    border: 3px solid black;
}
    </style>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container center">
      <h1>Welcome to Fwitter</h1>
      <%= yield %>
    </div>

  </body>
</html>
