<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <h1>Welcome to Fwitter</h1>
    <% if logged_in? %>
    <a href="/logout">Log Out</a>
    <br>
    <br>
    <a href="/tweets/new">Create Tweet</a>
    
    <h2>Welcome, <%= current_user.username %>.</h2>
    <% else %> 
    <a href="/signup">Sign Up</a>
    <a href="/login">Sign In</a>
    <% end %> 
    <%= yield %>

  </body>
</html>
