<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
<!--for navigation bar
     <ul>
        <li><a href="/">Welcome</a></li>
        <li><a href="/tweets">Tweets</a></li>
        <li><a href="/logout">Logout</a></li>
    <ul>
-->

    <div class="container">
      <h2>Welcome, to Fwitter!</h2>

    </div>
  </body>
  <%= yield %>
</html>
