<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <% if logged_in? %>
      <a href="/tweets/new">New Tweet</a>
      <a href="/logout">Log Out</a>

    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% end %>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
