<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Fwitter</title>
  </head>

  <header>
    <% if logged_in? %>
      <a href="/logout">Logout </a>
    <% else %>
      <a href="/login">Log In </a>
    <% end %>
  </header>

  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>

      <%= yield %>
    </div>

  </body>
</html>
