<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
      <!-- <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div> -->

    <%= yield %>

  </body>
</html>
