<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <header>
      <a href="/tweets">Tweets</a>
      <% if logged_in? %>
        <a href="/tweets/new">New Tweet</a>
        <a href="/logout">Log out</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </header>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
    </div>

    <%= yield %>

  </body>
</html>
