<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <a href="/tweets">Home</a>
    <% if logged_in?%>
    <a href="/logout">Log Out</a>
    <% end %>
    <%= yield %>
  </body>
</html>
