<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <h3>Fwitter</h3>
  <body>
    <%= yield %>
    <br>
    <a href="/tweets">Home</a>
    <a href="/tweets/new">New Tweet</a>
    <a href="/logout">Log Out</a>
  </body>
</html>
