<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <%if logged_in?%>
        <h3>Welcome, <%=current_user.username%></h3>
        <p><a href="/tweets">Home</a> || <a href="/users/<%=current_user.slug%>"><%=current_user.username%>'s Tweets</a> || <a href="/logout">Logout</a></p>
      <%else%>
        <h1>Welcome to Fwitter!</h1>
      <%end%>
      <%=yield%>
    </div>

  </body>
</html>
