<!DOCTYPE html>
<html>
  <head>

  </head>
<body>
  <h4> ------- My Fwitter ------- </h4><br>
  <%= yield %>
</body>
<footer><p>The only place to Fwitter away your time!</p>
  <form action="/tweets" method="GET">
    <input type="submit" name="Home" id="Home" Value="Home">
  </form>
</footer>
</html>
