<!DOCTYPE html>
<html>
  <head>
    fwitter
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <br>
    <!-- <form class="logout" action="logout" method="post">
      <input type="submit" name="logout" id="logout" value="logout">
    </form> -->
    <a href="/logout">Logout</a>
  </footer>
</html>
