<head>
	<style type="text/css">
		h1 { color: #1dcaff; }
		.fwitter_button {
		border-radius: 100px;
		box-shadow: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		padding: 6px 16px;
		position: relative;
		text-align: center;
		white-space: nowrap;
		}
		.button--primary {
		background-color: #1da1f2;
    	border: 1px solid #1da1f2;
    	color: #fff;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>