<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <% if logged_in? %>
      <p><a href="/users/show">Home</a></p>
      <p><a href="/tweets/new">New Tweet</a></p>
      <p><a href="/tweets">View Feed</a></p>
    <% end %>
    <%= yield %>
    <div class="container">
      <br><br><br>
      <p>Don't forget to <strong>yield</strong> your views!</p>
    </div>

  </body>
</html>
