<!doctype html>
<html>
  <head>
    <title>My Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="container">
    <nav class="navbar ">
      <a class="navbar-brand" href="">Welcome My Blog</a>
      <% if logged_in? %>
      <div class="pull-right ">
        <div class="navbar-brand">
          <a  href="">Welcome, <%=current_user.username.capitalize %></a>

        </div>
        <div class="text-right">
          <a href="/posts/new"> Create Blog </a>
          <a  href="/logout"> Log Out </a>
        </div>
      </div>
      <%end %>

    </nav>
    <div class="container">

      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
