<!doctype html>
<html>
  <head>
    <title>Good Listens</title>
  </head>
  <body>

    <div class="container">
      <h1>Good Listens</h1>
      
      <%= yield %>
      
    </div>

  </body>
</html>
