<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <% if logged_in? %>
      <a href="/tweets">Tweet Index</a><br>
      <a href="/logout">Log Out</a>
    <% end %>

    <%= yield %>

  </body>
</html>
