<html>
<head>
<title>Fwitter</title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <h4 class="subtitle">Logged in as <%= @user.username %> </h4>
  <div id="background-image"></div>
  <div class="text">
  <%= yield %>
</div>
  <br/><br/>
</body>

<footer>Fwitter &copy; 2018 -- By Naomi Dennis </footer>

</html>
