<html>
<head>
<title>Fwitter</title>
</head>
<body>
  <h4>Logged in as <%= @user.username %> </h4>
  <%= yield %>
  <br/><br/>
</body>

<footer>Fwitter &copy; 2018 -- By Naomi Dennis </footer>

</html>
