<h1>Please log in:</h1>

<form action="/login" method="post">
  Username:<input type="text" name="username" value=""><br>
  Password:<input type="text" name="password" value=""><br>
  <input type="submit" name="" value="submit">
</form>
