<h3>Login</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">Log In</input>
</form>

<p><a href="/signup">Not a user? Sign up here</a></p>
