<form method="POST" action="/login">
	<label>User Name: </label>
	<input type="text" name="username">
	<label>Password: </label>
	<input type="password" name="password">
	<input type="submit" value="submit">
</form>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>