<h1>Fwitter Login</h1>
<form action="/login" method="POST">
  <input class="btn btn-default" type="text" name="username" placeholder="Username:">
  <input class="btn btn-default" type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary" type="submit" value="submit">
</form>