<% if logged_in? %>
  <% redirect "/tweets" %>
<% end %>

<div class="row container-fluid">
<h3>Log in to your account:</h3>
<form class="form-group" action="/login" method="post">
  <label class="control-label" for="username">Username: </label><input type="text" name="username" autofocus="true">
  <label class="control-label" for="password">Password: </label><input type="password" name="password">
  <input type="submit" id="submit" value="Log In">
</form>
</div>
