
<form method="POST" action="/login">
<label>username: <input type="text" name="username" id="username" value="username"></label>
<label>password: <input type="text" name="password" id="password" value="password"></label>
<input type="submit" value="submit">
</form>