<form action="/login" method="POST">
  <h2>Please log in</h2>

  <label>Name</label>
  <input type="text" name="username">

  <label>Password</label>
  <input type="password" name="password">

  <input type="submit" value="submit">

</form>
