<div class="main">
  <h2>Login to Fwitter</h2> <br>

  <form action="/login" method="POST">
    Username: &nbsp;<input type="text" name="username" placeholder="Enter Username" autocomplete="off"><br></br>
    Password: &nbsp;<input type="text" name="password" placeholder="Enter Password" autocomplete="off"><br></br>
    <input type="submit" value="submit">
  </form> <br></br><br>

  Not yet a user? &nbsp;<u><a href="/signup">Sign Up</u>
</div>
