<form action="/login" method="post">
<h2>Please enter a username and password to login</h2>
	<p>Username: <input type="text" name ="username"></p> 
	<p>Password: <input type="text" name ="password"></p>
	<button value="submit">Log In</button>
</form>