<h1>Login</h1>

<form method="POST" action='/login'><br/>
Username: <input type="text" name="username" required><br/>
Password: <input type="text" name="password" required><br/>
<input type="submit" value="submit"><br/>
</form>
