<h1>Please Log In:</h1>
<form action="/login" method="post">
  Username: <input type="text" value="user[name]" name="username">
  Password: <input type="text" value="user[password]" name="password">
  <input type="submit" value="Log In">
</form>
