<h1>Welcome to Fwitter</h1>
<form action="/login" method="POST" accept-charset="utf-8">
  <label>username:<input type="text" name="username" value=""></label>
  <label>password:<input type="text" name="password" value=""></label>
  <label><input type="submit" name="login" value="login"></label>
</form>