<h1>Log in to Fwitter</h1>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password">
  <button type="submit" value="sign_up">Log In</button>
</form>
