<h1>Post a Tweet!</h1>

<form action="/tweets" method="POST">
  <label>Tweet:</label>

  <br></br>

  <textarea id="content" name="content" rows="8" cols="80">Your tweet goes here.</textarea>

  <br></br>

  <input type="submit" id="submit" value="Post Tweet">

</form>
