<div align="left">
  <div class="container">
    <h3>Welcome, <%= @user.username%></h3>
    <br>
    <h4>Your tweets</h4>
    <br>
    <div class="container">
      <dl>
        <% @user.tweets.order(id: :desc).each do |tweet| %>
            <dt><h5><%=tweet.content %></h5></dt>
            <dd>&nbsp;&nbsp;&nbsp; - <%=(tweet.created_at + Time.zone_offset('PST')).strftime("%a. %b. %d, %Y %I:%M %p") %></dd>
    <% end %>
      </dl>
    </div> <!-- 2nd container -->
  </div> <!-- 1st container -->
</div> <!-- alignment -->
