<h1>Tweet <%= @tweet.id %></h1>

<%= @tweet.content %>

<% if current_user == @tweet.user %>
  <p>
  <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
  </p>
<% end %>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input type="submit" value="Delete Tweet">
</form>
