<h3><%=@tweet.content%></h3>

<form class="" action="/tweets/<%=@tweet.id%>/delete" method="post">
  <button type="submit" name="Delete Tweet">Delete Tweet</button>
</form>

<form class="" action="/tweets/<%=@tweet.id%>" method="post">
  <button type="submit" name="Edit Tweet">Edit Tweet</button>
</form>
