<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form method="post" action="/signup">
	<label>Name: </label><br>
	<input type="text" name="username"><br>
	<label>Email: </label><br>
	<input type="email" name="email"><br>
	<label>Password: </label><br>
	<input type="password" name="password"><br>
	<input type="submit" value="Sign Up">
</form>