<form method="post" action="/signup">
  <label>Username</label>
  <input type="text" id="username" name="username">
  <label>Email</label>
  <input type="text" id="email"  name="email">
  <label>Password</label>
  <input type="password" name="passwrod">

  <input type="submit" value="Sign Up">
</form>
