<form action="/signup" method="post">

  <input type="text" name="username" value=""><br>
  <input type="text" name="email" value=""><br>
  <input type="password" name="password" value=""><br>

  <input type="button" name="Signup" value="Signup">
</form>
