<h2>Signup For Fwitter</h2>

<form action="/signup" method="post">
  <label>username</label>
  <br>
  <input type="text" name="username">
  <br>
  <label>email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label>password</label>
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
