<h1>Fwitter Signup</h1>
<h3>Please create a Fwitter account</h3>

<form action="/signup" method="POST">
  <input class="btn btn-default" type="text" name="username" placeholder="Username:">
  <input class="btn btn-default" type="text" name="email" placeholder="Email:">
  <input class="btn btn-default" type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary" type="submit" value="Log In">
</form>
