<h1>Welcome to Fwitter</h1>

<form method='post' action='/signup'>
<label for='user_name'>Username:</label>
<input type='text' name='username' id='user_name'>

<label for='user_email'>Email:</label>
<input type='text' name='email' id='user_email'>

<label for='password'>Password:</label>
<input type='text' name='password' id='user_password'>

<input type="submit" value="Sign Up">
</form>