<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Tweets</h1>
    </div>

    <div class="container">
      <h1>Sign Up!</h1>
    </div>

    <div class="container">
      <h1></h1>
    </div>

    <form action="/signup" method="POST">
      <label>Username:</label>

      <br></br>
      <input type="text" name="username" id="username">

      <br></br>
      <label>Password:</label>
      <br></br>
      <input type="text" name="Password" id="Password">


      <label>Email:</label>
      <br></br>
      <input type="text" name="Email" id="Email">

      <input type="submit" value="Sign Up">
    </form>

  </body>
</html>
