<h1>Signup for Fwitter</h1>

<form method="POST" action="/signup">
  <label>Username:</label>
  <input type="text" name="username" id="user_id" required>
  <label>Email:</label>
  <input type="email" name="email">
  <label>Password:</label>
  <input type="password" name="password">

  <input type="submit" value="Signup">
</form>