<h2>Welcome to the Fwitter Sign Up Page</h2><br>

<form action="/signup" method="post">
	<label>Name: <input type="text" name="username"></label><br>
	<label>Email: <input type="text" name="email"></label><br>
	<label>Password: <input type="text" name="password"></label><br>
	<input type="submit" name="submeit" value="submit">
</form>