<h1>Create your account here!</h1>
<form action="/signup" method="post">
<ul>
  <li>Username: <input type="text" name="user[username]" id="username"></li>
  <li>Email: <input type="text" name="user[email]" id="password"></li>
  <li>Password: <input type="password" name="user[password]" id="password"></li>
</ul>
<input type="submit" value="Sign Up">
</form>
