<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>
    <div style="text-align: center"><h1>Signup for Fwitter!</h1></div>

    <div class="sign_up_form">
      <form action="/signup" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="user_name">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Create User">
      </form>
    </div>

  </body>
</html>
