<form method="post" action='/signup'>
  <label>Username: </label><input type="text" name="user[username]">
  <label>Email: </label><input type="text" name="user[email]">
  <label>Password: </label><input type="text" name="user[password]">
  <input type="submit" value="Sign Up">
</form>
