<form action='/signup' method="POST">
<h1>Sign Up Below:</h1>

<label for="username">username</label>
<input  type="text" name="username" /><br>


<label for="email">email</label>
<input  type="text" name="email" /><br>


<label for="password">password</label>
<input  type="password" name="password" /><br>


<input type="submit" value="Sign Up">
</form>
