<h1>Sign Up to Fwitter</h1>

<form action="/signup" method="POST">
  Username: <input type="text" name="username" placeholder="Create Username"><br></br>
  Email: <input type="text" name="email" placeholder="Create Email"><br></br>
  Password: <input type="text" name="password" placeholder="Create Password"><br></br>
  <input type="submit" value="Sign Up">
</form>
