<h1>Sign Up</h1>

<form action="/signup" method="POST">
  <br>Username:
  <input type="text" name="username">
  <br>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="email">
  <br>Password:
  <input type="text" name="password">
  <br><input type="submit" value="Sign Up">
</form>
