<h1>Signup for Fwitter</h1>

<form method="POST" action="/signup">

Username <input type="text">
Email <input type="email">
Password <input type="password">

<input type="submit" value="Signup">

</form>