<h1>Signup</h1>

<form method="POST" action="/signup">
  <lable for="email">Email:</lable>
  <input type="text" name="email" id="email" />
  <br />
  <lable for="username">Username:</lable>
  <input type="text" name="username" id="email" />
  <br />
  <lable for="password">Password:</lable>
  <input type="password" name="password" id="email" />
  <br />
  <br />
  <input type="submit" value="Signup" />
</form>
