<h2>Sign Up for Fwitter!</h2>

<form action="/signup" method="post">
  <input type="text" name="username" id="username">
  <input type="text" name="email" id="email">
  <input type="text" name="password" id="password">
  <input type="submit" value="Sign Up">
</form>
