
<h1>New User Signup</h1>
<form method="post" action="/signup">
    username:<input type="text" id="username" name="username">
    <br></br>
    email <input type="text" id="email" name="email">
    <br></br>
    password<input type="password" id="password" name="password">

   
    <input type="submit" value="Signup">

</form>
