<h1>Welcome to Fwitter</h1>

<h3>Sign up for the latest from nobody</h3>

<form action='/signup' method='POST'>

<p>Desired Username: </p>
<input type="text" name="username" id="username">

<p>Email Address: </p>
<input type="text" name="email" id="email">

<p>Password: </p>
<input type="password" name="password" id="password">

<input type="submit" value="submit">

</form>
