<h1>Sign Up</h1>

Enter your username, email, and password below:<br/>
<form  method="POST" action='/signup'><br/>
  Username: <input type="text" name="username" placeholder="username" size="20" ><br/>
  Email:<input type="text" name="email" placeholder="hotdog@gmail.com" ><br/>
  Password<input type="text" name="password" placholder="p@ssword12" size="24" ><br/>
  <input type="submit" value="Create User">
</form>
