
<h2> fill it out:</h2>

<form method="POST" action="/signup">
  <label name="username">Username: <input type="text" name="username" id="username" value="username"></label>
  <label name="email">Email: <input type="text" name="email" id="email" value="email"></label>
  <label name="password">Password" <input type="password" name="password" id="password" value="password"></label>
  <input type="submit" value="create user">
</form>