<h1>Create an Account</h1>

<form class="" action="/signup" method="post">
  <label for="username">Username:</label><br>
  <input type="text" name="username" value="" id="username">

  <br><br>

  <label for="email">E-mail Address: </label><br>
  <input type="email" name="email" value="" id="email">

  <br><br>

  <label for="password">Password:</label><br>
  <input type="password" name="password" value="" id="password">

  <br><br>

  <input type="submit" value="Sign Up">


</form>
