<h3>Sign up</h3>

<form method="post" action="/signup">
    <label>Username:</label>
	<input type="text" name="username">
	<label>Email:</label>
	<input type="text" name="email">
	<label>Password:</label>
	<input type="password" name="password">

	<input type="submit" value="Signup">
</form>
