<label>Sign Up Below:</label>
<form method="post" action="/signup">
  <label>Username:</label>
  <input type "text" name="username"  id="username">
  <br></br>
  <label>Enter a valid email address:</label>
  <input type="text" name="email"  id="email">
  <br></br>
  <label>Create a password to signup:</label>
  <input type="name" name="password"  id="password">
  <br></br>
  <label>Click to Signup:</label>
  <input type="submit"  value="Sign up">
</form>
