<h2>User Signup</h2>

<form class="text" action="/signup" method="post">

<label for="user_username">Username: </label>
<input type="text" id='user_username' name="username" placeholder = 'username'>

<label for="user_email">Email: </label>
<input type="text" id='user_email' name="email" placeholder = 'email'>

<label for="user_password">Password</label>
<input type="password" id='user_password' name="password" placeholder = 'password'>
<input type="submit" value="Create User">

</form>

<a href="/">Home</a>
