<h1>Signup Page</h1>

<form class="" action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id ="username" value="" placeholder="User Name">

  <label for="email">Email: </label>
  <input type="email" name="email" id = "email" value="" placeholder="E-mail">

  <label for="pswd">Password: </label>
  <input type="password" name="password" id ="pswd"   value="" placeholder="Password">

  <input type="submit" name="" value="Submit">
</form>
