<h2><font color="blue">Create your account</font></h2>
<form method="POST" action='/<%=user_id%>/index'>
  <div>
    <p>Name: <input type="text" name="name"></p>
    <p>Phone: <input type="email" name="email"></p>
  </div>
  <input type="submit" name="Sign Up">
</form>
