<h2> Sign up to Fwitter </h2>
<form method="post" action="/user/show">
  <label> Username </label>
  <input type="text" name="username" id="user_id">
  <br>
  <label> Email </label>
  <input type="text" name="email" id="email_id">
  <label> Password </label>
  <input type="text" name="password" id="password_id">
  <input type="submit" id="Sign Up">
</form>
