<h1>Sign Up</h1>

<form action='/tweets_controller' method="POST">
  <label>username</label>
  <br/>
  <input type="text" name="name">
  <br/>
  <label>email</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
