<h1>Welcome, <%=@user.username%></h1>
<h2>Here are your tweets:</h2>
 <br><br>
 <%@tweets.each do |tweet|%>
 <h3><%=tweet.content%></h3>
<%end%>
<br>

<br/>
<a href="/tweets/new">Create a new tweet </a>
