<h1>Welcome, <%= current_user.username %>!</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li><a href="/tweets/<%=tweet.id%>"><%= tweet.content %></a> by <%=tweet.user.username%></li>
  <% end %>
</ul>

<a href="/tweets/new">New Tweet</a>

<p><a href="/logout">Log Out</a></p>
