
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>


<h1>Create a new exercise class:</h1>

<form action="/new" method="POST">
  <p><h2><label>Content:</label></h2>
  <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
  <input type="text" name="content" id="content" required</p>
  <br></br>
   <input type="submit" id='submit' value="Exercise">
</form>

    <p><a href="/exercises">Home</a></p>
