<h2>The following tweet was deleted:</h2>

  <p>"<%= @exercise.content %>"</p>

<a href="/exercises/new">Create a Tweet</a></p>
<p><a href="/logout">Logout</a></p>
<p><a href="/exercises">Home</a></p>
