<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Hey! This isn't your exercise Class!</h1>

<p><a href="/exercises/new">Create a New Exercise Class</a></p>
<p><a href="/exercises">Home</a></p>
