<h1>Create Landmark </h1>

<form action='/landmarks' method="POST">
	<% #binding.pry %>
	<h3>Landmark Name: </h3>
	<input type="text" name="landmark[name]" id="landmark_name">
	<h3>Year Constructed: </h3>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
	<input type="submit" name="submit" value="Create New Landmark">
</form>
